<rd-header>
  <rd-header-title title-text="群集可视化">
    <a data-toggle="tooltip" title="刷新" ui-sref="docker.swarm.visualizer" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content> <a ui-sref="docker.swarm">集群</a> &gt; <a ui-sref="docker.swarm.visualizer">群集可视化</a> </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title-text="集群信息">
        <div class="pull-right">
          <button type="button" class="btn btn-sm btn-primary" ng-click="changeShowInformationPanel(true)" ng-if="!state.ShowInformationPanel">显示</button>
          <button type="button" class="btn btn-sm btn-primary" ng-click="changeShowInformationPanel(false)" ng-if="state.ShowInformationPanel">隐藏</button>
        </div>
      </rd-widget-header>
      <rd-widget-body ng-if="state.ShowInformationPanel">
        <table class="table">
          <tbody>
            <tr>
              <td>节点</td>
              <td>{{ nodes.length }}</td>
            </tr>
            <tr>
              <td>服务</td>
              <td>{{ services.length }}</td>
            </tr>
            <tr>
              <td>任务</td>
              <td>{{ tasks.length }}</td>
            </tr>
          </tbody>
        </table>
        <form class="form-horizontal">
          <div class="col-sm-12 form-section-title">
            选项
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label text-left">
                仅显示正在运行的任务
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" ng-model="state.DisplayOnlyRunningTasks" ng-change="changeDisplayOnlyRunningTasks()" /><i></i>
              </label>
            </div>
            <div class="col-sm-12">
              <label class="control-label text-left">
                显示节点标签
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="state.DisplayNodeLabels" ng-change="changeDisplayNodeLabels()" /><i></i> </label>
            </div>
          </div>
        </form>
        <form class="form-horizontal">
          <div class="col-sm-12 form-section-title">
            刷新</div>
          <div class="form-group">
            <label for="refreshRate" class="col-sm-1 margin-sm-top control-label text-left">
              速度
              <i id="refreshRateChange" class="fa fa-check green-icon" aria-hidden="true" style="display: none;"></i>
            </label>
            <div class="col-sm-2">
              <select id="refreshRate" ng-model="state.refreshRate" ng-change="changeUpdateRepeater()" class="form-control">
                <option value="5">5s</option>
                <option value="10">10s</option>
                <option value="30">30s</option>
                <option value="60">60s</option>
              </select>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="visualizerData">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-object-group" title-text="群集可视化"></rd-widget-header>
      <rd-widget-body>
        <div class="visualizer_container">
          <div class="node" ng-repeat="node in visualizerData.nodes | orderBy : ['Role', 'Hostname'] track by $index">
            <div class="node_info">
              <div>
                <div>
                  <b>{{ node.Name || node.Hostname }}</b>
                  <span class="node_platform">
                    <i class="fab fa-linux" aria-hidden="true" ng-if="node.PlatformOS === 'linux'"></i>
                    <i class="fab fa-windows" aria-hidden="true" ng-if="node.PlatformOS === 'windows'"></i>
                  </span>
                </div>
              </div>
              <div>{{ node.Role }}</div>
              <div>CPU: {{ node.CPUs / 1000000000 }}</div>
              <div>Memory: {{ node.Memory | humansize: 2 }}</div>
              <div
                ><span class="label label-{{ node.Status | nodestatusbadge }}">{{ node.Status }}</span></div
              >
              <div class="node_labels" ng-if="node.Labels.length > 0 && state.DisplayNodeLabels">
                <div>标签</div>
                <div class="node_label" ng-repeat="label in node.Labels">
                  <span class="label_key">
                    {{ label.key }}
                  </span>
                  <span class="label_value" ng-if="label.value"> = {{ label.value }} </span>
                </div>
              </div>
            </div>
            <div class="tasks">
              <div
                class="task task_{{ task.Status.State | visualizerTask }}"
                style="border: 2px solid {{ task.ServiceId | visualizerTaskBorderColor }}"
                ng-repeat="task in node.Tasks | orderBy: 'ServiceName' | filter: (state.DisplayOnlyRunningTasks || '') && { Status: { State: 'running' } }"
              >
                <div class="service_name">{{ task.ServiceName }}</div>
                <div>镜像: {{ task.Spec.ContainerSpec.Image | hideshasum }}</div>
                <div>状态: {{ task.Status.State }}</div>
                <div>更新: {{ task.Updated | getisodate }}</div>
                <div ng-if="task.Spec.Resources.Limits.MemoryBytes">内存限制: {{ task.Spec.Resources.Limits.MemoryBytes | humansize: 2:2 }}</div>
                <div ng-if="task.Spec.Resources.Limits.NanoCPUs">CPU 限制: {{ task.Spec.Resources.Limits.NanoCPUs / 1000000000 }}</div>
              </div>
            </div>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
