<page-header title="'堆栈详情'" breadcrumbs="[{label: '堆栈', link:'docker.stacks'}, stackName]" reload="true"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <uib-tabset active="state.activeTab">
          <!-- tab-info -->
          <uib-tab index="0">
            <uib-tab-heading>
              <pr-icon icon="'list'"></pr-icon>
              堆栈
            </uib-tab-heading>
            <div style="margin-top: 10px">
              <!-- stack-information -->
              <div ng-if="external || orphaned">
                <div class="col-sm-12 form-section-title"> 信息 </div>
                <div class="form-group">
                  <span class="small">
                    <p class="text-muted">
                      <pr-icon icon="'alert-triangle'" mode="'warning'" class-name="'mr-0.5'"></pr-icon>
                      <span ng-if="external">该堆栈是在Portainer外部创建的。对该堆栈的控制受限。</span>
                      <span ng-if="orphaned">该堆栈是孤立的。您可以使用“将其与当前环境关联”功能重新关联它。</span>
                    </p>
                  </span>
                </div>
              </div>
              <!-- !stack-information -->
              <!-- stack-details -->
              <div>
                <div class="col-sm-12 form-section-title"> 堆栈详情 </div>
                <div class="form-group">
                  {{ stackName }}

                  <button
                    authorization="PortainerStackUpdate"
                    ng-if="regular && stack.Status === 2"
                    ng-disabled="state.actionInProgress"
                    class="btn btn-xs btn-success"
                    ng-click="startStack()"
                  >
                    <pr-icon icon="'play'"></pr-icon>
                    启动堆栈
                  </button>

                  <button
                    ng-if="regular && stack.Status === 1"
                    authorization="PortainerStackUpdate"
                    ng-disabled="state.actionInProgress"
                    class="btn btn-xs btn-light"
                    ng-click="stopStack()"
                  >
                    <pr-icon icon="'stop-circle'"></pr-icon>
                    停止堆栈
                  </button>

                  <button authorization="PortainerStackDelete" class="btn btn-xs btn-light" ng-click="removeStack()" ng-if="!external || stack.Type == 1">
                    <pr-icon icon="'trash-2'"></pr-icon>
                    删除堆栈
                  </button>

                  <button
                    ng-if="regular && stackFileContent"
                    class="btn btn-primary btn-xs"
                    ui-sref="docker.templates.custom.new({fileContent: stackFileContent, type: stack.Type})"
                  >
                    <pr-icon icon="'plus'"></pr-icon>
                    从堆栈创建模板
                  </button>
                  <button
                    authorization="PortainerStackUpdate"
                    ng-if="regular && stackFileContent && !stack.FromAppTemplate && stack.GitConfig"
                    ng-disabled="state.actionInProgress"
                    ng-click="detachStackFromGit()"
                    button-spinner="state.actionInProgress"
                    class="btn btn-primary btn-xs"
                  >
                    <pr-icon icon="'arrow-right'" class-name="'mr-1'"></pr-icon>
                    <span ng-hide="state.actionInProgress">从Git中分离</span>
                    <span ng-show="state.actionInProgress">正在分离...</span>
                  </button>
                </div>
              </div>
              <!-- !stack-details -->

              <!-- associate -->
              <div ng-if="orphaned">
                <div class="col-sm-12 form-section-title"> 关联到当前环境 </div>
                <p class="small text-muted"> 此功能允许您将此堆栈重新关联到当前环境。 </p>
                <form class="form-horizontal">
                  <por-access-control-form form-data="formValues.AccessControlData" hide-title="true"></por-access-control-form>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        ng-disabled="state.actionInProgress"
                        ng-click="associateStack()"
                        button-spinner="state.actionInProgress"
                        style="margin-left: -5px"
                      >
                        <pr-icon icon="'refresh-cw'" class="!mr-1"></pr-icon>
                        <span ng-hide="state.actionInProgress">关联</span>
                        <span ng-show="state.actionInProgress">正在关联...</span>
                      </button>
                      <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
                    </div>
                  </div>
                </form>
              </div>
              <!-- !associate -->
              <stack-redeploy-git-form
                ng-if="stack.GitConfig && !stack.FromAppTemplate && !state.actionInProgress"
                model="stack.GitConfig"
                stack="stack"
                authorization="PortainerStackUpdate"
                endpoint="applicationState.endpoint"
              >
              </stack-redeploy-git-form>
              <stack-duplication-form
                ng-if="regular && endpoints.length > 0"
                endpoints="endpoints"
                groups="groups"
                current-endpoint-id="endpoint.Id"
                on-duplicate="duplicateStack(name, endpointId)"
                on-migrate="migrateStack(name, endpointId)"
                yaml-error="state.yamlError"
              >
              </stack-duplication-form>
            </div>
          </uib-tab>
          <!-- !tab-info -->
          <!-- tab-file -->
          <uib-tab index="1" select="showEditor()" ng-if="!external && (!stack.GitConfig || stack.FromAppTemplate)">
            <uib-tab-heading>
              <pr-icon icon="'edit-2'" class-name="'mr-1'"></pr-icon>
              编辑器
            </uib-tab-heading>
            <form class="form-horizontal" ng-if="state.showEditorTab" style="margin-top: 10px" name="stackUpdateForm">
              <div class="form-group">
                <span class="col-sm-12 text-muted small" style="margin-bottom: 7px" ng-if="stackType == STACK_TYPES.DockerCompose && composeSyntaxMaxVersion == 2">
                  该堆栈将使用等效的<code>docker-compose</code>进行部署。当前只支持Compose文件格式版本为<b>2</b>。
                </span>
                <span class="col-sm-12 text-muted small" style="margin-bottom: 7px" ng-if="stackType == STACK_TYPES.DockerCompose && composeSyntaxMaxVersion > 2">
                  该堆栈将使用<code>docker-compose</code>进行部署。
                </span>
                <span class="col-sm-12 text-muted small">
                  您可以在<a href="https://docs.docker.com/compose/compose-file/" target="_blank">官方文档</a>中获取有关Compose文件格式的更多信息。
                </span>
                <div class="col-sm-12" ng-if="state.yamlError">
                  <span class="text-danger small">{{ state.yamlError }}</span>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <code-editor
                    read-only="orphaned"
                    identifier="stack-editor"
                    placeholder="在此处定义或粘贴您的docker compose文件内容"
                    yml="true"
                    on-change="(editorUpdate)"
                    value="stackFileContent"
                  ></code-editor>
                </div>
              </div>

              <div ng-if="isAdmin && applicationState.endpoint.type !== 4">
                <div class="col-sm-12 form-section-title">
                  Webhooks
                  <por-switch-field
                    name="EnableWebhook"
                    checked="formValues.EnableWebhook"
                    label-class="'col-sm-2'"
                    tooltip="'创建一个Webhook（或回调URI）来自动更新该堆栈。向该回调URI发送POST请求（无需任何身份验证）将拉取与关联镜像的最新版本并重新部署这个堆栈。'"
                    label="'创建一个堆栈Webhook'"
                    feature-id="'stack-webhook'"
                  ></por-switch-field>
                </div>
              </div>

              <!-- environment-variables -->
              <div ng-if="stack">
                <environment-variables-panel
                  values="formValues.Env"
                  explanation="'这些值将用作堆栈文件中的替换。要在compose文件中引用.env文件，请使用‘stack.env’。'"
                  on-change="(handleEnvVarChange)"
                  show-help-message="true"
                ></environment-variables-panel>
              </div>
              <!-- !environment-variables -->
              <!-- options -->
              <div ng-if="stack.Type === 1 && applicationState.endpoint.apiVersion >= 1.27" authorization="PortainerStackUpdate">
                <div class="col-sm-12 form-section-title"> 选项 </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <por-switch-field
                      name="prune"
                      checked="formValues.Prune"
                      tooltip="'删除不再引用的服务。'"
                      label-class="'col-sm-2'"
                      label="'删除服务'"
                      on-change="(onPruneChange)"
                    ></por-switch-field>
                  </div>
                </div>
              </div>
              <!-- !options -->
              <div authorization="PortainerStackUpdate">
                <div class="col-sm-12 form-section-title"> 操作 </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button
                      type="button"
                      class="btn btn-sm btn-primary"
                      ng-disabled="state.actionInProgress || state.yamlError || !stackUpdateForm.$valid || !stackFileContent || orphaned"
                      ng-click="deployStack()"
                      button-spinner="state.actionInProgress"
                    >
                      <span ng-hide="state.actionInProgress">更新堆栈</span>
                      <span ng-show="state.actionInProgress">部署中...</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </uib-tab>
          <!-- !tab-file -->
        </uib-tabset>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<stack-containers-datatable
  ng-if="stackType !== STACK_TYPES.DockerSwarm && (!orphaned || orphanedRunning)"
  stack-name="stackName"
  environment="endpoint"
></stack-containers-datatable>

<div class="row" ng-if="services && (!orphaned || orphanedRunning)">
  <div class="col-sm-12">
    <services-datatable
      title-text="服务"
      title-icon="list"
      dataset="services"
      table-key="stack-services"
      order-by="Name"
      nodes="nodes"
      agent-proxy="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      show-ownership-column="false"
      show-update-action="applicationState.endpoint.apiVersion >= 1.25"
      show-task-logs-button="applicationState.endpoint.apiVersion >= 1.30"
      show-add-action="false"
      show-stack-column="false"
      not-auto-focus="true"
      endpoint-public-url="endpoint.PublicURL"
      endpoint-id="endpoint.Id"
    ></services-datatable>
  </div>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="stack && !orphaned"
  resource-id="stack.EndpointId + '_' + stack.Name"
  resource-control="stack.ResourceControl"
  resource-type="resourceType"
  environment-id="stack.EndpointId"
  on-update-success="(onUpdateResourceControlSuccess)"
>
</access-control-panel>
<!-- !access-control-panel -->
