<rd-header>
  <rd-header-title title-text="堆栈详情">
    <a data-toggle="tooltip" title-text="刷新" ui-sref="docker.stacks.stack({id: stack.Id})" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content> <a ui-sref="docker.stacks">堆栈</a> &gt; {{ stackName }} </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <uib-tabset active="state.activeTab">
          <!-- tab-info -->
          <uib-tab index="0">
            <uib-tab-heading> <i class="fa fa-th-list" aria-hidden="true"></i> 堆栈 </uib-tab-heading>
            <div style="margin-top: 10px;">
              <!-- stack-information -->
              <div ng-if="external || orphaned">
                <div class="col-sm-12 form-section-title">
                  信息
                </div>
                <div class="form-group">
                  <span class="small">
                    <p class="text-muted">
                      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                      <span ng-if="external">这个堆栈是在 Portainer 之外创建的。 对该堆栈的控制是有限的。</span>
                      <span ng-if="orphaned">这个堆栈是孤立的。 您可以使用“关联到此环境”功能将其与当前环境重新关联。</span>
                    </p>
                  </span>
                </div>
              </div>
              <!-- !stack-information -->
              <!-- stack-details -->
              <div>
                <div class="col-sm-12 form-section-title">
                  堆栈详情
                </div>
                <div class="form-group">
                  {{ stackName }}

                  <button
                    authorization="PortainerStackUpdate"
                    ng-if="regular && stack.Status === 2"
                    ng-disabled="state.actionInProgress"
                    class="btn btn-xs btn-success"
                    ng-click="startStack()"
                  >
                    <i class="fa fa-play space-right" aria-hidden="true"></i>
                    启动此堆栈
                  </button>

                  <button
                    ng-if="regular && stack.Status === 1"
                    authorization="PortainerStackUpdate"
                    ng-disabled="state.actionInProgress"
                    class="btn btn-xs btn-danger"
                    ng-click="stopStack()"
                  >
                    <i class="fa fa-stop space-right" aria-hidden="true"></i>
                    停止此堆栈
                  </button>

                  <button authorization="PortainerStackDelete" class="btn btn-xs btn-danger" ng-click="removeStack()" ng-if="!external || stack.Type == 1">
                    <i class="fa fa-trash-alt space-right" aria-hidden="true"></i>
                    删除此堆栈
                  </button>

                  <button
                    ng-if="regular && stackFileContent"
                    class="btn btn-primary btn-xs"
                    ui-sref="docker.templates.custom.new({fileContent: stackFileContent, type: stack.Type})"
                  >
                    <i class="fa fa-plus space-right" aria-hidden="true"></i>
                    从堆栈创建模板
                  </button>
                </div>
              </div>
              <!-- !stack-details -->

              <!-- associate -->
              <div ng-if="orphaned">
                <div class="col-sm-12 form-section-title">
                  与此环境关联
                </div>
                <p class="small text-muted">
                  此功能允许您将此堆栈重新关联到当前环境。
                </p>
                <form class="form-horizontal">
                  <por-access-control-form form-data="formValues.AccessControlData" hide-title="true"></por-access-control-form>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        ng-disabled="state.actionInProgress"
                        ng-click="associateStack()"
                        button-spinner="state.actionInProgress"
                        style="margin-left: -5px;"
                      >
                        <i class="fa fa-sync" aria-hidden="true" style="margin-right: 3px;"></i>
                        <span ng-hide="state.actionInProgress">关联</span>
                        <span ng-show="state.actionInProgress">正在进行关联。。。</span>
                      </button>
                      <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
                    </div>
                  </div>
                </form>
              </div>
              <!-- !associate -->

              <stack-redeploy-git-form ng-if="stack.GitConfig" model="stack.GitConfig" stack="stack" authorization="PortainerStackUpdate"> </stack-redeploy-git-form>
              <stack-duplication-form
                ng-if="regular && endpoints.length > 0"
                endpoints="endpoints"
                groups="groups"
                current-endpoint-id="currentEndpointId"
                on-duplicate="duplicateStack(name, endpointId)"
                on-migrate="migrateStack(name, endpointId)"
                yaml-error="state.yamlError"
              >
              </stack-duplication-form>
            </div>
          </uib-tab>
          <!-- !tab-info -->
          <!-- tab-file -->
          <uib-tab index="1" select="showEditor()" ng-if="!external && !stack.GitConfig">
            <uib-tab-heading> <i class="fa fa-pencil-alt space-right" aria-hidden="true"></i> 编辑 </uib-tab-heading>
            <form class="form-horizontal" ng-if="state.showEditorTab" style="margin-top: 10px;" name="stackUpdateForm">
              <div class="form-group">
                <span class="col-sm-12 text-muted small" style="margin-bottom: 7px;" ng-if="stackType == 2 && composeSyntaxMaxVersion == 2">
                  该堆栈将使用等效的 <code>docker-compose</code> 进行部署。 目前仅支持 Compose 文件格式版本 <b>2</b>。
                </span>
                <span class="col-sm-12 text-muted small" style="margin-bottom: 7px;" ng-if="stackType == 2 && composeSyntaxMaxVersion > 2">
                  该堆栈将使用 <code>docker-compose</code> 进行部署。
                </span>
                <span class="col-sm-12 text-muted small">
                  您可以在 <a href="https://docs.docker.com/compose/compose-file/" target="_blank">官方文档</a>中了解更多详细信息。
                </span>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <code-editor
                    read-only="orphaned"
                    identifier="stack-editor"
                    placeholder="# 在此处定义或粘贴 docker-compose 文件的内容"
                    yml="true"
                    on-change="(editorUpdate)"
                    value="stackFileContent"
                  ></code-editor>
                </div>
              </div>
              <!-- environment-variables -->
              <div ng-if="stack">
                <environment-variables-panel
                  ng-model="formValues.Env"
                  explanation="这些值将用作堆栈文件中的替换"
                  on-change="(handleEnvVarChange)"
                ></environment-variables-panel>
              </div>
              <!-- !environment-variables -->
              <!-- options -->
              <div ng-if="stack.Type === 1 && applicationState.endpoint.apiVersion >= 1.27" authorization="PortainerStackUpdate">
                <div class="col-sm-12 form-section-title">
                  选项
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <label for="prune" class="control-label text-left">
                      引用服务
                      <portainer-tooltip position="bottom" message="删除不再引用的服务。"></portainer-tooltip>
                    </label>
                    <label class="switch" style="margin-left: 20px;"> <input name="prune" type="checkbox" ng-model="formValues.Prune" /><i></i> </label>
                  </div>
                </div>
              </div>
              <!-- !options -->
              <div authorization="PortainerStackUpdate">
                <div class="col-sm-12 form-section-title">
                  操作
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                    <button
                      type="button"
                      class="btn btn-sm btn-primary"
                      ng-disabled="state.actionInProgress || !stackUpdateForm.$valid || !stackFileContent || orphaned"
                      ng-click="deployStack()"
                      button-spinner="state.actionInProgress"
                    >
                      <span ng-hide="state.actionInProgress">更新堆栈</span>
                      <span ng-show="state.actionInProgress">正在部署...</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </uib-tab>
          <!-- !tab-file -->
        </uib-tabset>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="containers && (!orphaned || orphanedRunning)">
  <div class="col-sm-12">
    <containers-datatable
      title-text="容器"
      title-icon="fa-cubes"
      dataset="containers"
      table-key="stack-containers"
      order-by="Status"
      show-host-column="false"
      show-add-action="false"
      not-auto-focus="true"
    ></containers-datatable>
  </div>
</div>

<div class="row" ng-if="services && (!orphaned || orphanedRunning)">
  <div class="col-sm-12">
    <services-datatable
      title-text="服务"
      title-icon="fa-list-alt"
      dataset="services"
      table-key="stack-services"
      order-by="Name"
      nodes="nodes"
      agent-proxy="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      show-ownership-column="false"
      show-update-action="applicationState.endpoint.apiVersion >= 1.25"
      show-task-logs-button="applicationState.endpoint.apiVersion >= 1.30"
      show-add-action="false"
      show-stack-column="false"
      not-auto-focus="true"
    ></services-datatable>
  </div>
</div>

<!-- access-control-panel -->
<por-access-control-panel ng-if="stack && !orphaned" resource-id="stack.EndpointId + '_' + stack.Name" resource-control="stack.ResourceControl" resource-type="'stack'">
</por-access-control-panel>
<!-- !access-control-panel -->
