<rd-header>
  <rd-header-title title-text="容器控制台"></rd-header-title>
  <rd-header-content>
    <a ui-sref="docker.containers">容器</a> &gt; <a ui-sref="docker.containers.container({id: container.Id})">{{ container.Name | trimcontainername }}</a> &gt; 控制台
  </rd-header-content>
</rd-header>

<div class="row" ng-init="autoconnectAttachView()" ng-show="loaded">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-terminal" title-text="附加"></rd-widget-header>
      <rd-widget-body>
        <div class="small text-warning" ng-if="!container.Config.OpenStdin">
          <p>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            未设置交互标志。 您可能无法正确使用控制台。
          </p>
        </div>

        <div class="small text-warning" ng-if="!container.Config.Tty">
          <p>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            未设置 TTY 标志。 您可能无法正确使用控制台。
          </p>
        </div>

        <div class="small text-danger" ng-hide="container.State.Running">
          <p>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            容器未运行。
          </p>
        </div>

        <button
          type="button"
          class="btn btn-primary"
          ng-disabled="state === states.connecting || !container.State.Running"
          ng-click="state == states.disconnected ? connectAttach() : disconnect()"
        >
          <span ng-show="state === states.disconnected">附加到容器</span>
          <span ng-show="state === states.connected">分离</span>
          <span ng-show="state === states.connecting">附加中...</span>
        </button>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div id="terminal-container" class="terminal-container"></div>
  </div>
</div>
