<page-header
  title="'容器控制台'"
  breadcrumbs="[
    { label:'容器', link:'docker.containers' },
    { 
      label:(container.Name | trimcontainername),
      link: 'docker.containers.container', 
      linkParams:container.Id
    }, 'Console']"
>
</page-header>

<div class="row" ng-init="initView()" ng-show="loaded">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="terminal" feather-icon="true" title-text="执行"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div ng-if="state === states.disconnected">
            <!-- command-list -->
            <div class="form-group">
              <label for="command" class="col-lg-1 text-left col-sm-2 control-label">命令</label>
              <div class="col-lg-11 col-sm-10">
                <div class="input-group" ng-if="!formValues.isCustomCommand">
                  <span class="input-group-addon">
                    <i class="fab fa-linux" aria-hidden="true" ng-if="imageOS == 'linux'"></i>
                    <i class="fab fa-windows" aria-hidden="true" ng-if="imageOS == 'windows'"></i>
                  </span>
                  <select class="form-control" ng-model="formValues.command" id="command">
                    <option value="ash" ng-if="imageOS == 'linux'">/bin/ash</option>
                    <option value="bash" ng-if="imageOS == 'linux'">/bin/bash</option>
                    <option value="sh" ng-if="imageOS == 'linux'">/bin/sh</option>
                    <option value="powershell" ng-if="imageOS == 'windows'">powershell</option>
                    <option value="cmd.exe" ng-if="imageOS == 'windows'">cmd.exe</option>
                    <option ng-repeat="command in containerCommands" value="{{ command.command }}">{{ command.title }}: {{ command.command }}</option>
                  </select>
                </div>
                <input class="form-control" ng-if="formValues.isCustomCommand" type="text" name="custom-command" ng-model="formValues.customCommand" placeholder="例如 ps aux" />
              </div>
            </div>
            <!-- !command-list -->
            <div class="form-group col-lg-12">
              <por-switch-field
                label-class="'col-sm-1'"
                checked="formValues.isCustomCommand"
                label="'使用自定义命令'"
                on-change="(handleIsCustomCommandChange)"
              ></por-switch-field>
            </div>
            <div class="form-group">
              <label class="col-lg-1 text-left col-sm-2 control-label">
                用户
                <portainer-tooltip message="'格式为： user, user:group, uid 或 uid:gid'"></portainer-tooltip>
              </label>
              <div class="col-lg-11 col-sm-10">
                <input class="form-control" type="text" ng-model="formValues.user" placeholder="root" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary" ng-disabled="!container.State.Running" ng-click="connectExec()">
                  <span>连接</span>
                </button>
                <span class="small text-danger" ng-hide="container.State.Running">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  容器没有运行。
                </span>
              </div>
            </div>
          </div>
          <div ng-if="state !== states.disconnected">
            <label
              >以 <code>{{ ::formValues.user || '默认用户' }}</code> 的身份执行到容器中，使用命令
              <code>{{ formValues.isCustomCommand ? formValues.customCommand : formValues.command }}</code></label
            >
            <button type="button" class="btn btn-primary" ng-click="disconnect()">
              <span ng-show="state === states.connected">断开连接</span>
              <span ng-show="state === states.connecting">连接中...</span>
            </button>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div id="terminal-container" class="terminal-container"></div>
  </div>
</div>
