<page-header title="'创建堆栈'" breadcrumbs="[{label:'堆栈', link:'docker.stacks'}, '添加堆栈']"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="createStackForm">
          <!-- name-input -->
          <div class="form-group">
            <label for="stack_name" class="col-sm-1 control-label text-left">名称</label>
            <div class="col-sm-11">
              <input
                type="text"
                class="form-control"
                ng-model="formValues.Name"
                id="stack_name"
                name="stack_name"
                placeholder="例如：mystack"
                auto-focus
                ng-pattern="STACK_NAME_VALIDATION_REGEX"
              />
              <div class="help-block" ng-show="createStackForm.stack_name.$invalid">
                <div class="small text-warning">
                  <div ng-messages="createStackForm.stack_name.$error">
                    <p ng-message="pattern">
                      <span><pr-icon icon="'alert-triangle'" class-name="'icon-sm icon-warning'"></pr-icon></span>
                      该字段必须由小写字母、数字、'_'或'-'组成（例如：'my-name'或'abc-123'）。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- !name-input -->
          <div class="form-group">
            <span class="col-sm-12 text-muted small" ng-if="state.StackType === 1">
              此堆栈将使用等效的<code>docker stack deploy</code>命令部署。
            </span>
            <div class="col-sm-12 text-muted small" ng-if="state.StackType === 2 && composeSyntaxMaxVersion == 2">
              <div style="margin-bottom: 7px">
                该堆栈将使用等效的<code>docker compose</code>部署。目前仅支持Compose文件格式版本2。
              </div>
              <pr-icon icon="'alert-triangle'" mode="'warning'" class-name="'mr-0.5'"></pr-icon>
              注意：由于libcompose的限制，堆栈的名称将被标准化，以删除所有特殊字符和大写字母。
            </div>
            <span class="col-sm-12 text-muted small" ng-if="state.StackType === 2 && composeSyntaxMaxVersion > 2">
              该堆栈将使用<code>docker compose</code>进行部署。
            </span>
          </div>
          <!-- build-method -->
          <div class="col-sm-12 form-section-title">构建方法</div>

          <box-selector slim="true" radio-name="'build-method'" options="buildMethods" value="state.Method" on-change="(onBuildMethodChange)" slim="true"></box-selector>

          <!-- !build-method -->

          <!-- upload -->
          <div ng-show="state.Method === 'upload'">
            <div class="col-sm-12 form-section-title">上传</div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">您可以从计算机上传Compose文件。</span>
              <div class="col-sm-12" ng-if="state.uploadYamlValidationError"
                ><span class="text-danger small">{{ state.uploadYamlValidationError }}</span></div
              >
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-light" ngf-select="uploadFile($file)">
                  <pr-icon icon="'upload'"></pr-icon>
                  选择文件</button
                >
                <span style="margin-left: 5px">
                  {{ formValues.StackFile.name }}
                  <pr-icon icon="'x'" mode="'danger'" ng-if="!formValues.StackFile"></pr-icon>
                </span>
              </div>
            </div>
          </div>
          <!-- !upload -->
          <git-form
            ng-if="state.Method === 'repository'"
            value="formValues"
            on-change="(onChangeFormValues)"
            is-docker-standalone="isDockerStandalone"
            is-additional-files-field-visible="true"
            is-auth-explanation-visible="true"
            is-force-pull-visible="true"
            base-webhook-url="{{ state.baseWebhookUrl }}"
            webhook-id="{{ state.webhookId }}"
            webhooks-docs="https://docs.portainer.io/user/docker/stacks/webhooks"
          ></git-form>

          <div ng-show="state.Method === 'template'">
            <div class="col-sm-12">
              <custom-template-selector
                new-template-path="docker.templates.custom.new"
                stack-type="state.StackType"
                on-change="(onChangeTemplateId)"
                value="state.selectedTemplateId"
              ></custom-template-selector>

              <custom-templates-variables-field
                ng-if="isTemplateVariablesEnabled && state.selectedTemplate"
                definitions="state.selectedTemplate.Variables"
                value="formValues.Variables"
                on-change="(onChangeTemplateVariables)"
              ></custom-templates-variables-field>

              <span ng-if="state.Method === 'template' && state.selectedTemplateId && state.templateLoadFailed">
                <p class="small vertical-center text-danger mb-5" ng-if="currentUser.isAdmin || currentUser.id === state.selectedTemplate.CreatedByUserId">
                  <pr-icon icon="'alert-triangle'" mode="'danger'" size="'md'" feather="true"></pr-icon>自定义模板无法加载，请
                  <a ui-sref="docker.templates.custom.edit({id: state.selectedTemplateId})">单击此处</a>进行配置。</p
                >
                <p class="small vertical-center text-danger mb-5" ng-if="!(currentUser.isAdmin || currentUser.id === state.selectedTemplate.CreatedByUserId)">
                  <pr-icon icon="'alert-triangle'" mode="'danger'" size="'md'" feather="true"></pr-icon>无法加载自定义模板，请联系管理员。</p
                >
              </span>
            </div>
          </div>

          <web-editor-form
            ng-if="state.Method === 'editor' || (state.Method === 'template' && state.selectedTemplateId)"
            identifier="stack-creation-editor"
            value="formValues.StackFileContent"
            on-change="(onChangeFileContent)"
            ng-required="true"
            yml="true"
            placeholder="在此处定义或粘贴您的docker compose文件内容"
            read-only="state.isEditorReadOnly"
          >
            <editor-description>
              <p>
              您可以在<a href="https://docs.docker.com/compose/compose-file/" target="_blank">官方文档</a>中获取有关Compose文件格式的更多信息。
              </p>
              <p ng-if="state.editorYamlValidationError" class="text-danger">{{ state.editorYamlValidationError }}</p>
            </editor-description>
          </web-editor-form>

          <div ng-if="state.Method !== 'repository' && isAdmin && applicationState.endpoint.type !== 4">
            <div class="col-sm-12 form-section-title">
              Webhooks
              <por-switch-field
                name="EnableWebhook"
                checked="formValues.EnableWebhook"
                label-class="'col-sm-2'"
                tooltip="'创建一个Webhook（或回调URI）来自动更新该堆栈。向该回调URI发送POST请求（无需任何身份验证）将拉取与关联镜像的最新版本并重新部署这个堆栈。'"
                label="'创建一个堆栈Webhook'"
                on-change="(onEnableWebhookChange)"
                feature-id="'stack-webhook'"
              ></por-switch-field>
            </div>
          </div>

          <!-- environment-variables -->
          <environment-variables-panel
            values="formValues.Env"
            explanation="'这些值将用作堆栈文件中的替换。要在compose文件中引用.env文件，请使用‘stack.env’'"
            on-change="(handleEnvVarChange)"
          >
          </environment-variables-panel>
          <!-- !environment-variables -->
          <por-access-control-form form-data="formValues.AccessControlData"></por-access-control-form>
          <!-- actions -->
          <div class="col-sm-12 form-section-title">操作</div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress
              || !createStackForm.$valid
              || ((state.Method === 'editor' || state.Method === 'template') && (!formValues.StackFileContent || state.editorYamlValidationError))
              || (state.Method === 'upload' && (!formValues.StackFile || state.uploadYamlValidationError))
              || (state.Method === 'repository' && ((!formValues.RepositoryURL || !formValues.ComposeFilePathInRepository) || (formValues.RepositoryAuthentication && !formValues.RepositoryPassword)))
              || !formValues.Name"
                ng-click="deployStack()"
                button-spinner="state.actionInProgress"
                analytics-on
                analytics-category="docker"
                analytics-event="docker-stack-create"
                analytics-properties="buildAnalyticsProperties()"
              >
                <span ng-hide="state.actionInProgress">部署堆栈</span>
                <span ng-show="state.actionInProgress">正在部署...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
