<div ng-if="$ctrl.registry">
  <page-header title="'注册表访问'" breadcrumbs="[{label:'注册表', link:$ctrl.registryTo,}, $ctrl.registry.Name, '访问管理']"> </page-header>

  <registry-details registry="$ctrl.registry"></registry-details>

  <por-access-management
    ng-if="$ctrl.endpointGroup"
    access-controlled-entity="$ctrl.registryEndpointAccesses"
    entity-type="registry"
    action-in-progress="$ctrl.state.actionInProgress"
    update-access="$ctrl.updateAccess"
    filter-users="$ctrl.filterUsers"
  >
  </por-access-management>
</div>
