<div class="page-wrapper">
  <!-- simple box -->
  <div class="simple-box container">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <!-- simple box logo -->
      <div class="row">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo" />
        <img ng-if="!logo" src="~@/assets/images/logo_alt.svg" class="simple-box-logo" alt="Portainer" />
      </div>
      <!-- !simple box logo -->
      <!-- init password panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- toggle -->
          <div>
            <a ng-click="togglePanel()" class="vertical-center">
              <span>
                <pr-icon icon="'chevron-down'" ng-if="state.showInitPassword" size="'lg'" class-name="'icon-primary'"></pr-icon>
                <pr-icon icon="'chevron-right'" ng-if="!state.showInitPassword" size="'lg'" class-name="'icon-primary'"></pr-icon>
              </span>
              <span class="form-section-title">全新 Portainer 安装</span>
            </a>
          </div>
          <!-- !toggle -->

          <!-- init password form -->
          <form name="form" class="simple-box-form form-horizontal padding-top" ng-if="state.showInitPassword">
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted"> 请创建初始管理员用户。 </span>
              </div>
            </div>
            <!-- !note -->
            <!-- username-input -->
            <div class="form-group">
              <label for="username" class="col-sm-4 control-label text-left"> 用户名 </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username" ng-model="formValues.Username" placeholder="例如 admin" />
              </div>
            </div>
            <!-- !username-input -->
            <!-- new-password-input -->
            <div class="form-group">
              <label for="password" class="col-sm-4 control-label text-left">密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="formValues.Password" id="password" name="password" ng-minlength="requiredPasswordLength" auto-focus />
              </div>
            </div>
            <!-- !new-password-input -->
            <!-- confirm-password-input -->
            <div class="form-group">
              <label for="confirm_password" class="col-sm-4 control-label text-left">确认密码</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="password" class="form-control" ng-model="formValues.ConfirmPassword" id="confirm_password" />
                  <span class="input-group-addon !rounded-r-[5px]">
                    <pr-icon ng-if="form.password.$viewValue !== '' && form.password.$viewValue === formValues.ConfirmPassword" icon="'check'" mode="'success'"></pr-icon>
                    <pr-icon ng-if="form.password.$viewValue === '' || form.password.$viewValue !== formValues.ConfirmPassword" icon="'x'" mode="'danger'"></pr-icon>
                  </span>
                </div>
              </div>
            </div>
            <!-- !confirm-password-input -->
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12 text-warning">
                <p class="vertical-center">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  <span>密码长度必须至少为 {{ requiredPasswordLength }} 个字符。</span>
                  <pr-icon mode="'success'" icon="'check'" ng-if="form.password.$valid && formValues.Password"></pr-icon>
                </p>
              </div>
            </div>
            <!-- !note -->
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  ng-disabled="state.actionInProgress || form.$invalid || !formValues.Password || !formValues.ConfirmPassword ||  form.password.$viewValue !== formValues.ConfirmPassword"
                  ng-click="createAdminUser()"
                  button-spinner="state.actionInProgress"
                >
                  <span ng-hide="state.actionInProgress">创建用户</span>
                  <span ng-show="state.actionInProgress">正在创建用户...</span>
                </button>
              </div>
            </div>
            <!-- !actions -->
            <!-- enableTelemetry-->
            <div class="form-group">
              <div class="col-sm-12 vertical-center">
                <input type="checkbox" name="toggle_enableTelemetry" ng-model="formValues.enableTelemetry" />
                <span class="text-muted small"
                  >允许收集匿名统计数据。您可以在我们的
                  <a class="hyperlink" href="https://www.portainer.io/documentation/in-app-analytics-and-privacy-policy/" target="_blank">隐私政策</a>中找到更多信息。</span
                >
              </div>
            </div>
            <!-- !enableTelemetry-->
          </form>
          <!-- !init password form -->
        </div>
      </div>
      <!-- !init password panel -->

      <!-- restore backup panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- toggle -->
          <div>
            <a ng-click="togglePanel()" data-cy="init-installPortainerFromBackup" class="vertical-center">
              <span
                ><pr-icon icon="'chevron-down'" ng-if="state.showRestorePortainer" size="'lg'" class-name="'icon-primary'"></pr-icon>
                <pr-icon icon="'chevron-right'" ng-if="!state.showRestorePortainer" size="'lg'" class-name="'icon-primary'"></pr-icon
              ></span>
              <span class="form-section-title">从备份恢复 Portainer</span>
            </a>
          </div>
          <!-- !toggle -->

          <!-- restore form -->
          <form class="simple-box-form form-horizontal padding-top" ng-if="state.showRestorePortainer">
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-9">
                <span class="small text-muted">
                  这将恢复 Portainer 元数据，其中包含关于环境、堆栈和应用程序的信息，以及配置的用户。
                </span>
              </div>
            </div>
            <!-- !note -->

            <box-selector slim="true" options="restoreOptions" value="formValues.restoreFormType" on-change="(onChangeRestoreType)" radio-name="'restore-type'"></box-selector>

            <div ng-if="formValues.restoreFormType === RESTORE_FORM_TYPES.FILE">
              <!-- note -->
              <div class="form-group">
                <div class="col-sm-12">
                  <span class="small text-muted"> 您可以从计算机上传备份文件。 </span>
                </div>
              </div>
              <!-- !note -->
              <!-- select-file-input -->
              <div class="form-group">
                <div class="col-sm-12 vertical-center">
                  <button
                    class="btn btn-sm btn-primary"
                    ngf-select
                    accept=".gz,.encrypted"
                    ngf-accept="'application/x-tar,application/x-gzip'"
                    ng-model="formValues.BackupFile"
                    auto-focus
                    data-cy="init-selectBackupFileButton"
                    >选择文件</button
                  >
                  <span class="space-left vertical-center">
                    {{ formValues.BackupFile.name }}
                    <pr-icon icon="'x-circle'" class-name="'icon-danger'" ng-if="!formValues.BackupFile"></pr-icon>
                  </span>
                </div>
              </div>
              <!-- password-input -->
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label text-left">
                  密码
                  <portainer-tooltip
                    message="'如果备份文件是密码保护的，请提供密码以解压备份文件，否则此字段可以留空。'"
                  ></portainer-tooltip>
                </label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" ng-model="formValues.Password" id="password" data-cy="init-backupPasswordInput" />
                </div>
              </div>
              <!-- !password-input -->
            </div>
            <!-- !select-file-input -->
            <div class="limited-be-content" ng-if="formValues.restoreFormType === RESTORE_FORM_TYPES.S3">
              <!-- Access key id  -->
              <div class="form-group">
                <label for="access_key_id" class="col-sm-3 control-label text-left">访问密钥 ID</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="access_key_id" name="access_key_id" ng-model="formValues.AccessKeyId" required data-cy="init-accessKeyIdInput" />
                </div>
              </div>
              <!-- !Access key id  -->
              <!-- Secret access key -->
              <div class="form-group">
                <label for="secret_access_key" class="col-sm-3 control-label text-left">秘密访问密钥</label>
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    id="secret_access_key"
                    name="secret_access_key"
                    ng-model="formValues.SecretAccessKey"
                    required
                    data-cy="init-secretAccessKeyInput"
                  />
                </div>
              </div>
              <!-- !Secret access key -->
              <!-- Region -->
              <div class="form-group">
                <label for="backup-s3-region" class="col-sm-3 control-label text-left">区域</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="default region is us-east-1 if left empty"
                    id="backup-s3-region"
                    name="backup-s3-region"
                    ng-model="formValues.Region"
                    data-cy="init-s3RegionInput"
                  />
                </div>
              </div>
              <!-- !Region -->
              <!-- Bucket name -->
              <div class="form-group">
                <label for="bucket_name" class="col-sm-3 control-label text-left">桶名称</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="bucket_name" name="bucket_name" ng-model="formValues.BucketName" required data-cy="init-bucketNameInput" />
                </div>
              </div>
              <!-- !Bucket name -->
              <!-- S3 Compatible Host -->
              <div class="form-group">
                <label for="s3-compatible-host" class="col-sm-3 control-label text-left">
                  S3 兼容主机
                  <portainer-tooltip message="'S3 服务的主机名'"></portainer-tooltip>
                </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="s3-compatible-host"
                    name="s3-compatible-host"
                    ng-model="formValues.S3CompatibleHost"
                    placeholder="leave empty for AWS S3"
                    data-cy="init-s3CompatibleHostInput"
                  />
                </div>
              </div>
              <!-- !S3 Compatible Host -->
              <!-- Filename -->
              <div class="form-group">
                <label for="backup-s3-filename" class="col-sm-3 control-label text-left">文件名</label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="backup-s3-filename"
                    name="backup-s3-filename"
                    ng-model="formValues.Filename"
                    required
                    data-cy="init-backupFilenameInput"
                  />
                </div>
              </div>
              <!-- !Filename -->
              <!-- password-input -->
              <div class="form-group">
                <label for="password" class="col-sm-3 control-label text-left">
                  密码
                  <portainer-tooltip
                    message="'如果备份文件是密码保护的，请提供密码以解压备份文件，否则此字段可以留空。'"
                  ></portainer-tooltip>
                </label>
                <div class="col-sm-4">
                  <input type="password" class="form-control" ng-model="formValues.Password" id="password" data-cy="init-backupPasswordInput" />
                </div>
              </div>
              <!-- !password-input -->
            </div>
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted"> 您即将从此备份恢复 Portainer。 </span>
              </div>
              <div class="col-sm-12">
                <span class="small text-muted"> 恢复完成后，请以已知的用户身份登录恢复后的 Portainer。 </span>
              </div>
            </div>
            <!-- !note -->
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  ng-disabled="!formValues.BackupFile || state.backupInProgress"
                  ng-click="uploadBackup()"
                  button-spinner="state.backupInProgress"
                  data-cy="init-restorePortainerButton"
                >
                  <span ng-hide="state.backupInProgress">恢复 Portainer</span>
                  <span ng-show="state.backupInProgress">正在恢复 Portainer...</span>
                </button>
              </div>
            </div>
            <!-- !actions -->
          </form>
          <!-- !restore backup form -->
        </div>
      </div>
      <!-- !restore backup panel -->
    </div>
  </div>
  <!-- !simple box -->
</div>
