<div class="page-wrapper">
  <!-- simple box -->
  <div class="container simple-box">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
      <!-- simple box logo -->
      <div class="row">
        <img ng-if="logo" ng-src="{{ logo }}" class="simple-box-logo" />
        <img ng-if="!logo" src="~@/assets/images/logo_alt.svg" class="simple-box-logo" alt="Portainer" />
      </div>
      <!-- !simple box logo -->
      <!-- init password panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- toggle -->
          <div style="padding-bottom: 12px;">
            <a ng-click="togglePanel()">
              <i ng-class="{ true: 'glyphicon glyphicon-chevron-down', false: 'glyphicon glyphicon-chevron-right' }[state.showInitPassword]" aria-hidden="true"></i
              ><span style="padding-left: 10px;">新Portainer安装</span>
            </a>
          </div>
          <!-- !toggle -->

          <!-- init password form -->
          <form class="simple-box-form form-horizontal" style="padding-left: 30px;" ng-if="state.showInitPassword">
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted">
                  请创建初始管理员用户。
                </span>
              </div>
            </div>
            <!-- !note -->
            <!-- username-input -->
            <div class="form-group">
              <label for="username" class="col-sm-4 control-label text-left">
                用户名
              </label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="username" ng-model="formValues.Username" placeholder="例如 admin" />
              </div>
            </div>
            <!-- !username-input -->
            <!-- new-password-input -->
            <div class="form-group">
              <label for="password" class="col-sm-4 control-label text-left">密码</label>
              <div class="col-sm-8">
                <input type="password" class="form-control" ng-model="formValues.Password" id="password" auto-focus />
              </div>
            </div>
            <!-- !new-password-input -->
            <!-- confirm-password-input -->
            <div class="form-group">
              <label for="confirm_password" class="col-sm-4 control-label text-left">确认密码</label>
              <div class="col-sm-8">
                <div class="input-group">
                  <input type="password" class="form-control" ng-model="formValues.ConfirmPassword" id="confirm_password" />
                  <span class="input-group-addon"
                    ><i
                      ng-class="{ true: 'fa fa-check green-icon', false: 'fa fa-times red-icon' }[formValues.Password !== '' && formValues.Password === formValues.ConfirmPassword]"
                      aria-hidden="true"
                    ></i
                  ></span>
                </div>
              </div>
            </div>
            <!-- !confirm-password-input -->
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted">
                  <i ng-class="{ true: 'fa fa-check green-icon', false: 'fa fa-times red-icon' }[formValues.Password.length >= 8]" aria-hidden="true"></i>
                  密码长度必须至少为 8 个字符
                </span>
              </div>
            </div>
            <!-- !note -->
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  ng-disabled="state.actionInProgress || formValues.Password.length < 8 || formValues.Password !== formValues.ConfirmPassword"
                  ng-click="createAdminUser()"
                  button-spinner="state.actionInProgress"
                >
                  <span ng-hide="state.actionInProgress"><i class="fa fa-user-plus" aria-hidden="true"></i> 创建用户</span>
                  <span ng-show="state.actionInProgress">正在创建用户...</span>
                </button>
              </div>
            </div>
            <!-- !actions -->
            <!-- enableTelemetry-->
            <div class="form-group">
              <div class="col-sm-12">
                <input type="checkbox" name="toggle_enableTelemetry" ng-model="formValues.enableTelemetry" />
                <span class="text-muted small" style="margin-left: 2px;"
                  >允许收集匿名统计信息。 您可以在我们的
                  <a href="https://www.portainer.io/documentation/in-app-analytics-and-privacy-policy/" target="_blank">隐私政策</a>中找到更多相关信息。</span
                >
              </div>
            </div>
            <!-- !enableTelemetry-->
          </form>
          <!-- !init password form -->
        </div>
      </div>
      <!-- !init password panel -->

      <!-- restore backup panel -->
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- toggle -->
          <div style="padding-bottom: 12px;">
            <a ng-click="togglePanel()">
              <i ng-class="{ true: 'glyphicon glyphicon-chevron-down', false: 'glyphicon glyphicon-chevron-right' }[state.showRestorePortainer]" aria-hidden="true"></i
              ><span style="padding-left: 10px;">从备份中恢复 Portainer</span>
            </a>
          </div>
          <!-- !toggle -->

          <!-- restore form -->
          <form class="simple-box-form form-horizontal" style="padding-left: 30px;" ng-if="state.showRestorePortainer">
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-9">
                <span class="small text-muted">
                  这将恢复 Portainer 元数据，其中包含有关环境、堆栈和应用程序以及已配置用户的信息。
                </span>
              </div>
            </div>
            <!-- !note -->
            <div class="form-group">
              <div class="boxselector_wrapper">
                <div>
                  <input type="radio" id="restore_file" checked="checked" />
                  <label for="restore_file" style="padding-bottom: 20px;">
                    <div class="boxselector_header">
                      <i class="fa fa-upload" aria-hidden="true" style="margin-right: 2px;"></i>
                      上传备份文件
                    </div>
                    <p></p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="restore_s3" disabled />
                  <label for="restore_s3" class="boxselector_disabled" style="background-color: #ffffff;">
                    <div class="boxselector_header">
                      <i class="fa fa-download" aria-hidden="true" style="margin-right: 2px;"></i>
                      从 S3 检索
                    </div>
                    <p>此功能在 <a href="https://www.portainer.io/business-upsell?from=restore-s3-form" target="_blank">Portainer 商业版</a>中可用</p>
                  </label>
                </div>
              </div>
            </div>
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted">
                  您可以从计算机上传备份文件。
                </span>
              </div>
            </div>
            <!-- !note -->
            <!-- select-file-input -->
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-sm btn-primary" ngf-select accept=".tar.gz,.encrypted" ng-model="formValues.BackupFile" auto-focus>选择文件</button>
                <span style="margin-left: 5px;">
                  {{ formValues.BackupFile.name }}
                  <i class="fa fa-times red-icon" ng-if="!formValues.BackupFile" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <!-- !select-file-input -->
            <!-- password-input -->
            <div class="form-group">
              <label for="password" class="col-sm-3 control-label text-left">
                密码
                <portainer-tooltip
                  position="bottom"
                  message="如果备份受密码保护，请提供密码以提取备份文件，否则此字段可以留空。"
                ></portainer-tooltip>
              </label>
              <div class="col-sm-4">
                <input type="password" class="form-control" ng-model="formValues.Password" id="password" />
              </div>
            </div>
            <!-- !password-input -->
            <!-- note -->
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small text-muted">
                  您即将从此备份恢复 Portainer。
                </span>
              </div>
              <div class="col-sm-12">
                <span class="small text-muted">
                 恢复完成后，请以被恢复的 Portainer 已知的用户身份登录。
                </span>
              </div>
            </div>
            <!-- !note -->
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  ng-disabled="!formValues.BackupFile || state.backupInProgress"
                  ng-click="uploadBackup()"
                  button-spinner="state.backupInProgress"
                >
                  <span ng-hide="state.backupInProgress">恢复Portainer</span>
                  <span ng-show="state.backupInProgress">恢复Portainer中...</span>
                </button>
              </div>
            </div>
            <!-- !actions -->
          </form>
          <!-- !restore backup form -->
        </div>
      </div>
      <!-- !restore backup panel -->
    </div>
  </div>
  <!-- !simple box -->
</div>
