<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="code" feather-icon="true" title-text="引擎详情"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>版本</td>
              <td
                >{{ $ctrl.engine.releaseVersion }} <span ng-if="$ctrl.engine.apiVersion">(API: {{ $ctrl.engine.apiVersion }})</span></td
              >
            </tr>
            <tr ng-if="$ctrl.engine.rootDirectory">
              <td>根目录</td>
              <td>{{ $ctrl.engine.rootDirectory }}</td>
            </tr>
            <tr ng-if="$ctrl.engine.storageDriver">
              <td>存储驱动</td>
              <td>{{ $ctrl.engine.storageDriver }}</td>
            </tr>
            <tr ng-if="$ctrl.engine.loggingDriver">
              <td>日志驱动</td>
              <td>{{ $ctrl.engine.loggingDriver }}</td>
            </tr>
            <tr>
              <td>卷插件</td>
              <td>{{ $ctrl.engine.volumePlugins | arraytostr: ', ' }}</td>
            </tr>
            <tr>
              <td>网络插件</td>
              <td>{{ $ctrl.engine.networkPlugins | arraytostr: ', ' }}</td>
            </tr>
            <tr ng-if="$ctrl.engine.engineLabels.length">
              <td>引擎标签</td>
              <td>{{ $ctrl.engine.engineLabels | labelsToStr: ', ' }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
