<page-header ng-if="ctrl.state.viewReady" title="'Cluster'" breadcrumbs="['Cluster information']" reload="true"></page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row" ng-if="ctrl.isAdmin">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-body>
          <!-- resource-reservation -->
          <form class="form-horizontal" ng-if="ctrl.resourceReservation">
            <kubernetes-resource-reservation
              description="Resource reservation represents the total amount of resource assigned to all the applications inside the cluster."
              cpu-reservation="ctrl.resourceReservation.CPU"
              cpu-limit="ctrl.CPULimit"
              memory-reservation="ctrl.resourceReservation.Memory"
              memory-limit="ctrl.MemoryLimit"
              display-usage="ctrl.hasResourceUsageAccess()"
              cpu-usage="ctrl.resourceUsage.CPU"
              memory-usage="ctrl.resourceUsage.Memory"
            >
            </kubernetes-resource-reservation>
          </form>
          <!-- !resource-reservation -->
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="row">
    <kube-nodes-datatable></kube-nodes-datatable>
  </div>
</div>
