<page-header title="'网络列表'" breadcrumbs="['网络']" reload="true"> </page-header>

<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<div class="row">
  <div class="col-sm-12">
    <networks-datatable
      title-text="网络"
      title-icon="share-2"
      dataset="networks"
      table-key="networks"
      order-by="Name"
      remove-action="removeAction"
      show-host-column="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'"
      offline-mode="offlineMode"
      refresh-callback="getNetworks"
    ></networks-datatable>
  </div>
</div>
