<rd-header>
  <rd-header-title title-text="容器列表">
    <a data-toggle="tooltip" title="刷新" ui-sref="azure.containerinstances" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>容器实例</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <containergroups-datatable
      title-text="容器"
      title-icon="fa-server"
      dataset="containerGroups"
      table-key="containergroups"
      order-by="Name"
      remove-action="deleteAction"
    ></containergroups-datatable>
  </div>
</div>
