<rd-header>
  <rd-header-title title-text="容器日志"></rd-header-title>
  <rd-header-content>
    <a ui-sref="docker.containers">容器</a> &gt; <a ui-sref="docker.containers.container({id: container.Id})">{{ container.Name | trimcontainername }}</a> &gt; 日志
  </rd-header-content>
</rd-header>

<log-viewer
  data="logs"
  ng-if="logs"
  log-collection-change="changeLogCollection"
  display-timestamps="state.displayTimestamps"
  line-count="state.lineCount"
  since-timestamp="state.sinceTimestamp"
  resource-name="container.Name"
></log-viewer>
