<page-header title="'服务清单'" breadcrumbs="['Services']" reload="true"> </page-header>

<div class="row" ng-if="services">
  <div class="col-sm-12">
    <services-datatable
      title-text="服务"
      title-icon="shuffle"
      dataset="services"
      table-key="services"
      order-by="Name"
      nodes="nodes"
      agent-proxy="applicationState.endpoint.mode.agentProxy"
      show-update-action="applicationState.endpoint.apiVersion >= 1.25"
      show-task-logs-button="applicationState.endpoint.apiVersion >= 1.30"
      show-add-action="true"
      show-stack-column="true"
      refresh-callback="getServices"
      endpoint-public-url="endpoint.PublicURL"
      endpoint-id="endpoint.Id"
    ></services-datatable>
  </div>
</div>
