<rd-header>
  <rd-header-title title-text="扩展插件"></rd-header-title>
  <rd-header-content>Portainer 扩展</rd-header-content>
</rd-header>

<information-panel title-text="Information">
  <span class="text-muted" style="font-size: 90%;">
    <p>
      Portainer CE 是管理集群、供应容器和服务以及管理容器环境生命周期的好方法。 扩展 Portainer CE 的优势
       更重要的是，为了满足更大、复杂或关键环境的需求，Portainer 团队提供了越来越多的低成本扩展。
  </p>

    <p>
      为确保 Portainer 仍然是管理生产容器平台的最佳选择，Portainer 团队选择了模块化、可扩展的设计方法，其中
       可以根据需要以非常低的成本向 Portainer CE 核心添加额外的功能。
    </p>

    <p>
      Portainer Extensions 可通过以下列表中的简单订阅流程获得，它提供了一种通过以下方式增强 Portainer CE 核心功能的简单方法
       重要领域能力提升。
    </p>

    <p>
      有关 Portainer 扩展的更多信息，请访问我们的网站
       <a href="https://www.portiner.io/products-services/portiner-extension-software/" target="_blank">此处</a>.
    </p>
  </span>
</information-panel>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="extensionEnableForm">
          <div class="col-sm-12 form-section-title">
            启用扩展
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <p class="small text-muted" ng-if="!state.offlineActivation">
                Portainer 将下载最新版本的扩展。 确保您拥有有效的授权。
              </p>
              <p class="small text-muted" ng-if="state.offlineActivation">
                您需要手动上传扩展档案。 确保您拥有有效的授权。
              </p>
              <p class="small text-muted" ng-if="state.offlineActivation">
                您可以在<a target="_blank" href="https://downloads.portiner.io/extensions.zip">此处</a>下载我们扩展程序的最新版本。
              </p>
              <p>
                <a class="small interactive" ng-if="!state.offlineActivation" ng-click="state.offlineActivation = true;">
                  <i class="fa fa-toggle-off space-right" aria-hidden="true"></i> 切换到离线激活
                </a>
                <a class="small interactive" ng-if="state.offlineActivation" ng-click="state.offlineActivation = false;">
                  <i class="fa fa-wifi space-right" aria-hidden="true"></i> 切换到在线激活
                </a>
              </p>
            </div>
          </div>

          <div class="form-group">
            <label for="extension_license" class="col-sm-2 control-label text-left">授权</label>
            <div class="col-sm-10">
              <input
                type="text"
                name="extension_license"
                class="form-control"
                ng-model="formValues.License"
                ng-change="isValidLicenseFormat(extensionEnableForm)"
                required
                placeholder="在此处输入许可证密钥"
              />
            </div>
          </div>

          <div class="form-group" ng-show="extensionEnableForm.extension_license.$invalid">
            <div class="col-sm-12 small text-warning">
              <div ng-messages="extensionEnableForm.extension_license.$error">
                <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                <p ng-message="invalidLicense"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 授权格式无效。</p>
              </div>
            </div>
          </div>

          <div class="form-group" ng-if="state.offlineActivation">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ngf-select ng-model="formValues.ExtensionFile" style="margin-left: 0px;">选择文件</button>
              <span style="margin-left: 5px;">
                {{ formValues.ExtensionFile.name }}
                <i class="fa fa-times red-icon" ng-if="!formValues.ExtensionFile" aria-hidden="true"></i>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-click="enableExtension()"
                ng-disabled="state.actionInProgress || !extensionEnableForm.$valid || (state.offlineActivation && !formValues.ExtensionFile)"
                button-spinner="state.actionInProgress"
                style="margin-left: 0px;"
              >
                <span ng-hide="state.actionInProgress" ng-if="!state.updateLicense">启用扩展</span>
                <span ng-show="state.actionInProgress" ng-if="!state.updateLicense">正在启用扩展...</span>
                <span ng-hide="state.actionInProgress" ng-if="state.updateLicense">更新授权</span>
                <span ng-show="state.actionInProgress" ng-if="state.updateLicense">正在更新授权...</span>
              </button>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" ng-if="extensions && extensions.length > 0">
  <div class="col-sm-12">
    <extension-list current-date="state.currentDate" extensions="extensions"></extension-list>
  </div>
</div>

<information-panel title-text="Error" ng-if="extensions && extensions.length === 0">
  <span class="small text-muted">
    <p>
      <i class="fa fa-exclamation-triangle orange-icon" aria-hidden="true"></i>
      Portainer 必须连接到网络才能获取可用扩展的列表。
    </p>
  </span>
</information-panel>
