<rd-header>
  <rd-header-title title-text="配置列表">
    <a data-toggle="tooltip" title="刷新" ui-sref="docker.configs" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>配置</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <configs-datatable
      title-text="配置"
      title-icon="fa-file-code"
      dataset="ctrl.configs"
      table-key="configs"
      order-by="Name"
      show-ownership-column="applicationState.application.authentication"
      remove-action="ctrl.removeAction"
      refresh-callback="ctrl.getConfigs"
    ></configs-datatable>
  </div>
</div>
