<page-header
  ng-if="ctrl.state.viewReady"
  title="'应用日志'"
  breadcrumbs="[
    { label:'Namespaces', link:'kubernetes.resourcePools' },
    {
      label:ctrl.application.ResourcePool,
      link: 'kubernetes.resourcePools.resourcePool',
      linkParams:{ id: ctrl.application.ResourcePool }
    },
    { label:'应用程序', link:'kubernetes.applications' },
    {
      label:ctrl.application.Name,
      link: 'kubernetes.applications.application',
      linkParams:{ name: ctrl.application.Name, namespace: ctrl.application.ResourcePool }
    },
     'Pods',
     ctrl.podName,
     'Containers',
     ctrl.containerName,
     'Logs'
     ]"
  reload="true"
>
</page-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-body>
          <form class="form-horizontal row" autocomplete="off">
            <div class="col-sm-12 form-section-title"> 操作 </div>
            <!-- auto-refresh -->
            <div class="form-group">
              <label class="col-sm-3 col-lg-2 control-label text-left">
                自动刷新
                <portainer-tooltip message="'每5秒自动刷新一次日志'"></portainer-tooltip>
              </label>
              <div class="col-sm-8">
                <label class="switch"> <input type="checkbox" ng-model="ctrl.state.autoRefresh" ng-change="ctrl.updateAutoRefresh()" /><span class="slider round"></span> </label>
              </div>
            </div>
            <!-- !auto-refresh -->
            <!-- search -->
            <div class="form-group">
              <label for="logs_search" class="col-sm-3 col-lg-2 control-label text-left"> 搜索 </label>
              <div class="col-sm-8">
                <input
                  class="form-control"
                  type="text"
                  name="logs_search"
                  ng-model="ctrl.state.search"
                  ng-change="ctrl.state.selectedLines.length = 0;"
                  placeholder="筛选..."
                  auto-focus
                />
              </div>
            </div>
            <!-- !search -->
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button class="btn btn-primary btn-sm !ml-0" type="button" ng-click="ctrl.downloadLogs()">
                  <pr-icon icon="'download'" feather="true"></pr-icon> 下载日志
                </button>
              </div>
            </div>
            <!-- !actions -->
          </form>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 h-[max(400px,calc(100vh-380px))]">
      <pre class="log_viewer widget">
        <div ng-repeat="log in ctrl.state.filteredLogs = (ctrl.applicationLogs | filter:{ 'line': ctrl.state.search }) track by $index" class="line" ng-if="log.line"><p class="inner_line"><span ng-repeat="span in log.spans track by $index" ng-style="{ 'color': span.fgColor, 'background-color': span.bgColor, 'font-weight': span.fontWeight }">{{ span.text }}</span></p></div>
        <div ng-if="ctrl.applicationLogs.length && !ctrl.state.filteredLogs.length" class="line"><p class="inner_line">没有与 '{{ ctrl.state.search }}' 匹配的日志行</p></div>
        <div ng-if="ctrl.applicationLogs.length === 0" class="line"><p class="inner_line">没有可用的日志</p></div></pre>
    </div>
  </div>
</div>
