<rd-header>
  <rd-header-title title-text="首页">
    <a data-toggle="tooltip" title="刷新" ui-sref="portainer.home" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>环境</rd-header-content>
</rd-header>

<motd-panel ng-if="motd && motd.Message !== '' && applicationState.UI.dismissedInfoHash !== motd.Hash" motd="motd" dismiss-action="dismissImportantInformation(motd.Hash)">
</motd-panel>

<kubernetes-feedback-panel></kubernetes-feedback-panel>

<information-panel ng-if="!isAdmin && endpoints.length === 0" title-text="Information">
  <span class="small text-muted">
    <p>
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      您无权访问任何环境。 请联系您的管理员。
    </p>
  </span>
</information-panel>

<div
  class="row"
  style="width: 100%; height: 100%; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: center;"
  ng-if="state.connectingToEdgeEndpoint"
>
  正在连接到 Edge 环境...
  <i class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
</div>

<information-panel ng-if="isAdmin && endpoints.length === 0" title-text="信息">
  <span class="small text-muted">
    <p>
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      没有可供管理的环境。 请通过
      <a ui-sref="portainer.endpoints.new"> 环境视图 </a>
      添加环境。
    </p>
  </span>
</information-panel>

<div class="row" ng-if="!state.connectingToEdgeEndpoint">
  <div class="col-sm-12">
    <endpoint-list
      title-text="环境"
      title-icon="fa-plug"
      endpoints="endpoints"
      table-key="home_endpoints"
      tags="tags"
      dashboard-action="goToDashboard"
      show-snapshot-action="isAdmin"
      snapshot-action="triggerSnapshot"
      edit-action="goToEdit"
      is-admin="isAdmin"
      total-count="totalCount"
      retrieve-page="getPaginatedEndpoints"
      endpoint-init-time="state.homepageLoadTime"
    ></endpoint-list>
  </div>
</div>
