<rd-header>
  <rd-header-title title-text="关于"> </rd-header-title>
  <rd-header-content>
    关于 Portainer
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <b>Portainer</b> 是一个<a href="https://github.com/portaier/portaier/blob/develop/LICENSE" target="_blank">免费开源软件</a> 给你
         <span class="menu-icon fa fa-heart red-icon"></span> 来自 <a href="https://portiner.io/" target="_blank">portainer.io</a> 和
         <a href="https://github.com/portiner/portiner/graphs/contributors" target="_blank">贡献者。</a>
		  <b><a href="https://jq.qq.com/?_wv=1027&k=5HqPeR7" target="_blank">欢迎加入交流、bug反馈QQ群</a></b>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Analytics in Portainer" icon="fas fa-project-diagram"></rd-widget-header>
      <rd-widget-body>
        <div class="small" style="line-height: 1.65;">
          <p>
            我们在 Portainer 提供免费和开源的软件。 为了了解将我们非常有限的开发预算用在何处最好，我们使用 <b>rudimentary</b> 分析。
          </p>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>Opt-out</u>
            <ul>
              <li>您可以在启动 Portainer 时通过将 <em>--no-analytics</em> 标志作为 docker run 命令的一部分来选择退出。</li>
              <li
                >如果您认为我们可以改进我们的分析方法，请务必让我们知道！ 有一个公开的讨论在
                <a target="_blank" href="https://github.com/portainer/portainer/issues/3310"><i class="fab fa-github" aria-hidden="true"></i> Github</a></li
              >
            </ul>
          </div>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>我们收集什么 & GDPR</u>
            <ul>
              <li
                >我们不知道谁在使用 Portainer，它在哪里使用，它的使用规模如何，我们所知道的（从分析中）是 Portainer 的使用频率以及应用程序中的哪些页面
                 最常用。</li
               >
               <li>由于我们只收集极少量完全匿名的数据，因此认为不需要选择加入。</li>
            </ul>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Help support portainer" icon="fa-heartbeat"></rd-widget-header>
      <rd-widget-body>
        <div class="small" style="line-height: 1.65;">
          <p> 社区努力使 <b>Portainer</b> 功能丰富，部署和使用简单。 我们需要所有能得到的帮助！ </p>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>贡献</u>
            <ul>
              <li
                >发现一个错误或有一个功能的想法？ 让我们谈谈它
                 <a href="https://github.com/portiner/portiner/issues" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> Github</a></li>
               <li>按照我们的<a href="https://portiner.readthedocs.io/en/latest/contribute.html" target="_blank">贡献指南</a>在本地构建并制作
                 <a target="_blank" href="https://github.com/portiner/portiner/compare"><i class="fab fa-github" aria-hidden="true"></i> 拉取请求</a></li
              >
            </ul>
          </div>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>传播信息</u>
            <ul>
              <li>和你的朋友和同事谈谈Portainer有多棒！</li>
              <li
                >在<a href="https://twitter.com/portainerio" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i> Twitter上关注我们</a></li
              >
            </ul>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Support and services" icon="fa-building"></rd-widget-header>
      <rd-widget-body>
        <div class="small" style="line-height: 1.65;">
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>文档</u>
            <ul>
              <li
                >检阅我们的 <a target="_blank" href="http://portainer.readthedocs.io"><i class="fa fa-book" aria-hidden="true"></i> 在线文档</a></li
              >
              <li
                >请务必查看我们的 <a href="https://portainer.readthedocs.io/en/latest/faq.html" target="_blank">常见问题解答</a> 和我们的列表
                <a href="https://github.com/portainer/portainer/issues" target="_blank">open issues</a></li
              >
            </ul>
          </div>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>社区支持</u>
            <ul>
              <li
                >加入我们 <a href="https://portainer.io/slack/" target="_blank"><i class="fab fa-slack" aria-hidden="true"></i> Slack</a></li
              >
              <li
                >我们也在 <a href="https://gitter.im/portainer/Lobby" target="_blank"><i class="fab fa-github-alt" aria-hidden="true"></i> Gitter</a></li
              >
            </ul>
          </div>
          <div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <u>服务</u>
            <ul>
              <li>详细了解我们的 <a href="https://portainer.io/support.html" target="_blank">咨询和商业支持计划</a></li>
              <li
                >我们还提出了一项以基金为特色的计划，请通过
                <a target="_blank" href="mailto:info@portainer.io"><i class="fa fa-envelope" aria-hidden="true"></i> portainer.io与我们联系</a></li
              >
            </ul>
          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header title-text="Limitations" icon="fa-plug"></rd-widget-header>
      <rd-widget-body>
        <div class="small">
          Portainer 完全支持 Docker >=1.10，部分支持 Docker 1.9（某些功能可能不可用）。
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
