<div>
  <div class="col-sm-12 form-section-title">
    macvlan 配置
  </div>
  <!-- selector -->
  <div class="form-group">
    <span class="col-sm-12 text-muted small">
      <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
      要创建 MACVLAN 网络，您需要创建一个配置，然后从该配置创建网络。
    </span>
  </div>
  <div class="col-sm-12">
    <div class="form-group" style="margin-bottom: 0;">
      <div class="boxselector_wrapper">
        <div>
          <input type="radio" id="network_config" ng-model="$ctrl.data.Scope" value="local" />
          <label for="network_config">
            <div class="boxselector_header">
              <i class="fa fa-cog" aria-hidden="true" style="margin-right: 2px;"></i>
              配置
            </div>
            <p>我想在部署之前配置网络</p>
          </label>
        </div>
        <div>
          <input type="radio" id="network_deploy" ng-model="$ctrl.data.Scope" value="swarm" ng-disabled="$ctrl.availableNetworks.length === 0" />
          <label for="network_deploy" ng-class="$ctrl.availableNetworks.length === 0 ? 'boxselector_disabled' : ''">
            <div class="boxselector_header">
              <i class="fa fa-sitemap" aria-hidden="true" style="margin-right: 2px;"></i>
              创建
            </div>
            <p>我想从配置创建网络</p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- !selector -->

  <ng-form name="macvlanConfigurationForm">
    <!-- configuration-inputs -->
    <div ng-show="$ctrl.data.Scope === 'local'">
      <!-- network-card-input -->
      <div class="form-group">
        <label for="network_card" class="col-sm-3 col-lg-2 control-label text-left">父网卡</label>
        <div class="col-sm-9 col-lg-10">
          <input
            type="text"
            class="form-control"
            name="network_card"
            ng-model="$ctrl.data.ParentNetworkCard"
            placeholder="例如 eth0 or ens160 ..."
            ng-required="$ctrl.data.Scope === 'local' && !$ctrl.data.ParentNetworkCard"
          />
        </div>
      </div>
      <div class="form-group" ng-show="macvlanConfigurationForm.network_card.$invalid">
        <div class="col-sm-12 small text-warning">
          <div ng-messages="macvlanConfigurationForm.network_card.$error">
            <p ng-message="required"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 必须指定父网卡。</p>
          </div>
        </div>
      </div>
      <!-- network-card-input -->
      <!-- nodes-selector -->
      <div ng-if="$ctrl.applicationState.endpoint.mode.agentProxy && $ctrl.applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
        <div class="form-group">
          <div class="col-sm-12">
            <macvlan-nodes-datatable
              title-text="选择要部署本地配置的节点"
              title-icon="fa-hdd"
              dataset="$ctrl.nodes"
              table-key="nodes"
              state="$ctrl.data.DatatableState"
              order-by="Hostname"
              show-ip-address-column="$ctrl.applicationState.endpoint.apiVersion >= 1.25"
              access-to-node-details="!$ctrl.applicationState.application.authentication || $ctrl.isAdmin"
              name="node_selector"
              ng-model="tmp"
              ng-required="$ctrl.requiredNodeSelection()"
            ></macvlan-nodes-datatable>
          </div>
        </div>
        <div class="form-group" ng-show="macvlanConfigurationForm.node_selector.$invalid">
          <div class="col-sm-12 small text-warning">
            <div ng-messages="macvlanConfigurationForm.node_selector.$error">
              <p ng-message="required"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 必须至少选择一个节点。</p>
            </div>
          </div>
        </div>
      </div>
      <!-- !nodes-selector -->
    </div>
    <!-- configuration-inputs -->
    <!-- deploy-inputs -->
    <div ng-show="$ctrl.data.Scope === 'swarm'">
      <!-- configuration-selector -->
      <!-- network-input -->
      <div class="form-group">
        <label for="config_network" class="col-sm-2 col-lg-1 control-label text-left">配置</label>
        <div class="col-sm-9">
          <select
            class="form-control"
            ng-options="net.Name for net in $ctrl.availableNetworks"
            ng-model="$ctrl.data.SelectedNetworkConfig"
            name="config_network"
            ng-required="$ctrl.requiredConfigSelection()"
          >
            <option selected disabled hidden value="">选择网络</option>
          </select>
        </div>
      </div>
      <!-- !network-input -->
      <div class="form-group" ng-show="macvlanConfigurationForm.config_network.$invalid">
        <div class="col-sm-12 small text-warning">
          <div ng-messages="macvlanConfigurationForm.config_network.$error">
            <p ng-message="required"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 选择配置网络。</p>
          </div>
        </div>
      </div>
      <!-- !configuration-selector -->
    </div>
    <!-- deploy-inputs -->
  </ng-form>
</div>
