<rd-header>
  <rd-header-title title-text="镜像细节"></rd-header-title>
  <rd-header-content>
    <a ui-sref="docker.images">镜像</a> &gt; <a ui-sref="docker.images.image({id: image.Id})">{{ image.Id }}</a>
  </rd-header-content>
</rd-header>

<div class="row" ng-if="image.RepoTags.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa fa-tags" title-text="镜像标签"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="row">
              <div class="pull-left" ng-repeat="tag in image.RepoTags" style="display: table;">
                <div class="input-group col-md-1" style="padding: 0 15px;">
                  <span class="input-group-addon">{{ tag }}</span>
                  <span class="input-group-btn" authorization="DockerImagePush, DockerImageCreate, DockerImageDelete">
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="推送到注册表" ng-click="pushTag(tag)" authorization="DockerImagePush">
                      <span class="fa fa-upload white-icon" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="从注册表中拉取" ng-click="pullTag(tag)" authorization="DockerImageCreate">
                      <span class="fa fa-download white-icon" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" class="btn btn-primary interactive" title="删除标签" ng-click="removeTag(tag)" authorization="DockerImageDelete">
                      <span class="fa fa-trash-alt white-icon" aria-hidden="true"></span>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">
                注意：您可以点击上传图标 <span class="fa fa-upload" aria-hidden="true"></span> 推送镜像或点击下载图标
                <span class="fa fa-download" aria-hidden="true"></span> 拉取镜像或点击垃圾桶图标 <span class="fa fa-trash-alt" aria-hidden="true"></span> 删除一个标签
              </span>
            </div>
            <div class="col-sm-12">
              <span id="downloadResourceHint" class="createResource" style="display: none; margin-left: 0;">
                正在下载...
                <i class="fa fa-circle-notch fa-spin" aria-hidden="true" style="margin-left: 2px;"></i>
              </span>
              <span id="uploadResourceHint" class="createResource" style="display: none; margin-left: 0;">
                正在上传...
                <i class="fa fa-circle-notch fa-spin" aria-hidden="true" style="margin-left: 2px;"></i>
              </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row" authorization="DockerImageCreate">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-tag" title-text="标记镜像"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- image-and-registry -->
          <por-image-registry model="formValues.RegistryModel" label-class="col-sm-1" input-class="col-sm-11"></por-image-registry>
          <!-- !image-and-registry -->
          <!-- tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">注意：如果镜像名称中没有指定标签，将使用 <span class="label label-default">latest</span> 默认标签。</span>
            </div>
          </div>
          <!-- !tag-note -->
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-disabled="!formValues.RegistryModel.Image" ng-click="tagImage()">标记</button>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title-text="镜像细节"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>ID</td>
              <td>
                {{ image.Id }}
                <button authorization="DockerImageDelete" class="btn btn-xs btn-danger" ng-click="removeImage(image.Id)"
                  ><i class="fa fa-trash-alt space-right" aria-hidden="true"></i>删除镜像</button
                >
                <button
                  authorization="DockerImageGet"
                  class="btn btn-xs btn-primary"
                  ng-click="exportImage(image)"
                  button-spinner="$ctrl.exportInProgress"
                  ng-disabled="state.exportInProgress"
                >
                  <i class="fa fa-download space-right" aria-hidden="true"></i>
                  <span ng-hide="state.exportInProgress">导出此镜像</span>
                  <span ng-show="state.exportInProgress">导出镜像中...</span>
                </button>
              </td>
            </tr>
            <tr ng-if="image.Parent">
              <td>父节点</td>
              <td
                ><a ui-sref="docker.images.image({id: image.Parent})">{{ image.Parent }}</a></td
              >
            </tr>
            <tr>
              <td>大小</td>
              <td>{{ image.VirtualSize | humansize }}</td>
            </tr>
            <tr>
              <td>创建</td>
              <td>{{ image.Created | getisodate }}</td>
            </tr>
            <tr>
              <td>构建</td>
              <td>Docker {{ image.DockerVersion }} on {{ image.Os }}, {{ image.Architecture }}</td>
            </tr>
            <tr ng-if="image.Author">
              <td>作者</td>
              <td>{{ image.Author }}</td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title-text="Dockerfile 细节"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>CMD</td>
              <td
                ><code>{{ image.Command | command }}</code></td
              >
            </tr>
            <tr ng-if="image.Entrypoint">
              <td>入口点</td>
              <td
                ><code>{{ image.Entrypoint | command }}</code></td
              >
            </tr>
            <tr ng-if="image.ExposedPorts.length > 0">
              <td>已发布端口</td>
              <td>
                <span class="label label-default space-right" ng-repeat="port in image.ExposedPorts">
                  {{ port }}
                </span>
              </td>
            </tr>
            <tr ng-if="image.Volumes.length > 0">
              <td>存储卷</td>
              <td>
                <span class="label label-default space-right" ng-repeat="volume in image.Volumes">
                  {{ volume }}
                </span>
              </td>
            </tr>
            <tr ng-if="image.Env.length > 0">
              <td>环境变量</td>
              <td>
                <table class="table table-bordered table-condensed">
                  <tr ng-repeat="var in image.Env">
                    <td>{{ var|key: '=' }}</td>
                    <td>{{ var|value: '=' }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
<div class="row" ng-if="history.length > 0">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-clone" title-text="镜像层"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table id="image-layers" class="table">
          <thead>
            <th style="white-space: nowrap;">
              <a ng-click="order('Order')">
                排序
                <span ng-show="sortType == 'Order' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortType == 'Order' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </th>
            <th>
              <a ng-click="order('Size')">
                大小
                <span ng-show="sortType == 'Size' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortType == 'Size' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </th>
            <th>
              <a ng-click="order('CreatedBy')">
                层
                <span ng-show="sortType == 'CreatedBy' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                <span ng-show="sortType == 'CreatedBy' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="layer in history | orderBy:sortType:sortReverse">
              <td style="white-space: nowrap;">
                {{ layer.Order }}
              </td>
              <td style="white-space: nowrap;">
                {{ layer.Size | humansize }}
              </td>
              <td class="expand">
                <div ng-if="layer.CreatedBy.length > 130">
                  <span id="layer-command-{{ $index }}-full" style="display: none;">
                    {{ layer.CreatedBy | imagelayercommand }}
                  </span>
                  <span id="layer-command-{{ $index }}-short">
                    {{ layer.CreatedBy | imagelayercommand | truncate: 130 }}
                    <span ng-if="layer.CreatedBy.length > 130" style="margin-left: 5px;">
                      <a id="layer-command-expander{{ $index }}" class="btn" ng-click="toggleLayerCommand($index)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      </a>
                    </span>
                  </span>
                </div>
                <div ng-if="layer.CreatedBy.length <= 130">
                  <span id="layer-command-{{ $index }}-full">
                    {{ layer.CreatedBy | imagelayercommand }}
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
