<rd-header>
  <rd-header-title title-text="快速设置"></rd-header-title>
  <rd-header-content>环境向导</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-magic" title-text="环境向导"> </rd-widget-header>
      <rd-widget-body>
        <div class="row">
          <div class="col-sm-12 form-section-title">
            欢迎来到Portainer
          </div>
          <div>
            <span class="text-muted small" ng-show="$ctrl.state.endpoint.added">
              我们已将您的本地环境 {{ $ctrl.state.endpoint.connected }} 连接到 Portainer. <br
            /></span>
            <span class="text-muted small" ng-show="!$ctrl.state.endpoint.loading && !$ctrl.state.endpoint.added">
              我们无法将您的本地环境连接到 Portainer。 <br />
               请确保您的环境正确暴露。 如需安装帮助，请访问
              <a href="https://documentation.portainer.io/quickstart/">https://documentation.portainer.io/quickstart</a><br />
            </span>
            <span class="text-muted small">
              从下面开始使用您的本地 portainer 或连接更多容器环境。
            </span>
          </div>

          <wizard-link
            ng-show="$ctrl.state.endpoint.added"
            icon="$ctrl.state.local.icon"
            title="开始"
            link-title="开始"
            description="继续使用运行Portainer的本地环境"
            ui-sref="portainer.home"
            analytics-on
            analytics-category="portainer"
            analytics-event="endpoint-wizard-endpoint-select"
            analytics-properties="{ metadata: { environment: 'Get-started-local-environment' }}"
          ></wizard-link>
          <wizard-link
            title="添加环境"
            link-title="添加环境"
            icon="$ctrl.state.remote.icon"
            description="连接到其他环境"
            ui-sref="portainer.wizard.endpoints"
          ></wizard-link>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
