<page-header title="'Docker功能配置'" breadcrumbs="['Docker configuration']"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.form">
          <div class="col-sm-12 form-section-title"> 主机和文件系统 </div>
          <div ng-if="!$ctrl.isAgent" class="form-group">
            <span class="col-sm-12 text-muted small vertical-center">
              <pr-icon icon="'info'" feather="true" mode="'primary'" class-name="space-right"></pr-icon>
              这些功能只适用于启用代理的环境。
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.enableHostManagementFeatures"
                name="'enableHostManagementFeatures'"
                label="'启用主机管理功能'"
                tooltip="'启用主机管理功能：主机系统浏览和高级主机细节。'"
                label-class="'col-sm-7 col-lg-4'"
                disabled="!$ctrl.isAgent"
                on-change="($ctrl.onChangeEnableHostManagementFeatures)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.allowVolumeBrowserForRegularUsers"
                name="'allowVolumeBrowserForRegularUsers'"
                label="'启用对非管理员的存储卷管理'"
                tooltip="'启用后，普通用户将能够使用Portainer存储卷管理功能。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeAllowVolumeBrowserForRegularUsers)"
                disabled="!$ctrl.isAgent"
              ></por-switch-field>
            </div>
          </div>
          <!-- auto update window -->
          <div class="col-sm-12 form-section-title"> 修改窗口设置 </div>

          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.state.autoUpdateSettings.Enabled"
                name="'disableSysctlSettingForRegularUsers'"
                label="'启用更改窗口'"
                label-class="'col-sm-7 col-lg-4'"
                feature-id="$ctrl.limitedFeature"
                tooltip="'指定一个时间范围，在这个环境中可以发生自动更新。'"
                on-change="($ctrl.onToggleAutoUpdate)"
              >
              </por-switch-field>
            </div>
          </div>

          <!-- security -->
          <div class="col-sm-12 form-section-title"> Docker安全设置 </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableBindMountsForRegularUsers"
                name="'disableBindMountsForRegularUsers'"
                label="'禁用非管理员的绑定挂载'"
                tooltip="'启用后，普通用户在创建容器时将不能使用绑定挂载。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableBindMountsForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disablePrivilegedModeForRegularUsers"
                name="'disablePrivilegedModeForRegularUsers'"
                label="'禁用非管理员的特权模式'"
                tooltip="'启用后，普通用户在创建容器时将不能使用特权模式。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisablePrivilegedModeForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableHostNamespaceForRegularUsers"
                name="'disableHostNamespaceForRegularUsers'"
                label="'禁止对非管理员使用主机PID 1'"
                tooltip="'防止用户通过主机PID命名空间访问主机文件系统。'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableHostNamespaceForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableStackManagementForRegularUsers"
                name="'disableStackManagementForRegularUsers'"
                label="'禁止对非管理员使用堆栈'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableStackManagementForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableDeviceMappingForRegularUsers"
                name="'disableDeviceMappingForRegularUsers'"
                label="'禁用非管理员的设备映射'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableDeviceMappingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableContainerCapabilitiesForRegularUsers"
                name="'disableContainerCapabilitiesForRegularUsers'"
                label="'禁用非管理员的容器功能'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableContainerCapabilitiesForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                checked="$ctrl.formValues.disableSysctlSettingForRegularUsers"
                name="'disableSysctlSettingForRegularUsers'"
                label="'禁用非管理员的sysctl设置'"
                label-class="'col-sm-7 col-lg-4'"
                on-change="($ctrl.onChangeDisableSysctlSettingForRegularUsers)"
              ></por-switch-field>
            </div>
          </div>

          <div class="form-group" ng-if="$ctrl.isContainerEditDisabled()">
            <span class="col-sm-12 text-muted small">
              <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px"></i>
              注意：重新创建/复制/编辑功能目前被一个或多个安全设置所禁止（对于非管理员用户）。
            </span>
          </div>
          <!-- !security -->

          <!-- actions -->
          <div class="col-sm-12 form-section-title"> 操作 </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.save()" ng-disabled="$ctrl.state.actionInProgress" button-spinner="$ctrl.state.actionInProgress">
                <span ng-hide="$ctrl.state.actionInProgress">保存配置</span>
                <span ng-show="$ctrl.state.actionInProgress">保存中...</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
