<page-header title="'创建容器'" breadcrumbs="[{label:'容器', link:'docker.containers'}, '添加容器']"> </page-header>

<information-panel title-text="Caution" ng-if="state.mode == 'duplicate'">
  <span class="small">
    <p class="text-muted">
      <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px"></i>
      如果改变了镜像，新的容器可能无法启动，而之前容器的设置又不兼容。常见的原因包括入口、cmd或由镜像设置的
      <a href="http://portainer.readthedocs.io/en/stable/agent.html" target="_blank">其他设置</a> .
    </p>
  </span>
</information-panel>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" autocomplete="off">
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-2 control-label text-left">名称</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="config.name" id="container_name" placeholder="例如 myContainer" />
            </div>
          </div>
          <!-- !name-input -->
          <div class="col-sm-12 form-section-title"> 镜像配置 </div>
          <div ng-if="!formValues.RegistryModel.Registry && fromContainer">
            <pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon>
            <span class="small text-danger" style="margin-left: 5px">
              <code>{{ config.Image }}</code> 镜像的Docker注册表没有在Portainer中注册，你将无法创建一个容器。请先注册该注册表。
            </span>
          </div>
          <div ng-if="formValues.RegistryModel.Registry || !fromContainer">
            <!-- image-and-registry -->
            <por-image-registry
              model="formValues.RegistryModel"
              ng-if="formValues.RegistryModel.Registry"
              auto-complete="true"
              label-class="col-sm-1"
              input-class="col-sm-11"
              endpoint="endpoint"
              is-admin="isAdmin"
              check-rate-limits="formValues.alwaysPull"
              on-image-change="onImageNameChange()"
              set-validity="setPullImageValidity"
            >
              <!-- always-pull -->
              <div class="form-group">
                <div class="col-sm-12">
                  <por-switch-field
                    name="'alwaysPull'"
                    label-class="'col-sm-2'"
                    checked="formValues.alwaysPull"
                    disabled="!state.pullImageValidity"
                    label="'始终拉取镜像'"
                    on-change="(onAlwaysPullChange)"
                    tooltip="'启用后，Portainer会在创建容器前自动尝试拉取指定的镜像。'"
                  ></por-switch-field>
                </div>
              </div>
              <!-- !always-pull -->
            </por-image-registry>
            <!-- !image-and-registry -->
          </div>

          <!-- create-webhook -->
          <div ng-if="isAdmin && applicationState.endpoint.type !== 4">
            <div class="col-sm-12 form-section-title"> Webhooks </div>
            <div class="form-group">
              <div class="col-sm-12">
                <por-switch-field
                  feature-id="'container-webhook'"
                  label-class="'col-sm-2'"
                  label="'创建容器webhook'"
                  tooltip="'创建一个webhook（或回调URI）来自动重新创建这个容器。向这个回调URI发送一个POST请求（不需要任何认证）将拉出相关图像的最新版本并重新创建这个容器。'"
                ></por-switch-field>
              </div>
            </div>
          </div>
          <!-- !create-webhook  -->

          <div class="col-sm-12 form-section-title"> 网络端口配置 </div>
          <!-- publish-exposed-ports -->
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label-class="'col-sm-2'"
                checked="config.HostConfig.PublishAllPorts"
                label="'将所有暴露的网络端口发布为随机主机端口'"
                on-change="(handlePublishAllPortsChange)"
                tooltip="'启用后，Portainer会让Docker自动将主机上的一个随机端口映射到镜像Docker文件中定义的每个端口。'"
              ></por-switch-field>
            </div>
          </div>
          <!-- !publish-exposed-ports -->
          <!-- port-mapping -->
          <div class="form-group">
            <div class="col-sm-12">
              <label class="control-label text-left">
                手动发布网络端口
                <portainer-tooltip
                  message="'当主机上的端口范围和容器上的单一端口被指定时，Docker将在定义的范围内随机选择一个可用的端口，并将其转发到容器端口。'"
                ></portainer-tooltip>
              </label>
              <span class="label label-default interactive" style="margin-left: 10px" ng-click="addPortBinding()">
                <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 发布新的网络端口
              </span>
            </div>
            <!-- port-mapping-input-list -->
            <div class="col-sm-12 form-inline" style="margin-top: 10px">
              <div ng-repeat="portBinding in config.HostConfig.PortBindings" style="margin-top: 2px">
                <!-- host-port -->
                <div class="input-group col-sm-4 input-group-sm">
                  <span class="input-group-addon">主机</span>
                  <input type="text" class="form-control" ng-model="portBinding.hostPort" placeholder="例如 80, 80-88, ip:80 or ip:80-88 (optional)" />
                </div>
                <!-- !host-port -->
                <span style="margin: 0 10px 0 10px">
                  <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
                </span>
                <!-- container-port -->
                <div class="input-group col-sm-4 input-group-sm">
                  <span class="input-group-addon">容器</span>
                  <input type="text" class="form-control" ng-model="portBinding.containerPort" placeholder="例如 80 or 80-88" />
                </div>
                <!-- !container-port -->
                <!-- protocol-actions -->
                <div class="input-group col-sm-3 input-group-sm">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-light" ng-model="portBinding.protocol" uib-btn-radio="'tcp'">TCP</label>
                    <label class="btn btn-light" ng-model="portBinding.protocol" uib-btn-radio="'udp'">UDP</label>
                  </div>
                  <button class="btn btn-light" type="button" ng-click="removePortBinding($index)">
                    <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                  </button>
                </div>
                <!-- !protocol-actions -->
              </div>
            </div>
            <!-- !port-mapping-input-list -->
          </div>
          <!-- !port-mapping -->
          <div ng-if="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
            <div class="col-sm-12 form-section-title"> 部署 </div>
            <!-- node-selection -->
            <node-selector model="formValues.NodeName"> </node-selector>
            <!-- !node-selection -->
          </div>
          <!-- access-control -->
          <por-access-control-form form-data="formValues.AccessControlData" resource-control="fromContainer.ResourceControl" ng-if="fromContainer"></por-access-control-form>
          <!-- !access-control -->
          <!-- actions -->
          <div class="col-sm-12 form-section-title"> 操作 </div>
          <!-- autoremove -->
          <div class="form-group">
            <div class="col-sm-12">
              <por-switch-field
                label-class="'col-sm-2'"
                checked="config.HostConfig.AutoRemove"
                label="'自动删除'"
                on-change="(handleAutoRemoveChange)"
                tooltip="'启用后，Portainer将在退出时自动删除容器。当你想只使用一次容器时，这很有用。'"
              ></por-switch-field>
            </div>
          </div>
          <!-- !autoremove -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !formValues.RegistryModel.Image || (!formValues.RegistryModel.Registry && fromContainer)
                   || (fromContainer.IsPortainer && fromContainer.Name === '/' + config.name)"
                ng-click="create()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">部署容器</span>
                <span ng-show="state.actionInProgress">部署进行中...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-cog" title-text="高级容器设置"></rd-widget-header>
      <rd-widget-body>
        <ul class="nav nav-pills nav-justified">
          <li class="active interactive"><a data-target="#command" data-toggle="tab">命令 & 日志</a></li>
          <li class="interactive"><a data-target="#volumes" data-toggle="tab">存储卷</a></li>
          <li class="interactive"><a data-target="#network" data-toggle="tab">网络</a></li>
          <li class="interactive"><a data-target="#env" data-toggle="tab">环境变量</a></li>
          <li class="interactive"><a data-target="#labels" data-toggle="tab">标签</a></li>
          <li class="interactive"><a data-target="#restart-policy" data-toggle="tab">重启策略</a></li>
          <li class="interactive"><a data-target="#runtime-resources" ng-mouseup="refreshSlider()" data-toggle="tab">运行时 & 资源</a></li>
          <li ng-if="areContainerCapabilitiesEnabled" class="interactive"><a data-target="#container-capabilities" data-toggle="tab">容器能力</a></li>
        </ul>
        <!-- tab-content -->
        <div class="tab-content">
          <!-- tab-command -->
          <div class="tab-pane active" id="command">
            <form class="form-horizontal" style="margin-top: 15px">
              <!-- command-input -->
              <div class="form-group">
                <label for="container_command" class="col-sm-2 col-lg-1 control-label text-left">命令</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <label class="btn btn-light" ng-model="formValues.CmdMode" uib-btn-radio="'default'" style="margin-left: 0px"> 默认</label>
                      <label class="btn btn-light" ng-model="formValues.CmdMode" uib-btn-radio="'override'">覆盖</label>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      ng-model="config.Cmd"
                      ng-disabled="formValues.CmdMode === 'default'"
                      id="container_command"
                      placeholder="例如 '-logtostderr' '--housekeeping_interval=5s' or /usr/bin/nginx -t -c /mynginx.conf"
                    />
                  </div>
                </div>
              </div>
              <!-- !command-input -->
              <!-- entrypoint-input -->
              <div class="form-group">
                <label for="container_entrypoint" class="col-sm-2 col-lg-1 control-label text-left">
                  环境
                  <portainer-tooltip
                    message="'当容器入口点作为命令字段的一部分被输入时，将入口点设置为覆盖模式并留空，否则将恢复为默认。'"
                  ></portainer-tooltip>
                </label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <label class="btn btn-light" ng-model="formValues.EntrypointMode" uib-btn-radio="'default'" style="margin-left: 0px"> 默认</label>
                      <label class="btn btn-light" ng-model="formValues.EntrypointMode" uib-btn-radio="'override'">覆盖</label>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      ng-model="config.Entrypoint"
                      ng-disabled="formValues.EntrypointMode === 'default'"
                      id="container_entrypoint"
                      placeholder="例如 /bin/sh -c"
                    />
                  </div>
                </div>
              </div>
              <!-- !entrypoint-input -->
              <!-- workdir-user-input -->
              <div class="form-group">
                <label for="container_workingdir" class="col-sm-2 col-lg-1 control-label text-left">工作目录</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" ng-model="config.WorkingDir" id="container_workingdir" placeholder="例如 /myapp" />
                </div>
                <label for="container_user" class="col-sm-1 control-label text-left">用户</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" ng-model="config.User" id="container_user" placeholder="例如 nginx" />
                </div>
              </div>
              <!-- !workdir-user-input -->
              <!-- console -->
              <div class="form-group">
                <label for="container_console" class="col-sm-2 col-lg-1 control-label text-left">控制台</label>
                <div class="col-sm-10 col-lg-11">
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="container_console" ng-model="formValues.Console" value="both" />
                      Interactive & TTY <span class="small text-muted">(-i -t)</span>
                    </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="container_console" ng-model="formValues.Console" value="interactive" />
                      Interactive <span class="small text-muted">(-i)</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-offset-2 col-sm-10 col-lg-offset-1 col-lg-11">
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="container_console" ng-model="formValues.Console" value="tty" />
                      TTY <span class="small text-muted">(-t)</span>
                    </label>
                  </div>
                  <div class="col-sm-4">
                    <label class="radio-inline">
                      <input type="radio" name="container_console" ng-model="formValues.Console" value="none" />
                      None
                    </label>
                  </div>
                </div>
              </div>
              <!-- !console -->

              <div class="col-sm-12 form-section-title"> 日志 </div>
              <!-- logging-driver -->
              <div class="form-group">
                <label for="log-driver" class="col-sm-2 col-lg-1 control-label text-left">驱动</label>
                <div class="col-sm-4">
                  <select class="form-control" ng-model="formValues.LogDriverName" id="log-driver">
                    <option selected value="">默认日志记录驱动</option>
                    <option ng-repeat="driver in availableLoggingDrivers" ng-value="driver">{{ driver }}</option>
                    <option value="none">none</option>
                  </select>
                </div>
                <div class="col-sm-5">
                  <p class="small text-muted">
                    将覆盖默认的docker daemon驱动的日志驱动。
                    如果你不想覆盖它，请选择默认日志驱动。支持的日志驱动可以 <a href="https://docs.docker.com/engine/admin/logging/overview/#supported-logging-drivers" target="_blank">在Docker文档</a>中找到。
                  </p>
                </div>
              </div>
              <!-- !logging-driver -->
              <!-- logging-opts -->
              <div class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">选项 <portainer-tooltip
                      position="'top'"
                      message="'除非选择了除none或默认之外的驱动程序，否则添加按钮将被禁用。选项是特定于所选驱动程序的，请参考驱动程序文档。'"
                    ></portainer-tooltip>
                  </label>
                  <span
                    class="label label-default interactive"
                    style="margin-left: 10px"
                    ng-click="!formValues.LogDriverName || formValues.LogDriverName === 'none' || addLogDriverOpt(formValues.LogDriverName)"
                  >
                    <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 增加日志驱动选项
                  </span>
                </div>
                <!-- logging-opts-input-list -->
                <div class="col-sm-12 form-inline" style="margin-top: 10px">
                  <div ng-repeat="opt in formValues.LogDriverOpts" style="margin-top: 2px">
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">option</span>
                      <input type="text" class="form-control" ng-model="opt.name" placeholder="例如 FOO" />
                    </div>
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">value</span>
                      <input type="text" class="form-control" ng-model="opt.value" placeholder="例如 bar" />
                    </div>
                    <button class="btn btn-light" type="button" ng-click="removeLogDriverOpt($index)">
                      <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                    </button>
                  </div>
                </div>
                <!-- logging-opts-input-list -->
              </div>
              <!-- !logging-opts -->
            </form>
          </div>
          <!-- !tab-command -->
          <!-- tab-volume -->
          <div class="tab-pane" id="volumes">
            <form class="form-horizontal" style="margin-top: 15px">
              <!-- volumes -->
              <div class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">存储卷映射</label>
                  <span class="label label-default interactive" style="margin-left: 10px" ng-click="addVolume()">
                    <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 添加存储卷映射
                  </span>
                </div>
                <!-- volumes-input-list -->
                <div class="form-inline" style="margin-top: 10px">
                  <div ng-repeat="volume in formValues.Volumes">
                    <!-- volume-line1 -->
                    <div class="col-sm-12 form-inline" style="margin-top: 10px">
                      <!-- container-path -->
                      <div class="input-group input-group-sm col-sm-6">
                        <span class="input-group-addon">容器</span>
                        <input type="text" class="form-control" ng-model="volume.containerPath" placeholder="例如 /path/in/container" />
                      </div>
                      <!-- !container-path -->
                      <!-- volume-type -->
                      <div class="input-group col-sm-5" style="margin-left: 5px">
                        <div class="btn-group btn-group-sm" ng-if="allowBindMounts">
                          <label class="btn btn-light" ng-model="volume.type" uib-btn-radio="'volume'" ng-click="volume.name = ''">存储卷</label>
                          <label class="btn btn-light" ng-model="volume.type" uib-btn-radio="'bind'" ng-click="volume.name = ''">绑定</label>
                        </div>
                        <button class="btn btn-light" type="button" ng-click="removeVolume($index)">
                          <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                        </button>
                      </div>
                      <!-- !volume-type -->
                    </div>
                    <!-- !volume-line1 -->
                    <!-- volume-line2 -->
                    <div class="col-sm-12 form-inline" style="margin-top: 5px">
                      <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
                      <!-- volume -->
                      <div class="input-group input-group-sm col-sm-6" ng-if="volume.type === 'volume'">
                        <span class="input-group-addon">存储卷</span>
                        <select class="form-control" ng-model="volume.name">
                          <option selected disabled hidden value="">选择存储卷</option>
                          <option ng-repeat="vol in availableVolumes" ng-value="vol.Name">{{ vol.Name | truncate: 30 }} - {{ vol.Driver | truncate: 30 }}</option>
                        </select>
                      </div>
                      <!-- !volume -->
                      <!-- bind -->
                      <div class="input-group input-group-sm col-sm-6" ng-if="volume.type === 'bind'">
                        <span class="input-group-addon">主机</span>
                        <input type="text" class="form-control" ng-model="volume.name" placeholder="例如 /path/on/host" />
                      </div>
                      <!-- !bind -->
                      <!-- read-only -->
                      <div class="input-group input-group-sm col-sm-5" style="margin-left: 5px">
                        <div class="btn-group btn-group-sm">
                          <label class="btn btn-light" ng-model="volume.readOnly" uib-btn-radio="false">读写</label>
                          <label class="btn btn-light" ng-model="volume.readOnly" uib-btn-radio="true">只读</label>
                        </div>
                      </div>
                      <!-- !read-only -->
                    </div>
                    <!-- !volume-line2 -->
                  </div>
                </div>
                <!-- !volumes-input-list -->
              </div>
            </form>
            <!-- !volumes -->
          </div>
          <!-- !tab-volume -->
          <!-- tab-network -->
          <div class="tab-pane" id="network">
            <form class="form-horizontal" style="margin-top: 15px">
              <div class="form-group" ng-if="globalNetworkCount === 0 && applicationState.endpoint.mode.provider !== 'DOCKER_SWARM_MODE'">
                <div class="col-sm-12">
                  <span class="small text-muted">你没有任何共享网络。 请到 <a ui-sref="docker.networks">网络视图</a> 中创建一个。</span>
                </div>
              </div>
              <!-- network-input -->
              <div class="form-group">
                <label for="container_network" class="col-sm-2 col-lg-1 control-label text-left">网络</label>
                <div class="col-sm-9">
                  <select
                    class="form-control"
                    ng-options="net.Name as net.Name for net in availableNetworks"
                    ng-model="config.HostConfig.NetworkMode"
                    id="container_network"
                    ng-change="resetNetworkConfig()"
                  >
                    <option selected disabled hidden value="">选择一个网络</option>
                  </select>
                </div>
              </div>
              <!-- !network-input -->
              <!-- container-name-input -->
              <div class="form-group" ng-if="config.HostConfig.NetworkMode == 'container'">
                <label for="container_network_container" class="col-sm-2 col-lg-1 control-label text-left">容器</label>
                <div class="col-sm-9">
                  <select ng-options="container|containername for container in runningContainers" class="form-control" ng-model="formValues.NetworkContainer">
                    <option selected disabled hidden value="">选择容器</option>
                  </select>
                </div>
              </div>
              <!-- !container-name-input -->
              <!-- hostname-input -->
              <div class="form-group">
                <label for="container_hostname" class="col-sm-2 col-lg-1 control-label text-left">主机名</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="config.Hostname" id="container_hostname" placeholder="例如 web01" />
                </div>
              </div>
              <!-- !hostname-input -->
              <!-- domainname-input -->
              <div class="form-group">
                <label for="container_domainname" class="col-sm-2 col-lg-1 control-label text-left">域名</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="config.Domainname" id="container_domainname" placeholder="例如 example.com" />
                </div>
              </div>
              <!-- !domainname -->
              <!-- mac-address-input -->
              <div class="form-group">
                <label for="container_macaddress" class="col-sm-2 col-lg-1 control-label text-left">Mac 地址</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="formValues.MacAddress" id="container_macaddress" placeholder="例如 12-34-56-78-9a-bc" />
                </div>
              </div>
              <!-- !mac-address-input -->
              <!-- ipv4-input -->
              <div class="form-group">
                <label for="container_ipv4" class="col-sm-2 col-lg-1 control-label text-left">IPv4 地址</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="formValues.IPv4" id="container_ipv4" placeholder="例如 172.20.0.7" />
                </div>
              </div>
              <!-- !ipv4-input -->
              <!-- ipv6-input -->
              <div class="form-group">
                <label for="container_ipv6" class="col-sm-2 col-lg-1 control-label text-left">IPv6 地址</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="formValues.IPv6" id="container_ipv6" placeholder="例如 a:b:c:d::1234" />
                </div>
              </div>
              <!-- !ipv6-input -->
              <!-- dns-primary-input -->
              <div class="form-group">
                <label for="container_dns_primary" class="col-sm-2 col-lg-1 control-label text-left">主 DNS 服务器</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="formValues.DnsPrimary" id="container_dns_primary" placeholder="例如 1.1.1.1, 2606:4700:4700::1111" />
                </div>
              </div>
              <!-- !dns-primary-input -->
              <!-- dns-secondary-input -->
              <div class="form-group">
                <label for="container_dns_secondary" class="col-sm-2 col-lg-1 control-label text-left">辅 DNS 服务器</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" ng-model="formValues.DnsSecondary" id="container_dns_secondary" placeholder="例如 1.0.0.1, 2606:4700:4700::1001" />
                </div>
              </div>
              <!-- !dns-secondary-input -->
              <!-- extra-hosts-variables -->
              <div class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">主机文件条目</label>
                  <span class="label label-default interactive" style="margin-left: 10px" ng-click="addExtraHost()">
                    <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 添加附加条目
                  </span>
                </div>
                <!-- extra-hosts-input-list -->
                <div class="col-sm-12 form-inline" style="margin-top: 10px">
                  <div ng-repeat="variable in formValues.ExtraHosts" style="margin-top: 2px">
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">value</span>
                      <input type="text" class="form-control" ng-model="variable.value" placeholder="例如 host:IP" />
                    </div>
                    <button class="btn btn-light" type="button" ng-click="removeExtraHost($index)">
                      <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                    </button>
                  </div>
                </div>
                <!-- !extra-hosts-input-list -->
              </div>
              <!-- !extra-hosts-variables -->
            </form>
          </div>
          <!-- !tab-network -->
          <!-- tab-labels -->
          <div class="tab-pane" id="labels">
            <form class="form-horizontal" style="margin-top: 15px">
              <!-- labels -->
              <div class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">标签</label>
                  <span class="label label-default interactive" style="margin-left: 10px" ng-click="addLabel()">
                    <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 增加标签
                  </span>
                </div>
                <!-- labels-input-list -->
                <div class="col-sm-12 form-inline" style="margin-top: 10px">
                  <div ng-repeat="label in formValues.Labels" style="margin-top: 2px">
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">名称</span>
                      <input type="text" class="form-control" ng-model="label.name" placeholder="例如 com.example.foo" />
                    </div>
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">value</span>
                      <input type="text" class="form-control" ng-model="label.value" placeholder="例如 bar" />
                    </div>
                    <button class="btn btn-sm btn-light" type="button" ng-click="removeLabel($index)">
                      <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                    </button>
                  </div>
                </div>
                <!-- !labels-input-list -->
              </div>
              <!-- !labels-->
            </form>
          </div>
          <!-- !tab-labels -->
          <!-- tab-env -->
          <div class="tab-pane" id="env">
            <environment-variables-panel
              ng-model="formValues.Env"
              explanation="这些值将在部署时应用于容器"
              on-change="(handleEnvVarChange)"
            ></environment-variables-panel>
          </div>
          <!-- !tab-env -->
          <!-- tab-restart-policy -->
          <div class="tab-pane" id="restart-policy">
            <form class="form-horizontal" style="margin-top: 15px">
              <div class="form-group">
                <div class="col-sm-12">
                  <label class="control-label text-left"> 重启策略 </label>
                  <div class="btn-group btn-group-sm" style="margin-left: 20px">
                    <label class="btn btn-light" ng-model="config.HostConfig.RestartPolicy.Name" uib-btn-radio="'no'"> 从不 </label>
                    <label class="btn btn-light" ng-model="config.HostConfig.RestartPolicy.Name" uib-btn-radio="'always'"> 总是重启 </label>
                    <label class="btn btn-light" ng-model="config.HostConfig.RestartPolicy.Name" uib-btn-radio="'on-failure'"> 非正常退出 </label>
                    <label class="btn btn-light" ng-model="config.HostConfig.RestartPolicy.Name" uib-btn-radio="'unless-stopped'"> 排除崩溃总是重启 </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!-- !tab-restart-policy -->
          <!-- tab-runtime-resources -->
          <div class="tab-pane" id="runtime-resources">
            <form class="form-horizontal" style="margin-top: 15px">
              <div class="col-sm-12 form-section-title"> Runtime </div>
              <!-- privileged-mode -->
              <div class="form-group" ng-if="isAdmin || allowPrivilegedMode">
                <div class="col-sm-12">
                  <por-switch-field
                    label-class="'col-sm-2'"
                    checked="config.HostConfig.Privileged"
                    label="'特权模式'"
                    on-change="(handlePrivilegedChange)"
                  ></por-switch-field>
                </div>
              </div>
              <!-- !privileged-mode -->
              <!-- init -->
              <div class="form-group" ng-if="applicationState.endpoint.apiVersion >= 1.37">
                <div class="col-sm-12">
                  <por-switch-field label-class="'col-sm-2'" checked="config.HostConfig.Init" label="'Init'" on-change="(handleInitChange)"></por-switch-field>
                </div>
              </div>
              <!-- !init -->
              <!-- runtimes -->
              <div class="form-group">
                <label for="container_runtime" class="col-sm-1 control-label text-left">Runtime</label>
                <div class="col-sm-11">
                  <select class="form-control" ng-model="config.HostConfig.Runtime" id="container_runtime" ng-options="runtime for runtime in availableRuntimes">
                    <option selected value="">默认</option>
                  </select>
                </div>
              </div>
              <!-- !runtimes -->
            </form>
            <form class="form-horizontal" style="margin-top: 15px" name="resourceForm">
              <!-- devices -->
              <div ng-if="showDeviceMapping" class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">设备</label>
                  <span class="label label-default interactive" style="margin-left: 10px" ng-click="addDevice()">
                    <pr-icon icon="'plus'" mode="'alt'" feather="true"></pr-icon> 添加设备
                  </span>
                </div>
                <!-- devices-input-list -->
                <div class="col-sm-12 form-inline" style="margin-top: 10px">
                  <div ng-repeat="device in config.HostConfig.Devices" style="margin-top: 2px">
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">主机</span>
                      <input type="text" class="form-control" ng-model="device.pathOnHost" placeholder="例如 /dev/tty0" />
                    </div>
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">容器</span>
                      <input type="text" class="form-control" ng-model="device.pathInContainer" placeholder="例如 /dev/tty0" />
                    </div>
                    <button class="btn btn-sm btn-light" type="button" ng-click="removeDevice($index)">
                      <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                    </button>
                  </div>
                </div>
                <!-- !devices-input-list -->
              </div>
              <!-- !devices-->
              <!-- sysctls -->
              <div ng-if="showSysctls" class="form-group">
                <div class="col-sm-12" style="margin-top: 5px">
                  <label class="control-label text-left">Sysctls</label>
                  <span class="label label-default interactive" style="margin-left: 10px" ng-click="addSysctl()">
                    <pr-icon icon="'plus'" feather="true"></pr-icon> 添加 sysctl
                  </span>
                </div>
                <!-- sysctls-input-list -->
                <div class="col-sm-12 form-inline" style="margin-top: 10px">
                  <div ng-repeat="sysctl in formValues.Sysctls" style="margin-top: 2px">
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">名称</span>
                      <input type="text" class="form-control" ng-model="sysctl.name" placeholder="例如 FOO" />
                    </div>
                    <div class="input-group col-sm-5 input-group-sm">
                      <span class="input-group-addon">value</span>
                      <input type="text" class="form-control" ng-model="sysctl.value" placeholder="例如 bar" />
                    </div>
                    <button class="btn btn-sm btn-light" type="button" ng-click="removeSysctl($index)">
                      <pr-icon icon="'trash-2'" feather="true" class-name="'icon-secondary icon-md'"></pr-icon>
                    </button>
                  </div>
                </div>
                <!-- !sysctls-input-list -->
              </div>
              <!-- !sysctls -->
              <!-- shm-size-input -->
              <div class="form-group">
                <label for="shm-size" class="col-sm-2 control-label text-left"> 共享内存大小 </label>
                <div class="col-sm-2">
                  <input type="number" min="1" class="form-control" ng-model="formValues.ShmSize" id="shm-size" />
                </div>
                <div class="col-sm-2">
                  <p class="small text-muted mt-2"> /dev/shm 的大小 (<b>MB</b>) </p>
                </div>
              </div>
              <!-- !shm-size-input -->
              <!-- #region GPU -->
              <div class="col-sm-12 form-section-title"> GPU </div>

              <gpu
                ng-if="applicationState.endpoint.apiVersion >= 1.4"
                values="formValues.GPU"
                on-change="(onGpuChange)"
                gpus="endpoint.Gpus"
                used-gpus="gpuUseList"
                used-all-gpus="gpuUseAll"
              >
              </gpu>

              <!-- #endregion GPU -->
              <div ng-class="{ 'edit-resources': state.mode == 'duplicate' }">
                <div class="col-sm-12 form-section-title"> 资源 </div>
                <!-- memory-reservation-input -->
                <div class="form-group flex">
                  <label for="memory-reservation" class="col-sm-3 col-lg-2 control-label text-left vertical-center"> 内存保留 (MB) </label>
                  <div class="col-sm-6">
                    <slider
                      on-change="(handleResourceChange)"
                      model="formValues.MemoryReservation"
                      floor="0"
                      ceil="state.sliderMaxMemory"
                      step="256"
                      ng-if="state.sliderMaxMemory"
                    ></slider>
                  </div>
                  <div class="col-sm-2 vertical-center">
                    <input
                      name="memory_reservation"
                      type="number"
                      min="0"
                      max="{{ state.sliderMaxMemory }}"
                      class="form-control"
                      ng-model="formValues.MemoryReservation"
                      id="memory-reservation"
                      required
                    />
                  </div>
                </div>
                <div class="form-group" ng-show="resourceForm.memory_reservation.$invalid">
                  <div class="col-sm-3 col-lg-2"></div>
                  <div class="col-sm-8 small text-muted">
                    <div ng-messages="resourceForm.memory-reservation.$error">
                      <p class="vertical-center text-warning">
                        <pr-icon icon="'alert-triangle'" feather="true" mode="'warning'"></pr-icon> 值必须介于0和 {{ state.sliderMaxMemory }} 之间.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- !memory-reservation-input -->
                <!-- memory-limit-input -->
                <div class="form-group flex">
                  <label for="memory-limit" class="col-sm-3 col-lg-2 control-label text-left vertical-center"> 内存限制 (MB) </label>
                  <div class="col-sm-6">
                    <slider
                      on-change="(handleResourceChange)"
                      model="formValues.MemoryLimit"
                      floor="0"
                      ceil="state.sliderMaxMemory"
                      step="256"
                      ng-if="state.sliderMaxMemory"
                    ></slider>
                  </div>
                  <div class="col-sm-2 vertical-center">
                    <input
                      name="memory_Limit"
                      type="number"
                      min="0"
                      max="{{ state.sliderMaxMemory }}"
                      class="form-control"
                      ng-model="formValues.MemoryLimit"
                      id="memory-limit"
                      required
                    />
                  </div>
                </div>
                <div class="form-group" ng-show="resourceForm.memory_Limit.$invalid">
                  <div class="col-sm-3 col-lg-2"></div>
                  <div class="col-sm-8 small text-muted">
                    <div ng-messages="resourceForm.memory-limit.$error">
                      <p class="vertical-center text-warning">
                        <pr-icon icon="'alert-triangle'" feather="true" mode="'warning'"></pr-icon> 值必须介于0和 {{ state.sliderMaxMemory }} 之间.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- !memory-limit-input -->
                <!-- cpu-limit-input -->
                <div class="form-group flex">
                  <label for="cpu-limit" class="col-sm-3 col-lg-2 control-label text-left vertical-center"> 最大CPU使用量 </label>
                  <div class="col-sm-8">
                    <slider
                      on-change="(handleResourceChange)"
                      model="formValues.CpuLimit"
                      floor="0"
                      ceil="state.sliderMaxCpu"
                      step="0.1"
                      precision="2"
                      ng-if="state.sliderMaxCpu"
                    ></slider>
                  </div>
                </div>
                <!-- !cpu-limit-input -->

                <!-- update-limit-btn -->
                <div class="form-group" ng-if="state.mode == 'duplicate'">
                  <div class="col-sm-12">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      ng-disabled="state.actionInProgress || !formValues.RegistryModel.Image || (!formValues.RegistryModel.Registry && fromContainer)"
                      ng-click="update()"
                      button-spinner="state.actionInProgress"
                    >
                      <span ng-hide="state.actionInProgress">更新限制</span>
                      <span ng-show="state.actionInProgress">正在更新中...</span>
                    </button>
                  </div>
                  <div class="col-sm-12" ng-if="state.settingUnlimitedResources">
                    <p class="text-muted mr-4">
                      <i class="fa fa-exclamation-circle text-warning mt-10" aria-hidden="true"></i> 将任何资源值更新为“unlimited”将重新部署此容器。
                    </p>
                  </div>
                </div>
                <!-- !update-limit-btn -->
              </div>
            </form>
          </div>
          <!-- !tab-runtime-resources -->
          <!-- tab-container-capabilities -->
          <div class="tab-pane" id="container-capabilities">
            <container-capabilities capabilities="formValues.capabilities"></container-capabilities>
          </div>
          <!-- !tab-container-capabilities -->
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
