<rd-header>
  <rd-header-title title-text="创建环境"></rd-header-title>
  <rd-header-content> <a ui-sref="portainer.endpoints">环境</a> &gt; 添加环境 </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="endpointCreationForm">
          <div class="col-sm-12 form-section-title">
            环境类型
          </div>
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0;">
            <div class="boxselector_wrapper">
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="agent_endpoint" ng-model="state.EnvironmentType" value="agent" />
                <label for="agent_endpoint" data-cy="endpointCreate-agentSelectButton">
                  <div class="boxselector_header">
                    <i class="fa fa-bolt" aria-hidden="true" style="margin-right: 2px;"></i>
                    代理
                  </div>
                  <p>Portainer 代理</p>
                </label>
              </div>
              <div ng-click="setDefaultPortainerInstanceURL()">
                <input type="radio" id="edge_agent_endpoint" ng-model="state.EnvironmentType" value="edge_agent" />
                <label for="edge_agent_endpoint" data-cy="endpointCreate-edgeAgentSelectButton">
                  <div class="boxselector_header">
                    <i class="fa fa-cloud" aria-hidden="true" style="margin-right: 2px;"></i>
                    Edge 代理
                  </div>
                  <p>Portainer Edge 代理</p>
                </label>
              </div>
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="docker_endpoint" ng-model="state.EnvironmentType" value="docker" />
                <label for="docker_endpoint" data-cy="endpointCreate-dockerSelectButton">
                  <div class="boxselector_header">
                    <i class="fab fa-docker" aria-hidden="true" style="margin-right: 2px;"></i>
                    Docker
                  </div>
                  <p>直接连接到 Docker API</p>
                </label>
              </div>
              <div ng-click="resetEndpointURL()">
                <input type="radio" id="kubernetes_endpoint" ng-model="state.EnvironmentType" value="kubernetes" />
                <label for="kubernetes_endpoint" data-cy="endpointCreate-kubeSelectButton">
                  <div class="boxselector_header">
                    <i class="fas fa-dharmachakra" aria-hidden="true" style="margin-right: 2px;"></i>
                    Kubernetes
                  </div>
                  <p>本地 Kubernetes 环境</p>
                </label>
              </div>
              <div>
                <input type="radio" id="azure_endpoint" ng-model="state.EnvironmentType" value="azure" />
                <label for="azure_endpoint" data-cy="endpointCreate-azureSelectButton">
                  <div class="boxselector_header">
                    <i class="fab fa-microsoft" aria-hidden="true" style="margin-right: 2px;"></i>
                    Azure
                  </div>
                  <p>连接到 Microsoft Azure ACI</p>
                </label>
              </div>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'docker'">
            <div class="col-sm-12 form-section-title">
              重要通知
            </div>
            <div class="form-group">
              <p class="col-sm-12 text-muted small">
                您可以通过via socket或TCP将Portainer连接到Docker环境。 您可以在
                <a href="https://docs.docker.com/engine/security/https/">Docker文档</a>中找到有关如何通过TCP公开Docker API的更多信息。
              </p>

              <p class="col-sm-12 text-muted small">
                使用via socket时，请确保已使用以下Docker标志启动Portainer容器
                <code> -v "/var/run/docker.sock:/var/run/docker.sock" </code>
                (on Linux) 或
                <code> -v \.\pipe\docker_engine:\.\pipe\docker_engine </code>
                (on Windows).
              </p>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'agent'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                确保首先在集群中部署了Portainer代理。请参阅下面与平台相关的命令以部署它。
                <div class="input-group input-group-sm" style="margin-top: 10px; margin-bottom: 10px;">
                  <div class="btn-group btn-group-sm">
                    <label class="btn btn-primary" ng-model="state.PlatformType" uib-btn-radio="'linux'"><i class="fab fa-linux" style="margin-right: 2px;"></i> Linux</label>
                    <label class="btn btn-primary" ng-model="state.PlatformType" uib-btn-radio="'windows'"><i class="fab fa-windows" style="margin-right: 2px;"></i> Windows</label>
                  </div>
                </div>
                <div style="margin-top: 10px;">
                  <uib-tabset active="state.deploymentTab">
                    <uib-tab index="0" ng-if="state.PlatformType === 'linux'" heading="Kubernetes通过负载均衡器">
                      <code style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.kubeLoadBalancer }}</code>
                    </uib-tab>

                    <uib-tab index="1" ng-if="state.PlatformType === 'linux'" heading="Kubernetes通过节点端口">
                      <code style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.kubeNodePort }}</code>
                    </uib-tab>

                    <uib-tab index="2" heading="Docker Swarm">
                      <code ng-if="state.PlatformType === 'linux'" style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.agentLinux }}</code>
                      <code ng-if="state.PlatformType === 'windows'" style="display: block; white-space: pre-wrap; padding: 16px 90px;">{{ deployCommands.agentWindows }}</code>
                    </uib-tab>
                  </uib-tabset>
                  <div style="margin-top: 10px;">
                    <span class="btn btn-primary btn-sm space-left" ng-click="copyAgentCommand()"><i class="fa fa-copy space-right" aria-hidden="true"></i>复制命令</span>
                    <span>
                      <i id="copyNotification" class="fa fa-check green-icon" aria-hidden="true" style="margin-left: 7px; display: none;"></i>
                    </span>
                  </div>
                </div>
              </span>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'edge_agent'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                <p>
                  允许您创建可以向 Edge 代理注册的环境。 Edge 代理将启动与 Portainer 实例的通信。 全部
                   创建环境后，将提供有关如何将 Edge 代理连接到此环境的所需信息。
                </p>
                <p> 您可以点击 <a href="https://downloads.portainer.io/edge_agent_guide.pdf">此处</a> 提供的用户指南中阅读有关Edge代理的更多信息。 </p>
              </span>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'kubernetes'">
            <div class="col-sm-12 form-section-title">
              重要通知
            </div>
            <div class="form-group">
              <p class="col-sm-12 text-muted small">
                这将允许您管理运行Portainer的Kubernetes环境。
              </p>

              <p class="col-sm-12 text-muted small">
                <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                要管理远程Kubernetes环境，请使用代理或Edge代理选项。
              </p>
            </div>
          </div>
          <div ng-if="state.EnvironmentType === 'azure'">
            <div class="col-sm-12 form-section-title">
              信息
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <span class="small">
                  <p class="text-muted"> <i class="fa fa-flask orange-icon" aria-hidden="true" style="margin-right: 2px;"></i> 此功能是实验性的。 </p>
                  <p class="text-primary">
                    连接到 Microsoft Azure 以管理 Azure 容器实例 (ACI)。
                  </p>
                  <p class="text-muted">
                    <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                    看一下
                    <a href="https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal" target="_blank"
                      >Azure 文档</a
                    >
                    检索下面所需的凭据。
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 form-section-title">
            环境详情
          </div>
          <!-- name-input -->
          <div class="form-group">
            <label for="container_name" class="col-sm-3 col-lg-2 control-label text-left">名称</label>
            <div class="col-sm-9 col-lg-10">
              <input
                type="text"
                class="form-control"
                name="container_name"
                ng-model="formValues.Name"
                placeholder="例如 docker-prod01 / kubernetes-cluster01"
                required
                auto-focus
                data-cy="endpointCreate-nameInput"
              />
            </div>
          </div>
          <div class="form-group" ng-show="endpointCreationForm.container_name.$invalid">
            <div class="col-sm-12 small text-warning">
              <div ng-messages="endpointCreationForm.container_name.$error">
                <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
              </div>
            </div>
          </div>
          <!-- !name-input -->
          <!-- connect-via-socket-input -->
          <div ng-if="state.EnvironmentType === 'docker'">
            <div class="form-group" style="padding-left: 15px;">
              <label for="connect_socket" class="col-sm_12 control-label text-left">
                通过socket连接
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" ng-model="formValues.ConnectSocket" /><i data-cy="endpointCreate-connectSocketSwitch"></i>
              </label>
            </div>
          </div>

          <div ng-if="state.EnvironmentType === 'docker' && formValues.ConnectSocket">
            <div class="form-group" style="padding-left: 15px;">
              <label for="override_socket" class="col-sm_12 control-label text-left">
                覆盖默认socket路径
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" ng-model="formValues.OverrideSocket" /><i data-cy="endpointCreate-overrideSocketSwitch"></i>
              </label>
            </div>

            <div ng-if="formValues.OverrideSocket">
              <div class="form-group">
                <label for="socket_path" class="col-sm-3 col-lg-2 control-label text-left">
                  Socket 路径
                  <portainer-tooltip position="bottom" message="Docker socket的路径。 请记住绑定挂载socket，有关详细信息，请参阅上面的重要通知。">
                  </portainer-tooltip>
                </label>
                <div class="col-sm-9 col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    name="socket_path"
                    ng-model="formValues.SocketPath"
                    placeholder="例如 /var/run/docker.sock (on Linux) or //./pipe/docker_engine (on Windows)"
                    required
                    data-cy="endpointCreate-socketPathInput"
                  />
                </div>
              </div>
              <div class="form-group" ng-show="endpointCreationForm.socket_path.$invalid">
                <div class="col-sm-12 small text-warning">
                  <div ng-messages="endpointCreationForm.socket_path.$error">
                    <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- !connect-via-socket-input -->
          <!-- endpoint-url-input -->
          <div ng-if="(state.EnvironmentType === 'docker' && !formValues.ConnectSocket) || state.EnvironmentType === 'agent'">
            <div class="form-group">
              <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
                环境 URL
                <portainer-tooltip
                  position="bottom"
                  message="Docker 主机的 URL 或 IP 地址。 Docker API 必须通过 TCP 端口公开。 请参考 Docker 文档进行配置。"
                >
                </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  ng-if="state.EnvironmentType === 'docker'"
                  type="text"
                  class="form-control"
                  name="endpoint_url"
                  ng-model="formValues.URL"
                  placeholder="例如 10.0.0.10:2375 or mydocker.mydomain.com:2375"
                  required
                  data-cy="endpointCreate-endpointUrlDockerInput"
                />
                <input
                  ng-if="state.EnvironmentType === 'agent'"
                  type="text"
                  class="form-control"
                  name="endpoint_url"
                  ng-model="formValues.URL"
                  placeholder="例如 10.0.0.10:9001 or tasks.portainer_agent:9001"
                  required
                  data-cy="endpointCreate-endpointUrlAgentInput"
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.endpoint_url.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.endpoint_url.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                </div>
              </div>
            </div>
          </div>
          <!-- !endpoint-url-input -->
          <!-- portainer-instance-input -->
          <div ng-if="state.EnvironmentType === 'edge_agent'">
            <div class="form-group">
              <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
                Portainer服务器URL
                <portainer-tooltip position="bottom" message="代理将用于启动通信的Portainer实例的URL。"></portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="endpoint_url"
                  ng-model="formValues.URL"
                  placeholder="例如 10.0.0.10:9443 or portainer.mydomain.com"
                  required
                  data-cy="endpointCreate-portainerServerUrlInput"
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.endpoint_url.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.endpoint_url.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                </div>
              </div>
            </div>
            <!-- !portainer-instance-input -->
            <div class="form-group">
              <label for="edge_checkin" class="col-sm-2 control-label text-left">
                轮询频率
                <portainer-tooltip
                  position="bottom"
                  message="此Edge代理用于签入Portainer实例的时间间隔。影响Edge环境管理和Edge计算功能。"
                >
                </portainer-tooltip>
              </label>
              <div class="col-sm-10">
                <select
                  id="edge_checkin"
                  class="form-control"
                  ng-model="formValues.CheckinInterval"
                  ng-options="+(opt.value) as opt.key for opt in state.availableEdgeAgentCheckinOptions"
                  data-cy="endpointCreate-pollFrequencySelect"
                ></select>
              </div>
            </div>
          </div>
          <!-- endpoint-public-url-input -->
          <div ng-if="state.EnvironmentType === 'docker' || state.EnvironmentType === 'agent'">
            <div class="form-group">
              <label for="endpoint_public_url" class="col-sm-3 col-lg-2 control-label text-left">
                公网 IP
                <portainer-tooltip
                  position="bottom"
                  message="可访问暴露容器的URL或IP地址。此字段是可选的，默认为环境URL。"
                >
                </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  id="endpoint_public_url"
                  ng-model="formValues.PublicURL"
                  placeholder="例如 10.0.0.10 or mydocker.mydomain.com"
                  data-cy="endpointCreate-publicIpInput"
                />
              </div>
            </div>
          </div>
          <!-- !endpoint-public-url-input -->
          <!-- azure-details -->
          <div ng-if="state.EnvironmentType === 'azure'">
            <!-- applicationId-input -->
            <div class="form-group">
              <label for="azure_credential_appid" class="col-sm-3 col-lg-2 control-label text-left">应用程序ID</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_appid"
                  ng-model="formValues.AzureApplicationId"
                  placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                  required
                  data-cy="endpointCreate-azureAppIdInput"
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_appid.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_appid.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                </div>
              </div>
            </div>
            <!-- !applicationId-input -->
            <!-- tenantId-input -->
            <div class="form-group">
              <label for="azure_credential_tenantid" class="col-sm-3 col-lg-2 control-label text-left">Tenant ID</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_tenantid"
                  ng-model="formValues.AzureTenantId"
                  placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                  required
                  data-cy="endpointCreate-azureTenantIdInput"
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_tenantid.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_tenantid.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                </div>
              </div>
            </div>
            <!-- !tenantId-input -->
            <!-- authenticationkey-input -->
            <div class="form-group">
              <label for="azure_credential_authkey" class="col-sm-3 col-lg-2 control-label text-left">Authentication key</label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  name="azure_credential_authkey"
                  ng-model="formValues.AzureAuthenticationKey"
                  placeholder="cOrXoK/1D35w8YQ8nH1/8ZGwzz45JIYD5jxHKXEQknk="
                  required
                  data-cy="endpointCreate-azureAuthKeyInput"
                />
              </div>
            </div>
            <div class="form-group" ng-show="endpointCreationForm.azure_credential_authkey.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="endpointCreationForm.azure_credential_authkey.$error">
                  <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
                </div>
              </div>
            </div>
            <!-- !authenticationkey-input -->
          </div>
          <!-- !azure-details -->
          <!-- endpoint-security -->
          <por-endpoint-security ng-if="state.EnvironmentType === 'docker' && !formValues.ConnectSocket" form-data="formValues.SecurityFormData"></por-endpoint-security>
          <!-- !endpoint-security -->
          <div class="col-sm-12 form-section-title">
            元数据
          </div>
          <!-- group -->
          <div class="form-group">
            <label for="endpoint_group" class="col-sm-3 col-lg-2 control-label text-left">
              群组
            </label>
            <div class="col-sm-9 col-lg-10">
              <select
                ng-options="group.Id as group.Name for group in groups"
                ng-model="formValues.GroupId"
                id="endpoint_group"
                class="form-control"
                data-cy="endpointCreate-endpointGroup"
              ></select>
            </div>
          </div>
          <!-- !group -->
          <!-- tags -->
          <div class="form-group">
            <tag-selector ng-if="formValues && availableTags" tags="availableTags" model="formValues.TagIds" allow-create="state.allowCreateTag" on-create="(onCreateTag)">
            </tag-selector>
          </div>
          <!-- !tags -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <!-- actions -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                ng-if="state.EnvironmentType === 'docker'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid || (formValues.TLS && ((formValues.TLSVerify && !formValues.TLSCACert) || (formValues.TLSClientCert && (!formValues.TLSCert || !formValues.TLSKey))))"
                ng-click="addDockerEndpoint()"
                button-spinner="state.actionInProgress"
                data-cy="endpointCreate-createDockerEndpoint"
                analytics-on
                analytics-category="portainer"
                analytics-event="portainer-endpoint-creation"
                analytics-properties="{ metadata: { type: 'docker-api' } }"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加环境</span>
                <span ng-show="state.actionInProgress">创建环境。。。</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'agent'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addAgentEndpoint()"
                button-spinner="state.actionInProgress"
                data-cy="endpointCreate-createAgentEndpoint"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加环境</span>
                <span ng-show="state.actionInProgress">创建环境。。。</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'edge_agent'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addEdgeAgentEndpoint()"
                button-spinner="state.actionInProgress"
                data-cy="endpointCreate-createEdgeAgentEndpoint"
                analytics-on
                analytics-category="portainer"
                analytics-event="portainer-endpoint-creation"
                analytics-properties="{ metadata: { type: 'edge-agent' } }"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加环境</span>
                <span ng-show="state.actionInProgress">创建环境。。。</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'kubernetes'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addKubernetesEndpoint()"
                button-spinner="state.actionInProgress"
                analytics-on
                analytics-category="portainer"
                analytics-event="portainer-endpoint-creation"
                analytics-properties="{ metadata: { type: 'kubernetes-api' } }"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加环境</span>
                <span ng-show="state.actionInProgress">创建环境。。。</span>
              </button>
              <button
                ng-if="state.EnvironmentType === 'azure'"
                type="submit"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !endpointCreationForm.$valid"
                ng-click="addAzureEndpoint()"
                button-spinner="state.actionInProgress"
                data-cy="endpointCreate-createAzureEndpoint"
                analytics-on
                analytics-category="portainer"
                analytics-event="portainer-endpoint-creation"
                analytics-properties="{ metadata: { type: 'azure-api' } }"
              >
                <span ng-hide="state.actionInProgress"><i class="fa fa-plus" aria-hidden="true"></i> 添加环境</span>
                <span ng-show="state.actionInProgress">创建环境。。。</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
