<rd-header>
  <rd-header-title title-text="创建模板"></rd-header-title>
  <rd-header-content> <a ui-sref="portainer.templates">模板</a> &gt; 添加模板 </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <template-form
          model="model"
          categories="categories"
          networks="networks"
          form-action="create"
          show-type-selector="true"
          form-action-label="创建模板"
          action-in-progress="state.actionInProgress"
        ></template-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
