<div>
  <table class="table table-bordered table-condensed">
    <tr>
      <td class="col-md-3">
        <span>名称</span>
      </td>
      <td>
        <select class="form-control" ng-model="$ctrl.state.editModel.name" disable-authorization="DockerContainerUpdate">
          <option value="no">没有</option>
          <option value="on-failure">非正常退出时重启</option>
          <option value="always">总是重启</option>
          <option value="unless-stopped">排除崩溃，总是重启</option>
        </select>
      </td>
      <td class="col-md-2" authorization="DockerContainerUpdate">
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.save()">更新</button>
      </td>
    </tr>
    <tr ng-if="$ctrl.state.editModel.name === 'on-failure'">
      <td class="col-md-3">最大重试次数</td>
      <td colspan="2">
        <input type="number" class="form-control" ng-model="$ctrl.state.editModel.maximumRetryCount" />
      </td>
    </tr>
  </table>
</div>
