<div class="form-group">
  <label class="col-sm-3 col-lg-2 control-label text-left">
    选择用户/或团队
  </label>
  <div class="col-sm-9 col-lg-4">
    <span class="small text-muted" ng-if="$ctrl.options.length === 0">
      没有可用的用户或团队。
    </span>
    <span
      isteven-multi-select
      ng-if="$ctrl.options.length > 0"
      input-model="$ctrl.options"
      output-model="$ctrl.value"
      button-label="icon Name"
      item-label="icon Name"
      tick-property="ticked"
      helper-elements="filter"
      search-property="Name"
      translation="{nothingSelected: '选择一个或多个用户/或团队', search: '搜索...'}"
      data-cy="component-selectUser"
    >
    </span>
  </div>
</div>
