<page-header title="'服务细节'" breadcrumbs="[{label:'Services', link:'docker.services'}, service.Name]" reload="true"> </page-header>

<div class="row">
  <div ng-if="isUpdating" class="col-lg-12 col-md-12 col-xs-12">
    <div class="alert alert-info" role="alert" id="service-update-alert">
      <p>这项服务正在更新中。编辑这项服务目前是禁用的。</p>
      <a ui-sref="docker.services.service({id: service.Id}, {reload: true})">刷新以查看该服务是否已完成更新。</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-9 col-md-9 col-xs-9">
    <rd-widget>
      <rd-widget-header icon="shuffle" feather-icon="true" title-text="Service details"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>名称</td>
              <td ng-if="applicationState.endpoint.apiVersion <= 1.24">
                <input type="text" class="form-control" ng-model="service.Name" ng-change="updateServiceAttribute(service, 'Name')" ng-disabled="isUpdating" />
              </td>
              <td ng-if="applicationState.endpoint.apiVersion >= 1.25">
                {{ service.Name }}
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ service.Id }}
              </td>
            </tr>
            <tr ng-if="service.CreatedAt">
              <td>创建于</td>
              <td>{{ service.CreatedAt | getisodate }}</td>
            </tr>
            <tr ng-if="service.UpdatedAt">
              <td>最后更新于</td>
              <td>{{ service.UpdatedAt | getisodate }}</td>
            </tr>
            <tr ng-if="service.Version">
              <td>版本</td>
              <td>{{ service.Version }}</td>
            </tr>
            <tr>
              <td>调度模式</td>
              <td>{{ service.Mode }}</td>
            </tr>
            <tr ng-if="service.Mode === 'replicated'">
              <td>复制副本</td>
              <td>
                <span ng-if="service.Mode === 'replicated'">
                  <input
                    class="input-sm"
                    type="number"
                    ng-model="service.Replicas"
                    ng-change="updateServiceAttribute(service, 'Replicas')"
                    disable-authorization="DockerServiceUpdate"
                  />
                </span>
              </td>
            </tr>
            <tr>
              <td>镜像</td>
              <td>{{ service.Image }}</td>
            </tr>
            <tr ng-if="isAdmin && applicationState.endpoint.type !== 4">
              <td colspan="{{ webhookURL ? '1' : '2' }}">
                <por-switch-field
                  tooltip="'用于自动更新此服务的Webhook（或回调URI）。向这个回调URI发送一个POST请求（不需要任何认证）将拉出相关图像的最新版本并重新部署这个服务。'"
                  checked="WebhookExists"
                  disabled="!isAdmin"
                  on-change="(onWebhookChange)"
                  label="'Service webhook'"
                ></por-switch-field>
              </td>
              <td ng-if="webhookURL">
                <span class="text-muted">{{ webhookURL | truncatelr }}</span>
                <button type="button" class="btn btn-sm btn-primary btn-sm space-left" ng-if="webhookURL" ng-click="copyWebhook()">
                  <span><i class="fa fa-copy space-right" aria-hidden="true"></i>复制链接</span>
                </button>
                <span>
                  <i id="copyNotification" class="fa fa-check green-icon" aria-hidden="true" style="margin-left: 7px; display: none"></i>
                </span>
              </td>
            </tr>
            <tr authorization="DockerServiceLogs, DockerServiceUpdate, DockerServiceDelete">
              <td colspan="2">
                <p class="small text-muted" authorization="DockerServiceUpdate">
                  注意：你只能回滚一级的变化。点击回滚按钮而不做新的修改，将撤消你之前的回滚。 </p
                ><p>
                  <a
                    authorization="DockerServiceLogs"
                    ng-if="applicationState.endpoint.apiVersion >= 1.3"
                    class="btn btn-primary btn-sm"
                    type="button"
                    ui-sref="docker.services.service.logs({id: service.Id})"
                    ><i class="fa fa-file-alt space-right" aria-hidden="true"></i>服务日志</a
                  >
                  <button
                    authorization="DockerServiceUpdate"
                    type="button"
                    class="btn btn-primary btn-sm"
                    ng-disabled="state.updateInProgress || isUpdating"
                    ng-click="forceUpdateService(service)"
                    button-spinner="state.updateInProgress"
                    ng-if="applicationState.endpoint.apiVersion >= 1.25"
                  >
                    <span ng-hide="state.updateInProgress"><i class="fa fa-sync space-right" aria-hidden="true"></i>更新服务</span>
                    <span ng-show="state.updateInProgress">正在更新中...</span>
                  </button>
                  <button
                    authorization="DockerServiceUpdate"
                    type="button"
                    class="btn btn-primary btn-sm"
                    ng-disabled="state.rollbackInProgress || isUpdating"
                    ng-click="rollbackService(service)"
                    button-spinner="state.rollbackInProgress"
                    ng-if="applicationState.endpoint.apiVersion >= 1.25"
                  >
                    <span ng-hide="state.rollbackInProgress"><i class="fa fa-undo space-right" aria-hidden="true"></i>回滚服务</span>
                    <span ng-show="state.rollbackInProgress">回滚过程中...</span>
                  </button>
                  <button
                    authorization="DockerServiceDelete"
                    type="button"
                    class="btn btn-danger btn-sm"
                    ng-disabled="state.deletionInProgress || isUpdating"
                    ng-click="removeService()"
                    button-spinner="state.deletionInProgress"
                  >
                    <span ng-hide="state.deletionInProgress"><i class="fa fa-trash-alt space-right" aria-hidden="true"></i>删除该服务</span>
                    <span ng-show="state.deletionInProgress">正在删除...</span>
                  </button>
                </p></td
              >
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
      <rd-widget-footer authorization="DockerServiceUpdate">
        <p class="small text-muted">
          你需要帮助吗？在 <a href="https://docs.docker.com/engine/reference/commandline/service_update/" target="self">此处</a>查看Docker服务文档。
        </p>
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" ng-disabled="!hasChanges(service, ['Mode', 'Replicas', 'Name', 'Webhooks'])" ng-click="updateService(service)"
              >应用更改</button
            >
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="cancelChanges(service, ['Mode', 'Replicas', 'Name'])">重置变更</a></li>
              <li><a ng-click="cancelChanges(service)">重置所有更改</a></li>
            </ul>
          </div>
        </div>
      </rd-widget-footer>
    </rd-widget>
  </div>

  <div class="col-lg-3 col-md-3 col-xs-3">
    <rd-widget>
      <rd-widget-header icon="fa-bars" title-text="快速导航"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <ul class="nav nav-pills nav-stacked">
          <li><a href ng-click="goToItem('service-env-variables')">环境变量</a></li>
          <li><a href ng-click="goToItem('service-container-image')">容器镜像</a></li>
          <li><a href ng-click="goToItem('service-container-labels')">容器标签</a></li>
          <li><a href ng-click="goToItem('service-mounts')">挂载</a></li>
          <li><a href ng-click="goToItem('service-network-specs')">网络 &amp; 已发布端口</a></li>
          <li><a href ng-click="goToItem('service-resources')">资源限制 &amp; 保留</a></li>
          <li><a href ng-click="goToItem('service-placement-constraints')">放置限制</a></li>
          <li ng-if="applicationState.endpoint.apiVersion >= 1.3"><a href ng-click="goToItem('service-placement-preferences')">放置首选项</a></li>
          <li><a href ng-click="goToItem('service-restart-policy')">重新启动政策</a></li>
          <li><a href ng-click="goToItem('service-update-config')">更新配置</a></li>
          <li><a href ng-click="goToItem('service-logging')">日志</a></li>
          <li><a href ng-click="goToItem('service-labels')">服务标签</a></li>
          <li><a href ng-click="goToItem('service-configs')">配置</a></li>
          <li ng-if="applicationState.endpoint.apiVersion >= 1.25"><a href ng-click="goToItem('service-secrets')">Secrets</a></li>
          <li><a href ng-click="goToItem('service-tasks')">任务</a></li>
        </ul>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="service"
  resource-id="service.Id"
  resource-control="service.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
>
</access-control-panel>
<!-- !access-control-panel -->

<div class="row">
  <hr />
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="container-specs">容器规格</h3>
    <div id="service-container-spec" class="padding-top" ng-include="'app/docker/views/services/edit/includes/container-specs.html'"></div>
    <div id="service-container-image" class="padding-top" ng-include="'app/docker/views/services/edit/includes/image.html'"></div>
    <div id="service-env-variables" class="padding-top" ng-include="'app/docker/views/services/edit/includes/environmentvariables.html'"></div>
    <div id="service-container-labels" class="padding-top" ng-include="'app/docker/views/services/edit/includes/containerlabels.html'"></div>
    <div id="service-mounts" class="padding-top" ng-include="'app/docker/views/services/edit/includes/mounts.html'"></div>
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-network-specs">网络 &amp; 端口</h3>
    <div id="service-networks" class="padding-top" ng-include="'app/docker/views/services/edit/includes/networks.html'"></div>
    <div id="service-published-ports" class="padding-top" ng-include="'app/docker/views/services/edit/includes/ports.html'"></div>
    <div id="service-hosts-entries" class="padding-top" ng-include="'app/docker/views/services/edit/includes/hosts.html'"></div>
  </div>
</div>

<div class="row">
  <hr />
  <div class="col-lg-12 col-md-12 col-xs-12">
    <h3 id="service-specs">服务规范</h3>
    <div id="service-resources" class="padding-top" ng-include="'app/docker/views/services/edit/includes/resources.html'"></div>
    <div id="service-placement-constraints" class="padding-top" ng-include="'app/docker/views/services/edit/includes/constraints.html'"></div>
    <div
      id="service-placement-preferences"
      ng-if="applicationState.endpoint.apiVersion >= 1.3"
      class="padding-top"
      ng-include="'app/docker/views/services/edit/includes/placementPreferences.html'"
    ></div>
    <div id="service-restart-policy" class="padding-top" ng-include="'app/docker/views/services/edit/includes/restart.html'"></div>
    <div id="service-update-config" class="padding-top" ng-include="'app/docker/views/services/edit/includes/updateconfig.html'"></div>
    <div id="service-logging" class="padding-top" ng-include="'app/docker/views/services/edit/includes/logging.html'"></div>
    <div id="service-labels" class="padding-top" ng-include="'app/docker/views/services/edit/includes/servicelabels.html'"></div>
    <div id="service-configs" class="padding-top" ng-include="'app/docker/views/services/edit/includes/configs.html'"></div>
    <div id="service-secrets" ng-if="applicationState.endpoint.apiVersion >= 1.25" class="padding-top" ng-include="'app/docker/views/services/edit/includes/secrets.html'"></div>
    <div id="service-tasks" class="padding-top" ng-include="'app/docker/views/services/edit/includes/tasks.html'"></div>
  </div>
</div>
