<rd-header>
  <rd-header-title title-text="Registry details"></rd-header-title>
  <rd-header-content>
    <a ui-sref="portainer.registries">注册表</a> &gt; <a ui-sref="portainer.registries.registry({id: registry.Id})">{{ registry.Name }}</a>
  </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- name-input -->
          <div class="form-group">
            <label for="registry_name" class="col-sm-3 col-lg-2 control-label text-left">名称</label>
            <div class="col-sm-9 col-lg-10">
              <input type="text" class="form-control" id="registry_name" ng-model="registry.Name" placeholder="例如 my-registry" />
            </div>
          </div>
          <!-- !name-input -->
          <!-- registry-url-input -->
          <div class="form-group">
            <label for="registry_url" class="col-sm-3 col-lg-2 control-label text-left">
              注册表 URL
              <portainer-tooltip position="bottom" message="Docker 注册表的 URL 或 IP 地址。"></portainer-tooltip>
            </label>
            <div class="col-sm-9 col-lg-10">
              <input type="text" class="form-control" id="registry_url" ng-model="registry.URL" placeholder="例如 10.0.0.10:5000 or myregistry.domain.tld" />
            </div>
          </div>
          <!-- !registry-url-input -->
          <!-- authentication-checkbox -->
          <div class="form-group">
            <div class="col-sm-12">
              <label for="registry_auth" class="control-label text-left">
                验证
                <portainer-tooltip position="bottom" message="如果您需要指定凭据以连接到此注册表，请启用此选项。"></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="registry.Authentication" /><i></i> </label>
            </div>
          </div>
          <!-- !authentication-checkbox -->
          <!-- authentication-credentials -->
          <div ng-if="registry.Authentication">
            <!-- credentials-user -->
            <div class="form-group">
              <label for="credentials_username" class="col-sm-3 col-lg-2 control-label text-left">用户名</label>
              <div class="col-sm-9 col-lg-10">
                <input type="text" class="form-control" id="credentials_username" ng-model="registry.Username" />
              </div>
            </div>
            <!-- !credentials-user -->
            <!-- credentials-password -->
            <div class="form-group">
              <label for="credentials_password" class="col-sm-3 col-lg-2 control-label text-left">密  码</label>
              <div class="col-sm-9 col-lg-10">
                <input type="password" class="form-control" id="credentials_password" ng-model="formValues.Password" placeholder="*******" />
              </div>
            </div>
            <!-- !credentials-password -->
          </div>
          <!-- !authentication-credentials -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !registry.Name || !registry.URL"
                ng-click="updateRegistry()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">更新注册表</span>
                <span ng-show="state.actionInProgress">更新注册表中...</span>
              </button>
              <a type="button" class="btn btn-default btn-sm" ui-sref="portainer.registries">Cancel</a>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
