<page-header title="'身份验证设置'" breadcrumbs="[{label:'设置', link:'portainer.settings'}, '身份验证']" reload="true"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="users" title-text="Authentication"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" name="authSettingsForm">
          <div class="col-sm-12 form-section-title"> 配置 </div>
          <div class="form-group">
            <label for="user_timeout" class="col-sm-2 control-label text-left">
              会话生命周期
              <portainer-tooltip message="'用户被强制重新登录前的时间。'"></portainer-tooltip>
            </label>
            <div class="col-sm-10">
              <select
                id="user_timeout"
                class="form-control"
                ng-model="settings.UserSessionTimeout"
                ng-options="opt.value as opt.key for opt in state.availableUserSessionTimeoutOptions"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small vertical-center">
              <pr-icon icon="'alert-triangle'" class-name="'icon-sm icon-yellow'"></pr-icon>
              如果在 Portainer 前面有其他身份验证层，建议才更改默认设置。
            </span>
          </div>

          <div class="col-sm-12 form-section-title"> 身份验证方式 </div>

          <box-selector radio-name="'authOptions'" value="authMethod" options="authOptions" on-change="(onChangeAuthMethod)"></box-selector>

          <internal-auth
            ng-if="authenticationMethodSelected(1)"
            on-save-settings="(saveSettings)"
            is-loading="state.actionInProgress"
            value="settings.InternalAuthSettings"
            on-change="(onChangePasswordLength)"
          ></internal-auth>

          <ldap-settings
            ng-if="authenticationMethodSelected(2)"
            settings="formValues.ldap.ldapSettings"
            tlsca-cert="formValues.TLSCACert"
            state="state"
            connectivity-check="LDAPConnectivityCheck"
            on-save-settings="(saveSettings)"
            save-button-state="state.actionInProgress"
            is-ldap-form-valid="isLDAPFormValid"
          ></ldap-settings>

          <ad-settings
            ng-if="authenticationMethodSelected(4)"
            settings="formValues.ldap.adSettings"
            tlsca-cert="formValues.TLSCACert"
            state="state"
            connectivity-check="LDAPConnectivityCheck"
            on-save-settings="(saveSettings)"
            save-button-state="state.actionInProgress"
            is-ldap-form-valid="isLDAPFormValid()"
          ></ad-settings>

          <oauth-settings
            ng-if="authenticationMethodSelected(3)"
            settings="OAuthSettings"
            teams="teams"
            on-save-settings="(saveSettings)"
            save-button-state="state.actionInProgress"
          ></oauth-settings>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
