<ng-form class="ad-settings" limited-feature-dir="{{::$ctrl.limitedFeatureId}}" limited-feature-class="limited-be">
  <div class="be-indicator-container">
    <div class="limited-be-link vertical-center"><be-feature-indicator feature="$ctrl.limitedFeatureId"></be-feature-indicator></div>
    <div class="limited-be-content">
      <auto-user-provision-toggle ng-model="$ctrl.settings.AutoCreateUsers">
        <field-description>
          启用自动用户配置后，Portainer 将自动创建具有标准用户角色的用户，并将它们分配到与 LDAP 组名匹配的团队。如果禁用，则必须事先在 Portainer 中创建用户。
        </field-description>
      </auto-user-provision-toggle>

      <div>
        <div class="col-sm-12 form-section-title"> 信息 </div>
        <div class="form-group col-sm-12 text-muted small">
          当使用 Microsoft AD 认证时，Portainer 将用户认证委托给下面配置的域控制器；如果没有连接，Portainer 将退回到内部认证。
        </div>
      </div>

      <div class="col-sm-12 form-section-title"> AD 配置 </div>

      <div class="form-group">
        <div class="col-sm-12 small text-muted">
          <p class="vertical-center">
            <pr-icon icon="'info'" mode="'primary'"></pr-icon>
            您可以为认证备用配置多个AD控制器。确保所有服务器使用相同的配置（即，如果启用了TLS，则它们应该都使用相同的证书）。
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="ldap_url" class="col-sm-3 col-lg-2 control-label text-left" style="display: flex; flex-wrap: wrap">
          AD 控制器
          <button
            type="button"
            class="label label-default interactive vertical-center"
            style="border: 0"
            ng-click="$ctrl.addLDAPUrl()"
            limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
            limited-feature-tabindex="-1"
          >
            <pr-icon icon="'plus-circle'"></pr-icon>
            添加额外的服务器
          </button>
        </label>
        <div class="col-sm-9 col-lg-10">
          <div ng-repeat="url in $ctrl.settings.URLs track by $index" style="display: flex; margin-bottom: 10px">
            <input
              type="text"
              class="form-control"
              id="ldap_url"
              ng-model="$ctrl.settings.URLs[$index]"
              placeholder="例如 10.0.0.10:389 or myldap.domain.tld:389"
              limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
              limited-feature-tabindex="-1"
            />
            <button
              ng-if="$index > 0"
              class="btn btn-sm btn-danger"
              type="button"
              ng-click="$ctrl.removeLDAPUrl($index)"
              limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
              limited-feature-tabindex="-1"
            >
              <pr-icon icon="'trash-2'"></pr-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="ldap_username" class="col-sm-3 control-label text-left">
          服务账号
          <portainer-tooltip message="'将用于搜索用户的帐户。'"></portainer-tooltip>
        </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            id="ldap_username"
            ng-model="$ctrl.settings.ReaderDN"
            placeholder="reader@domain.tld"
            ng-change="$ctrl.onAccountChange($ctrl.settings.ReaderDN)"
            limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
            limited-feature-tabindex="-1"
          />
        </div>
      </div>

      <div class="form-group">
        <label for="ldap_password" class="col-sm-3 control-label text-left">
          服务账号密码
          <portainer-tooltip message="'如果您不输入密码，Portainer 将保持当前密码不变。'"></portainer-tooltip>
        </label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            id="ldap_password"
            ng-model="$ctrl.settings.Password"
            placeholder="password"
            autocomplete="new-password"
            limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
            limited-feature-tabindex="-1"
          />
        </div>
      </div>

      <ldap-connectivity-check
        ng-if="!$ctrl.settings.TLSConfig.TLS && !$ctrl.settings.StartTLS"
        settings="$ctrl.settings"
        state="$ctrl.state"
        connectivity-check="$ctrl.connectivityCheck"
        limited-feature-id="$ctrl.limitedFeatureId"
      ></ldap-connectivity-check>

      <ldap-settings-security
        title="AD 连接安全性"
        settings="$ctrl.settings"
        tlsca-cert="$ctrl.tlscaCert"
        upload-in-progress="$ctrl.state.uploadInProgress"
        on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
        limited-feature-id="$ctrl.limitedFeatureId"
      ></ldap-settings-security>

      <ldap-connectivity-check
        ng-if="$ctrl.settings.TLSConfig.TLS || $ctrl.settings.StartTLS"
        settings="$ctrl.settings"
        state="$ctrl.state"
        connectivity-check="$ctrl.connectivityCheck"
        limited-feature-id="$ctrl.limitedFeatureId"
      ></ldap-connectivity-check>

      <ldap-user-search
        style="margin-top: 5px"
        show-username-format="true"
        settings="$ctrl.settings.SearchSettings"
        domain-suffix="{{ $ctrl.domainSuffix }}"
        base-filter="(objectClass=user)"
        on-search-click="($ctrl.searchUsers)"
        limited-feature-id="$ctrl.limitedFeatureId"
      ></ldap-user-search>

      <ldap-group-search
        style="margin-top: 5px"
        settings="$ctrl.settings.GroupSearchSettings"
        domain-suffix="{{ $ctrl.domainSuffix }}"
        base-filter="(objectClass=group)"
        on-search-click="($ctrl.searchGroups)"
        limited-feature-id="$ctrl.limitedFeatureId"
      ></ldap-group-search>

      <ldap-custom-admin-group
        style="margin-top: 5px"
        settings="$ctrl.settings"
        on-search-click="($ctrl.onSearchAdminGroupsClick)"
        selected-admin-groups="$ctrl.selectedAdminGroups"
        default-admin-group-search-filter="'(objectClass=groupOfNames)'"
        limited-feature-id="$ctrl.limitedFeatureId"
        is-limited-feature-self-contained="false"
      ></ldap-custom-admin-group>

      <ldap-settings-test-login settings="$ctrl.settings" limited-feature-id="$ctrl.limitedFeatureId" is-limited-feature-self-contained="false"></ldap-settings-test-login>
      <save-auth-settings-button
        on-save-settings="($ctrl.onSaveSettings)"
        save-button-state="($ctrl.saveButtonState)"
        limited-feature-id="$ctrl.limitedFeatureId"
        save-button-disabled="($ctrl.isSaveSettingButtonDisabled())"
      ></save-auth-settings-button>
    </div>
  </div>
</ng-form>
