<ng-form class="ad-settings" limited-feature-dir="{{::$ctrl.limitedFeatureId}}" limited-feature-class="limited-be">
  <be-feature-indicator feature="$ctrl.limitedFeatureId" class="my-8 block"></be-feature-indicator>

  <auto-user-provision-toggle ng-model="$ctrl.settings.AutoCreateUsers">
    <field-description>
      启用自动用户设置后，Portainer将使用标准用户角色自动创建用户，并将其分配给与LDAP组名匹配的团队。
      如果禁用，则必须事先在Portainer中创建用户。
    </field-description>
  </auto-user-provision-toggle>

  <div>
    <div class="col-sm-12 form-section-title">
      信息
    </div>
    <div class="form-group col-sm-12 text-muted small">
      使用Microsoft AD身份验证时，Portainer会将用户身份验证委托给下面配置的域控制器；如果没有连接，Portainer将退回到内部身份验证。
    </div>
  </div>

  <div class="col-sm-12 form-section-title">
    AD 配置
  </div>

  <div class="form-group">
    <div class="col-sm-12 small text-muted">
      <p>
        <i class="fa fa-info-circle blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
        您可以为身份验证回退配置多个AD控制器。确保所有服务器都使用相同的配置（即，如果启用了TLS，则它们都应使用相同的证书）。
      </p>
    </div>
  </div>

  <div class="form-group">
    <label for="ldap_url" class="col-sm-3 col-lg-2 control-label text-left" style="display: flex; flex-wrap: wrap;">
      AD 控制器
      <button
        type="button"
        class="label label-default interactive"
        style="border: 0;"
        ng-click="$ctrl.addLDAPUrl()"
        limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
        limited-feature-tabindex="-1"
      >
        <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加其他服务器
      </button>
    </label>
    <div class="col-sm-9 col-lg-10">
      <div ng-repeat="url in $ctrl.settings.URLs track by $index" style="display: flex; margin-bottom: 10px;">
        <input
          type="text"
          class="form-control"
          id="ldap_url"
          ng-model="$ctrl.settings.URLs[$index]"
          placeholder="例如 10.0.0.10:389 or myldap.domain.tld:389"
          limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
          limited-feature-tabindex="-1"
        />
        <button
          ng-if="$index > 0"
          class="btn btn-sm btn-danger"
          type="button"
          ng-click="$ctrl.removeLDAPUrl($index)"
          limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
          limited-feature-tabindex="-1"
        >
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="ldap_username" class="col-sm-3 control-label text-left">
      服务帐户
      <portainer-tooltip position="bottom" message="将用于搜索用户的帐户。"></portainer-tooltip>
    </label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        id="ldap_username"
        ng-model="$ctrl.settings.ReaderDN"
        placeholder="reader@domain.tld"
        ng-change="$ctrl.onAccountChange($ctrl.settings.ReaderDN)"
        limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
        limited-feature-tabindex="-1"
      />
    </div>
  </div>

  <div class="form-group">
    <label for="ldap_password" class="col-sm-3 control-label text-left">
      服务帐户密码
      <portainer-tooltip position="bottom" message="如果不输入密码，Portainer将保持当前密码不变。"></portainer-tooltip>
    </label>
    <div class="col-sm-9">
      <input
        type="password"
        class="form-control"
        id="ldap_password"
        ng-model="$ctrl.settings.Password"
        placeholder="password"
        autocomplete="new-password"
        limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
        limited-feature-tabindex="-1"
      />
    </div>
  </div>

  <ldap-connectivity-check
    ng-if="!$ctrl.settings.TLSConfig.TLS && !$ctrl.settings.StartTLS"
    settings="$ctrl.settings"
    state="$ctrl.state"
    connectivity-check="$ctrl.connectivityCheck"
    limited-feature-id="$ctrl.limitedFeatureId"
  ></ldap-connectivity-check>

  <ldap-settings-security
    title="AD Connectivity Security"
    settings="$ctrl.settings"
    tlsca-cert="$ctrl.tlscaCert"
    upload-in-progress="$ctrl.state.uploadInProgress"
    on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
    limited-feature-id="$ctrl.limitedFeatureId"
  ></ldap-settings-security>

  <ldap-connectivity-check
    ng-if="$ctrl.settings.TLSConfig.TLS || $ctrl.settings.StartTLS"
    settings="$ctrl.settings"
    state="$ctrl.state"
    connectivity-check="$ctrl.connectivityCheck"
    limited-feature-id="$ctrl.limitedFeatureId"
  ></ldap-connectivity-check>

  <ldap-user-search
    style="margin-top: 5px;"
    show-username-format="true"
    settings="$ctrl.settings.SearchSettings"
    domain-suffix="{{ $ctrl.domainSuffix }}"
    base-filter="(objectClass=user)"
    on-search-click="($ctrl.searchUsers)"
    limited-feature-id="$ctrl.limitedFeatureId"
  ></ldap-user-search>

  <ldap-group-search
    style="margin-top: 5px;"
    settings="$ctrl.settings.GroupSearchSettings"
    domain-suffix="{{ $ctrl.domainSuffix }}"
    base-filter="(objectClass=group)"
    on-search-click="($ctrl.searchGroups)"
    limited-feature-id="$ctrl.limitedFeatureId"
  ></ldap-group-search>

  <ldap-settings-test-login settings="$ctrl.settings" limited-feature-id="$ctrl.limitedFeatureId"></ldap-settings-test-login>
</ng-form>
