<page-header title="'配置详情'" breadcrumbs="[{label:'配置', link:'docker.configs'}, config.Name]" reload="true"> </page-header>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="clipboard" title-text="配置详情"></rd-widget-header>
      <rd-widget-body classes="no-padding">
        <table class="table">
          <tbody>
            <tr>
              <td>名称</td>
              <td>{{ config.Name }}</td>
            </tr>
            <tr>
              <td>ID</td>
              <td>
                {{ config.Id }}
                <button authorization="DockerConfigDelete" class="btn btn-xs btn-dangerlight" ng-click="removeConfig(config.Id)"
                  ><pr-icon icon="'trash-2'"></pr-icon>删除此配置</button
                >
                <button authorization="DockerConfigCreate" class="btn btn-xs btn-secondary" ui-sref="docker.configs.new({id: config.Id})"
                  ><pr-icon icon="'copy'"></pr-icon>克隆配置</button
                >
              </td>
            </tr>
            <tr>
              <td>创建时间</td>
              <td>{{ config.CreatedAt | getisodate }}</td>
            </tr>
            <tr>
              <td>最后更新</td>
              <td>{{ config.UpdatedAt | getisodate }}</td>
            </tr>
            <tr ng-if="!(config.Labels | emptyobject)">
              <td>标签</td>
              <td>
                <table class="table-bordered table-condensed table">
                  <tr ng-repeat="(k, v) in config.Labels">
                    <td>{{ k }}</td>
                    <td>{{ v }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!-- access-control-panel -->
<access-control-panel
  ng-if="config"
  resource-id="config.Id"
  resource-control="config.ResourceControl"
  resource-type="resourceType"
  on-update-success="(onUpdateResourceControlSuccess)"
  environment-id="endpoint.Id"
>
</access-control-panel>
<!-- !access-control-panel -->

<div class="row" ng-if="config">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="code" title-text="配置内容"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <code-editor identifier="config-editor" yml="false" read-only="true" value="config.Data"></code-editor>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
