<form class="form-horizontal" name="endpointGroupForm">
  <!-- name-input -->
  <div class="form-group">
    <label for="group_name" class="col-sm-3 col-lg-2 control-label text-left required">名称</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="group_name" ng-model="$ctrl.model.Name" placeholder="例如 my-group" required auto-focus />
      <div class="help-block" ng-show="endpointGroupForm.group_name.$invalid">
        <div class="small text-warning">
          <div ng-messages="endpointGroupForm.group_name.$error">
            <p ng-message="required" class="vertical-center">
              <pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon>
              本栏为必填项。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- !name-input -->
  <!-- description-input -->
  <div class="form-group">
    <label for="group_description" class="col-sm-3 col-lg-2 control-label text-left">描述</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" id="group_description" ng-model="$ctrl.model.Description" placeholder="例如 production environments..." />
    </div>
  </div>
  <!-- !description-input -->
  <div class="col-sm-12 form-section-title"> 元数据 </div>

  <tag-selector ng-if="$ctrl.model.TagIds" value="$ctrl.model.TagIds" on-change="($ctrl.onChangeTags)" allow-create="$ctrl.state.allowCreateTag"> </tag-selector>

  <!-- environments -->
  <div ng-if="$ctrl.model.Id !== 1">
    <div class="col-sm-12 form-section-title"> 相关环境 </div>
    <div class="form-group">
      <div class="col-sm-12 small text-muted">
        你可以通过把它们移到相关的环境表中来选择哪个环境应该是这个组的一部分。只需点击任何环境条目，就可以把它从一个
        到另一个表中。
      </div>
      <div class="col-sm-12" style="margin-top: 20px">
        <!-- available-endpoints -->
        <div class="table-row-container">
          <div class="datatable table-in-row">
            <group-association-table
              loaded="$ctrl.loaded"
              page-type="$ctrl.pageType"
              table-type="available"
              retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
              dataset="$ctrl.availableEndpoints"
              entry-click="$ctrl.associateEndpoint"
              pagination-state="$ctrl.state.available"
              empty-dataset-message="No environment available"
              title="可用的环境"
              cy-value="available-endpoints"
            ></group-association-table>
          </div>
          <!-- !available-endpoints -->
          <!-- associated-endpoints -->
          <div class="table-in-row">
            <group-association-table
              loaded="$ctrl.loaded"
              page-type="$ctrl.pageType"
              table-type="associated"
              retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
              dataset="$ctrl.associatedEndpoints"
              entry-click="$ctrl.dissociateEndpoint"
              pagination-state="$ctrl.state.associated"
              empty-dataset-message="No associated environment"
              has-backend-pagination="this.pageType !== 'create'"
              title="相关环境"
              cy-value="associated-endpoints"
            ></group-association-table>
          </div>
        </div>
        <!-- !associated-endpoints -->
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.model.Id === 1">
    <div class="table-in-row">
      <group-association-table
        loaded="$ctrl.loaded"
        page-type="$ctrl.pageType"
        table-type="associated"
        retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
        dataset="$ctrl.associatedEndpoints"
        pagination-state="$ctrl.state.associated"
        empty-dataset-message="No environment available"
        title="未关联的环境"
      ></group-association-table>
    </div>
  </div>
  <!-- !endpoints -->
  <!-- actions -->
  <div class="col-sm-12 form-section-title"> 操作 </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="$ctrl.formAction()"
        ng-disabled="$ctrl.actionInProgress || !endpointGroupForm.$valid"
        button-spinner="$ctrl.actionInProgress"
      >
        <span ng-hide="$ctrl.actionInProgress">{{ $ctrl.formActionLabel }}</span>
        <span ng-show="$ctrl.actionInProgress">正在进行中...</span>
      </button>
    </div>
  </div>
  <!-- !actions -->
</form>
