<form class="form-horizontal" name="endpointGroupForm">
  <!-- name-input -->
  <div class="form-group" ng-class="{ 'has-error': endpointGroupForm.group_name.$invalid }">
    <label for="group_name" class="col-sm-3 col-lg-2 control-label text-left">名称</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="group_name" ng-model="$ctrl.model.Name" placeholder="例如 my-group" required auto-focus />
    </div>
  </div>
  <div class="form-group" ng-show="endpointGroupForm.group_name.$invalid">
    <div class="col-sm-12 small text-warning">
      <div ng-messages="endpointGroupForm.group_name.$error">
        <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
      </div>
    </div>
  </div>
  <!-- !name-input -->
  <!-- description-input -->
  <div class="form-group">
    <label for="group_description" class="col-sm-3 col-lg-2 control-label text-left">描述</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" id="group_description" ng-model="$ctrl.model.Description" placeholder="例如 production environments..." />
    </div>
  </div>
  <!-- !description-input -->
  <div class="col-sm-12 form-section-title">
    Metadata
  </div>
  <!-- tags -->
  <div class="form-group">
    <tag-selector
      ng-if="$ctrl.model && $ctrl.availableTags"
      tags="$ctrl.availableTags"
      model="$ctrl.model.TagIds"
      allow-create="$ctrl.state.allowCreateTag"
      on-create="($ctrl.onCreateTag)"
    ></tag-selector>
  </div>
  <!-- !tags -->
  <!-- endpoints -->
  <div ng-if="$ctrl.model.Id !== 1">
    <div class="col-sm-12 form-section-title">
      关联端点
    </div>
    <div class="form-group">
      <div class="col-sm-12 small text-muted">
        您可以通过将它们移动到关联的端点表来选择哪个端点应属于该组。 只需单击任何端点条目即可将其从一个表移动到
         另一个。
      </div>
      <div class="col-sm-12" style="margin-top: 20px;">
        <!-- available-endpoints -->
        <div class="col-sm-6">
          <div class="text-center small text-muted">可用端点</div>
          <div style="margin-top: 10px;">
            <group-association-table
              loaded="$ctrl.loaded"
              page-type="$ctrl.pageType"
              table-type="available"
              retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
              dataset="$ctrl.availableEndpoints"
              entry-click="$ctrl.associateEndpoint"
              pagination-state="$ctrl.state.available"
              empty-dataset-message="No endpoint available"
            ></group-association-table>
          </div>
        </div>
        <!-- !available-endpoints -->
        <!-- associated-endpoints -->
        <div class="col-sm-6">
          <div class="text-center small text-muted">关联端点</div>
          <div style="margin-top: 10px;">
            <group-association-table
              loaded="$ctrl.loaded"
              page-type="$ctrl.pageType"
              table-type="associated"
              retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
              dataset="$ctrl.associatedEndpoints"
              entry-click="$ctrl.dissociateEndpoint"
              pagination-state="$ctrl.state.associated"
              empty-dataset-message="No associated endpoint"
              has-backend-pagination="this.pageType !== 'create'"
            ></group-association-table>
          </div>
        </div>
        <!-- !associated-endpoints -->
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.model.Id === 1">
    <div class="col-sm-12 form-section-title">
      未关联的端点
    </div>
    <div style="margin-top: 10px;">
      <group-association-table
        loaded="$ctrl.loaded"
        page-type="$ctrl.pageType"
        table-type="associated"
        retrieve-page="$ctrl.getPaginatedEndpointsByGroup"
        dataset="$ctrl.associatedEndpoints"
        pagination-state="$ctrl.state.associated"
        empty-dataset-message="No endpoint available"
      ></group-association-table>
    </div>
  </div>
  <!-- !endpoints -->
  <!-- actions -->
  <div class="col-sm-12 form-section-title">
    操作
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="$ctrl.formAction()"
        ng-disabled="$ctrl.actionInProgress || !endpointGroupForm.$valid"
        button-spinner="$ctrl.actionInProgress"
      >
        <span ng-hide="$ctrl.actionInProgress">{{ $ctrl.formActionLabel }}</span>
        <span ng-show="$ctrl.actionInProgress">进行中...</span>
      </button>
    </div>
  </div>
  <!-- !actions -->
</form>
