<div class="datatable">
  <rd-widget>
    <rd-widget-body classes="no-padding">
      <div class="toolBar vertical-center !gap-x-5 !gap-y-1 flex-wrap">
        <div class="toolBarTitle vertical-center">
          <pr-icon icon="$ctrl.titleIcon" feather="true" class-name="'icon-nested-blue'" mode="'primary'"></pr-icon>
          自定义模板
        </div>
        <div class="searchBar vertical-center !mr-0">
          <pr-icon icon="'search'" feather="true" class-name="'searchIcon'"></pr-icon>
          <input
            type="text"
            class="searchInput"
            ng-model="$ctrl.state.textFilter"
            ng-change="$ctrl.onTextFilterChange()"
            placeholder="搜索模板..."
            auto-focus
            ng-model-options="{ debounce: 300 }"
          />
        </div>
        <div class="actionBar">
          <button type="button" class="btn btn-sm btn-primary" ui-state="$ctrl.createPath">
            <pr-icon icon="'plus'" feather="true"></pr-icon>
            添加自定义模板
          </button>
        </div>
      </div>

      <div class="blocklist !px-[20px] gap-y-2 !pb-[20px]">
        <template-item
          ng-repeat="template in $ctrl.templates | filter:$ctrl.state.textFilter"
          model="template"
          type-label="{{ $ctrl.typeLabel(template.Type) }}"
          on-select="($ctrl.onSelectClick)"
        >
          <template-item-actions>
            <div ng-if="$ctrl.isEditAllowed(template)" class="vertical-center">
              <a ui-state="$ctrl.editPath" ui-state-params="{id: template.Id}" ng-click="$event.stopPropagation();" class="btn btn-secondary btn-sm vertical-center">
                <pr-icon icon="'edit'" feather="true"></pr-icon>
                编辑
              </a>
              <button class="btn btn-dangerlight btn-sm vertical-center" ng-click="$ctrl.onDeleteClick(template.Id); $event.stopPropagation();">
                <pr-icon icon="'trash-2'" feather="true"></pr-icon>
                删除
              </button>
            </div>
          </template-item-actions>
        </template-item>
        <div ng-if="!$ctrl.templates" class="text-center text-muted"> 加载中... </div>
        <div ng-if="($ctrl.templates | filter: $ctrl.state.textFilter).length === 0" class="text-center text-muted"> 没有可用的模板。 </div>
      </div>
    </rd-widget-body>
  </rd-widget>
</div>
