<page-header title="'创建环境组'" breadcrumbs="[{label:'环境组', link:'portainer.groups'}, '添加组']"> </page-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <group-form
          loaded="loaded"
          model="model"
          associated-endpoints="associatedEndpoints"
          form-action="create"
          form-action-label="创建该组"
          action-in-progress="state.actionInProgress"
          on-change-environments="(onChangeEnvironments)"
        ></group-form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
