<page-header
  title="'容器统计'"
  breadcrumbs="[
    { label:'容器', link:'docker.containers' },
    { 
      label:(container.Name | trimcontainername),
      link: 'docker.containers.container', 
      linkParams:container.Id
    }, 'Stats']"
>
</page-header>

<div class="row">
  <div class="col-md-12">
    <rd-widget>
      <rd-widget-header icon="info" feather-icon="true" title-text="关于统计"> </rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <div class="form-group">
            <div class="col-sm-12">
              <span class="small text-muted">
                该视图显示关于容器 <b>{{ container.Name | trimcontainername }}</b> 的实时统计数据，以及该容器内正在运行的进程列表。
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="refreshRate" class="col-sm-3 col-md-2 col-lg-2 margin-sm-top control-label text-left"> 刷新频率 </label>
            <div class="col-sm-3 col-md-2">
              <select id="refreshRate" ng-model="state.refreshRate" ng-change="changeUpdateRepeater()" class="form-control">
                <option value="1">1秒</option>
                <option value="3">3秒</option>
                <option value="5">5秒</option>
                <option value="10">10秒</option>
                <option value="30">30秒</option>
                <option value="60">60秒</option>
              </select>
            </div>
            <span>
              <i id="refreshRateChange" class="fa fa-check green-icon" aria-hidden="true" style="margin-top: 7px; display: none"></i>
            </span>
          </div>
          <div class="form-group" ng-if="state.networkStatsUnavailable">
            <div class="col-sm-12">
              <span class="small text-muted"> <i class="fa fa-exclamation-triangle orange-icon" aria-hidden="true"></i> 该容器的网络统计信息不可用。 </span>
            </div>
          </div>
          <div class="form-group" ng-if="state.ioStatsUnavailable">
            <div class="col-sm-12">
              <span class="small text-muted"> <i class="fa fa-exclamation-triangle orange-icon" aria-hidden="true"></i> 该容器的I/O统计信息不可用。 </span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <rd-widget>
      <rd-widget-header icon="bar-chart" feather-icon="true" title-text="内存使用"></rd-widget-header>
      <rd-widget-body>
        <div class="chart-container" style="position: relative">
          <canvas id="memoryChart" width="770" height="300"></canvas>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12">
    <rd-widget>
      <rd-widget-header icon="bar-chart" feather-icon="true" title-text="CPU 使用"></rd-widget-header>
      <rd-widget-body>
        <div class="chart-container" style="position: relative">
          <canvas id="cpuChart" width="770" height="300"></canvas>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12" ng-if="!state.networkStatsUnavailable">
    <rd-widget>
      <rd-widget-header icon="bar-chart" feather-icon="true" title-text="网络使用量（总和）"></rd-widget-header>
      <rd-widget-body>
        <div class="chart-container" style="position: relative">
          <canvas id="networkChart" width="770" height="300"></canvas>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12" ng-if="!state.ioStatsUnavailable">
    <rd-widget>
      <rd-widget-header icon="bar-chart" feather-icon="true" title-text="I/O使用量（总和）"></rd-widget-header>
      <rd-widget-body>
        <div class="chart-container" style="position: relative">
          <canvas id="ioChart" width="770" height="300"></canvas>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <container-processes-datatable
      title-text="Processes"
      title-icon="list"
      dataset="processInfo.Processes"
      headerset="processInfo.Titles"
      table-key="container-processes"
    ></container-processes-datatable>
  </div>
</div>
