<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="key" feather-icon="true" title-text="SSL certificate"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.sslForm">
          <span class="small">
            <p class="text-muted vertical-center">
              <pr-icon icon="'alert-circle'" feather="true" class-name="'icon-warning =vertical-center'"></pr-icon>
              只强制执行HTTP将导致Portainer停止监听HTTP端口。任何正在使用HTTP的边缘代理环境将不再可用。
            </p>
          </span>
          <div class="form-group">
            <por-switch-field
              checked="$ctrl.formValues.forceHTTPS"
              label="'Force HTTPS only'"
              on-change="($ctrl.onChangeForceHTTPS)"
              field-class="'col-sm-12'"
              label-class="'col-sm-2'"
            ></por-switch-field>
          </div>

          <div class="form-group">
            <span class="col-sm-12 control-label"> 提供一个新的SSL证书，以取代用于HTTPS连接的现有证书。 </span>
          </div>

          <div class="form-group">
            <span class="col-sm-12"> 上传一个X.509证书，通常是一个crt、cer或pem文件。 </span>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.certFile" ngf-pattern="$ctrl.certFilePattern" name="certFile"> 选择文件 </button>
              <span style="margin-left: 5px">
                {{ $ctrl.formValues.certFile.name }}
                <pr-icon icon="'x-circle'" feather="true" class-name="'icon-danger'" ng-if="!$ctrl.formValues.certFile"></pr-icon>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" ng-show="$ctrl.sslForm.certFile.$invalid">
            <div class="small text-warning">
              <div ng-messages="$ctrl.sslForm.certFile.$error">
                <p ng-message="pattern"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 文件类型无效。</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <span class="col-sm-12"> 上传一个私钥，通常是一个.key，或者一个.pem文件。 </span>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.keyFile" ngf-pattern="$ctrl.keyFilePattern" name="keyFile"> 选择文件 </button>
              <span style="margin-left: 5px">
                {{ $ctrl.formValues.keyFile.name }}
                <pr-icon icon="'x-circle'" feather="true" class-name="'icon-danger'" ng-if="!$ctrl.formValues.keyFile"></pr-icon>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" ng-show="$ctrl.sslForm.keyFile.$invalid">
            <div class="small text-warning">
              <div ng-messages="$ctrl.sslForm.keyFile.$error">
                <p ng-message="pattern"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 文件类型无效。</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="$ctrl.state.actionInProgress || !$ctrl.isFormChanged()"
                ng-click="$ctrl.save()"
                button-spinner="$ctrl.state.actionInProgress"
                analytics-on
                analytics-if="$ctrl.wasHTTPsChanged()"
                analytics-category="portainer"
                analytics-event="portainer-settings-edit"
                analytics-properties="{ metadata: { forceHTTPS: $ctrl.formValues.forceHTTPS } }"
              >
                <span ng-hide="$ctrl.state.actionInProgress || $ctrl.state.reloadingPage">应该更改</span>
                <span ng-show="$ctrl.state.actionInProgress">保存中...</span>
                <span ng-show="$ctrl.state.reloadingPage">重载页面中...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px">{{ state.formValidationError }}</span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
