<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-key" title-text="SSL 证书"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.sslForm">
          <span class="small">
            <p class="text-muted">
              <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
              仅强制使用HTTPs将导致Portainer停止在HTTP端口上侦听。使用HTTP的任何edge代理环境将不再可用。
            </p>
          </span>

          <por-switch-field ng-model="$ctrl.formValues.forceHTTPS" label="仅强制使用 HTTPS" on-change="($ctrl.onChangeForceHTTPS)"></por-switch-field>

          <hr />

          <div class="form-group">
            <span class="col-sm-12">
              提供新的 SSL 证书以替换用于 HTTPS 连接的现有证书。
            </span>
          </div>

          <div class="form-group">
            <span class="col-sm-12">
              上传 X.509 证书，通常是 crt、cer 或 pem 文件。
            </span>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.certFile" ngf-pattern="$ctrl.certFilePattern" name="certFile">
                选择文件
              </button>
              <span style="margin-left: 5px;">
                {{ $ctrl.formValues.certFile.name }}
                <i class="fa fa-times red-icon" ng-if="!$ctrl.formValues.certFile" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" ng-show="$ctrl.sslForm.certFile.$invalid">
            <div class="small text-warning">
              <div ng-messages="$ctrl.sslForm.certFile.$error">
                <p ng-message="pattern"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 文件类型无效。</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <span class="col-sm-12">
              上传私钥，通常是 key 或 pem 文件。
            </span>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.keyFile" ngf-pattern="$ctrl.keyFilePattern" name="keyFile">
                选择文件
              </button>
              <span style="margin-left: 5px;">
                {{ $ctrl.formValues.keyFile.name }}
                <i class="fa fa-times red-icon" ng-if="!$ctrl.formValues.keyFile" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div class="form-group col-md-12" ng-show="$ctrl.sslForm.keyFile.$invalid">
            <div class="small text-warning">
              <div ng-messages="$ctrl.sslForm.keyFile.$error">
                <p ng-message="pattern"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 文件类型无效。</p>
              </div>
            </div>
          </div>

          <hr />
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="$ctrl.state.actionInProgress || !$ctrl.isFormChanged()"
                ng-click="$ctrl.save()"
                button-spinner="$ctrl.state.actionInProgress"
                analytics-on
                analytics-if="$ctrl.wasHTTPsChanged()"
                analytics-category="portainer"
                analytics-event="portainer-settings-edit"
                analytics-properties="{ metadata: { forceHTTPS: $ctrl.formValues.forceHTTPS } }"
              >
                <span ng-hide="$ctrl.state.actionInProgress || $ctrl.state.reloadingPage">应用更改</span>
                <span ng-show="$ctrl.state.actionInProgress">正在保存...</span>
                <span ng-show="$ctrl.state.reloadingPage">重新加载页面...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
