<div>
  <div ng-if="!$ctrl.hideTitle" class="col-sm-12 form-section-title"> 访问控制 </div>
  <!-- access-control-switch -->
  <div class="form-group">
    <div class="col-sm-12">
      <por-switch-field
        label-class="'col-sm-2'"
        checked="$ctrl.formData.AccessControlEnabled"
        label="'启用访问控制'"
        tooltip="'启用后，你可以限制对该资源的访问和管理。'"
        on-change="($ctrl.onChangeEnablement)"
        data-cy="portainer-accessMgmtToggle"
      ></por-switch-field>
    </div>
  </div>
  <!-- !access-control-switch -->
  <!-- restricted-access -->
  <div class="form-group" ng-if="$ctrl.formData.AccessControlEnabled">
    <div class="col-sm-12">
      <div class="boxselector_wrapper">
        <div ng-if="$ctrl.isAdmin">
          <input type="radio" id="access_administrators" ng-model="$ctrl.formData.Ownership" value="administrators" />
          <label for="access_administrators" data-cy="portainer-selectAdminAccess">
            <div class="boxselector_header">
              <pr-icon icon="'eye-off'" feather="true"></pr-icon>
              管理员
            </div>
            <p class="boxselector_content">我想把这个资源的管理限制在只有管理员可以管理的范围内</p>
          </label>
        </div>
        <div ng-if="$ctrl.isAdmin">
          <input type="radio" id="access_restricted" ng-model="$ctrl.formData.Ownership" value="restricted" />
          <label for="access_restricted" data-cy="portainer-selectRestrictedAccess">
            <div class="boxselector_header">
              <pr-icon icon="'users'" feather="true"></pr-icon>
              受限的
            </div>
            <p class="boxselector_content"> 我想把这个资源的管理限制在一组用户和/或团队中 </p>
          </label>
        </div>
        <div ng-if="!$ctrl.isAdmin">
          <input type="radio" id="access_private" ng-model="$ctrl.formData.Ownership" value="private" />
          <label for="access_private">
            <div class="boxselector_header">
              <pr-icon icon="'eye-off'" feather="true"></pr-icon>
              私有的
            </div>
            <p> 我希望这个资源仅能由我自己管理。 </p>
          </label>
        </div>
        <div ng-if="!$ctrl.isAdmin && $ctrl.availableTeams.length > 0">
          <input type="radio" id="access_restricted" ng-model="$ctrl.formData.Ownership" value="restricted" />
          <label for="access_restricted">
            <div class="boxselector_header">
              <pr-icon icon="'users'" feather="true"></pr-icon>

              受限的
            </div>
            <p ng-if="$ctrl.availableTeams.length === 1">
              我希望我的团队的任何成员 (<b>{{ $ctrl.availableTeams[0].Name }}</b
              >) 都能管理这个资源
            </p>
            <p ng-if="$ctrl.availableTeams.length > 1"> 我想把这个资源的管理限制在我的一个或多个团队中。 </p>
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- restricted-access -->
  <!-- authorized-teams -->
  <div
    class="form-group mt-4"
    ng-if="$ctrl.formData.AccessControlEnabled && $ctrl.formData.Ownership === $ctrl.RCO.RESTRICTED && ($ctrl.isAdmin || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1))"
  >
    <div class="w-full vertical-center">
      <label for="group-access" class="control-label text-left col-sm-3 col-lg-2 !pt-0">
        授权团队
        <portainer-tooltip
          ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length > 0"
          message="'你可以选择哪些团队将能够管理该资源。'"
        ></portainer-tooltip>
        <portainer-tooltip
          ng-if="!$ctrl.isAdmin && $ctrl.availableTeams.length > 1"
          message="'由于你是多个团队的成员，你可以选择哪些团队将能够管理该资源。'"
        ></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <span ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length === 0" class="small text-muted">
          你还没有创建任何团队。前往 <a ui-sref="portainer.teams">团队视图</a> 来管理团队。
        </span>

        <por-access-control-form-team-selector
          ng-if="($ctrl.isAdmin && $ctrl.availableTeams.length > 0) || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1)"
          options="$ctrl.availableTeams"
          value="$ctrl.formData.AuthorizedTeams"
          input-id="'teams-selector'"
          on-change="($ctrl.onAuthorizedTeamsChange)"
        ></por-access-control-form-team-selector>
      </div>
    </div>
  </div>

  <!-- !authorized-teams -->
  <!-- authorized-users -->
  <div class="form-group" ng-if="$ctrl.formData.AccessControlEnabled && $ctrl.formData.Ownership === $ctrl.RCO.RESTRICTED && $ctrl.isAdmin">
    <div class="w-full vertical-center">
      <label for="group-access" class="control-label text-left col-sm-3 col-lg-2 !pt-0">
       授权用户
        <portainer-tooltip
          ng-if="$ctrl.isAdmin && $ctrl.availableUsers.length > 0"
          message="'你可以选择哪些用户能够管理这个资源。'"
        ></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <span ng-if="$ctrl.availableUsers.length === 0" class="small text-muted">
          你还没有创建任何用户。 转到 <a ui-sref="portainer.users">用户视图</a> 去管理用户。
        </span>

        <por-access-control-form-user-selector
          ng-if="$ctrl.availableUsers.length > 0"
          options="$ctrl.availableUsers"
          value="$ctrl.formData.AuthorizedUsers"
          input-id="'users-selector'"
          on-change="($ctrl.onAuthorizedUsersChange)"
        ></por-access-control-form-user-selector>
      </div>
    </div>
  </div>
  <!-- !authorized-users -->
</div>
