<div>
  <div ng-if="!$ctrl.hideTitle" class="col-sm-12 form-section-title"> 访问控制 </div>
  <!-- access-control-switch -->
  <div class="form-group">
    <div class="col-sm-12">
      <por-switch-field
        label-class="'col-sm-2'"
        checked="$ctrl.formData.AccessControlEnabled"
        label="'启用访问控制'"
        tooltip="'启用后，您可以限制对此资源的访问和管理。'"
        on-change="($ctrl.onChangeEnablement)"
        data-cy="portainer-accessMgmtToggle"
      ></por-switch-field>
    </div>
  </div>
  <!-- !access-control-switch -->
  <!-- restricted-access -->

  <access-type-selector
    ng-if="$ctrl.formData.AccessControlEnabled"
    value="$ctrl.formData.Ownership"
    on-change="($ctrl.onChangeOwnership)"
    is-admin="$ctrl.isAdmin"
    name="Ownership"
    teams="$ctrl.availableTeams"
  ></access-type-selector>

  <!-- restricted-access -->
  <!-- authorized-teams -->
  <div
    class="form-group mt-4"
    ng-if="$ctrl.formData.AccessControlEnabled && $ctrl.formData.Ownership === $ctrl.RCO.RESTRICTED && ($ctrl.isAdmin || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1))"
  >
    <div class="vertical-center w-full">
      <label for="group-access" class="control-label col-sm-3 col-lg-2 !pt-0 text-left">
        授权团队
        <portainer-tooltip
          ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length > 0"
          message="'您可以选择哪些团队可以管理此资源。'"
        ></portainer-tooltip>
        <portainer-tooltip
          ng-if="!$ctrl.isAdmin && $ctrl.availableTeams.length > 1"
          message="'由于您是多个团队的成员，您可以选择哪些团队可以管理此资源。'"
        ></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <span ng-if="$ctrl.isAdmin && $ctrl.availableTeams.length === 0" class="small text-muted">
          您尚未创建任何团队。前往 <a ui-sref="portainer.teams">团队视图</a> 管理团队。
        </span>

        <por-access-control-form-team-selector
          ng-if="($ctrl.isAdmin && $ctrl.availableTeams.length > 0) || (!$ctrl.isAdmin && $ctrl.availableTeams.length > 1)"
          options="$ctrl.availableTeams"
          value="$ctrl.formData.AuthorizedTeams"
          input-id="'teams-selector'"
          on-change="($ctrl.onAuthorizedTeamsChange)"
        ></por-access-control-form-team-selector>
      </div>
    </div>
  </div>

  <!-- !authorized-teams -->
  <!-- authorized-users -->
  <div class="form-group" ng-if="$ctrl.formData.AccessControlEnabled && $ctrl.formData.Ownership === $ctrl.RCO.RESTRICTED && $ctrl.isAdmin">
    <div class="vertical-center w-full">
      <label for="group-access" class="control-label col-sm-3 col-lg-2 !pt-0 text-left">
        授权用户
        <portainer-tooltip
          ng-if="$ctrl.isAdmin && $ctrl.availableUsers.length > 0"
          message="'您可以选择哪些用户可以管理此资源。'"
        ></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <span ng-if="$ctrl.availableUsers.length === 0" class="small text-muted">
          您尚未创建任何用户。前往 <a ui-sref="portainer.users">用户视图</a> 管理用户。
        </span>

        <por-access-control-form-user-selector
          ng-if="$ctrl.availableUsers.length > 0"
          options="$ctrl.availableUsers"
          value="$ctrl.formData.AuthorizedUsers"
          input-id="'users-selector'"
          on-change="($ctrl.onAuthorizedUsersChange)"
        ></por-access-control-form-user-selector>
      </div>
    </div>
  </div>
  <!-- !authorized-users -->
</div>
