<page-header ng-if="endpoint" title="'环境详情'" breadcrumbs="[{label:'环境', link:'portainer.endpoints'}, endpoint.Name]" reload="true"> </page-header>

<div class="row">
  <div ng-if="state.edgeEndpoint">
    <information-panel ng-if="state.edgeAssociated" title-text="Edge information">
      <span class="small text-muted">
        <p class="vertical-center">
            <pr-icon icon="'alert-circle'" mode="'primary'"></pr-icon>
            此 Edge 环境已关联到一个 Edge 环境 {{ state.kubernetesEndpoint ? '(Kubernetes)' : '(Docker)' }}。
        </p>
        <p>
            Edge 键: <code>{{ endpoint.EdgeKey }}</code>
        </p>
        <p>
            Edge 标识: <code>{{ endpoint.EdgeID }}</code>
        </p>
        <p>
            <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress"
                ng-click="onDisassociateEndpoint()"
                button-spinner="state.actionInProgress"
                analytics-on
                analytics-event="edge-endpoint-disassociate"
                analytics-category="edge"
            >
                <span ng-hide="state.actionInProgress">取消关联</span>
            </button>
        </p>
    </span>
    </information-panel>

    <div class="col-sm-12" ng-if="!state.edgeAssociated">
      <rd-widget>
          <rd-widget-body>
              <div class="col-sm-12 form-section-title">部署代理</div>
              <span class="small text-muted">
                  <p class="vertical-center">
                      <pr-icon icon="'alert-circle'" mode="'primary'"></pr-icon>
                      请参考以下平台相关命令，在您的远程集群中部署 Edge 代理。
                  </p>
                  <p>
                      代理将通过 <u>{{ edgeKeyDetails.instanceURL }}</u> 和 <u>tcp://{{ edgeKeyDetails.tunnelServerAddr }}</u> 与 Portainer 通信。
                  </p>
              </span>
  
              <div class="col-sm-12 form-section-title"> Edge 代理部署脚本 </div>
              <edge-script-form
                  edge-info="{ key: endpoint.EdgeKey, id: endpoint.EdgeID }"
                  commands="state.edgeScriptCommands"
                  is-nomad-token-visible="state.showNomad"
                  async-mode="endpoint.Edge.AsyncMode"
              ></edge-script-form>
  
              <edge-key-display edge-key="endpoint.EdgeKey"> </edge-key-display>
          </rd-widget-body>
      </rd-widget>
  </div>
  </div>

  <information-panel ng-if="state.kubernetesEndpoint && (!state.edgeEndpoint || state.edgeAssociated)" title-text="Kubernetes 特性配置">
    <span class="small text-muted vertical-center">
        <pr-icon icon="'wrench'" mode="'primary'"></pr-icon>
        您应该在
        <a ui-sref="kubernetes.cluster.setup({endpointId: endpoint.Id})">Kubernetes 配置</a>
        视图中配置此 Kubernetes 环境中可用的特性。
    </span>
</information-panel>
</div>

<div class="row mt-4">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="$ctrl.endpointForm">
          <div class="col-sm-12 form-section-title">配置</div>
          <!-- name-input -->
          <div class="form-group">
              <label for="container_name" class="col-sm-3 col-lg-2 control-label text-left">名称</label>
              <div class="col-sm-9 col-lg-10">
                  <input type="text" class="form-control" id="container_name" ng-model="endpoint.Name" placeholder="例如 kubernetes-cluster01 / docker-prod01" />
              </div>
          </div>
          <!-- !name-input -->
          <!-- endpoint-url-input -->
          <div class="form-group" ng-if="!state.edgeEndpoint">
              <label for="endpoint_url" class="col-sm-3 col-lg-2 control-label text-left">
                  <span ng-if="!state.agentEndpoint">环境 URL</span>
                  <span ng-if="state.agentEndpoint">环境地址</span>
                  <portainer-tooltip ng-if="!state.agentEndpoint" message="'Docker 主机的 URL 或 IP 地址。Docker API 必须通过 TCP 端口公开。请参阅 Docker 文档以进行配置。'">
                  </portainer-tooltip>
                  <portainer-tooltip ng-if="state.agentEndpoint" message="'Portainer 代理的地址，格式为 <HOST>:<PORT> 或 <IP>:<PORT>'"> </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                  <input
                      ng-disabled="endpointType === 'local' || state.azureEndpoint"
                      type="text"
                      class="form-control"
                      id="endpoint_url"
                      ng-model="endpoint.URL"
                      placeholder="例如 10.0.0.10:2375 或 mydocker.mydomain.com:2375"
                  />
              </div>
          </div>
          <!-- !endpoint-url-input -->
          <!-- endpoint-public-url-input -->
          <div class="form-group" ng-if="!state.azureEndpoint">
              <label for="endpoint_public_url" class="col-sm-3 col-lg-2 control-label text-left">
                  公共 IP
                  <portainer-tooltip message="'暴露容器的 URL 或 IP 地址。此字段是可选的，如果不填写，则默认为环境 URL。'">
                  </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                  <input type="text" class="form-control" id="endpoint_public_url" ng-model="endpoint.PublicURL" placeholder="例如 10.0.0.10 或 mydocker.mydomain.com" />
              </div>
          </div>
      
          <div ng-if="endpoint && state.edgeEndpoint">
              <div class="col-sm-12 form-section-title">签到间隔</div>
              <edge-checkin-interval-field value="endpoint.EdgeCheckinInterval" on-change="(onChangeCheckInInterval)"></edge-checkin-interval-field>
          </div>
      
          <!-- !endpoint-public-url-input -->
      
          <tls-fieldset
              ng-if="!state.edgeEndpoint && endpoint.Status !== 4 && state.showTLSConfig"
              values="formValues.tlsConfig"
              on-change="(onChangeTLSConfigFormValues)"
              validation-data="{optionalCert: true}"
          ></tls-fieldset>
      
          <azure-endpoint-config
              ng-if="state.azureEndpoint"
              application-id="endpoint.AzureCredentials.ApplicationID"
              tenant-id="endpoint.AzureCredentials.TenantID"
              authentication-key="endpoint.AzureCredentials.AuthenticationKey"
          ></azure-endpoint-config>
          <div class="col-sm-12 form-section-title">元数据</div>
          <!-- group -->
          <div class="form-group">
              <label for="endpoint_group" class="col-sm-3 col-lg-2 control-label text-left">群组</label>
              <div class="col-sm-9 col-lg-10">
                  <select ng-options="group.Id as group.Name for group in groups" ng-model="endpoint.GroupId" id="endpoint_group" class="form-control"></select>
              </div>
          </div>
          <!-- !group -->
      
          <tag-selector ng-if="endpoint" value="endpoint.TagIds" allow-create="state.allowCreate" on-change="(onChangeTags)"></tag-selector>
      
          <!-- open-amt info -->
          <div ng-if="state.showAMTInfo">
              <div class="col-sm-12 form-section-title">开放式活动管理技术</div>
      
              <div class="form-group">
                  <label for="endpoint_managementinfoVersion" class="col-sm-3 col-lg-2 control-label text-left">AMT 版本</label>
                  <div class="col-sm-9 col-lg-10">
                      <input type="text" ng-disabled="true" class="form-control" id="endpoint_managementinfoVersion" ng-model="endpoint.ManagementInfo['AMT']" placeholder="加载中..." />
                  </div>
              </div>
      
              <div class="form-group">
                  <label for="endpoint_managementinfoUUID" class="col-sm-3 col-lg-2 control-label text-left">UUID</label>
                  <div class="col-sm-9 col-lg-10">
                      <input type="text" ng-disabled="true" class="form-control" id="endpoint_managementinfoUUID" ng-model="endpoint.ManagementInfo['UUID']" placeholder="加载中..." />
                  </div>
              </div>
      
              <div class="form-group">
                  <label for="endpoint_managementinfoBuildNumber" class="col-sm-3 col-lg-2 control-label text-left">构建编号</label>
                  <div class="col-sm-9 col-lg-10">
                      <input
                          type="text"
                          ng-disabled="true"
                          class="form-control"
                          id="endpoint_managementinfoBuildNumber"
                          ng-model="endpoint.ManagementInfo['Build Number']"
                          placeholder="加载中..."
                      />
                  </div>
              </div>
      
              <div class="form-group">
                  <label for="endpoint_managementinfoControlMode" class="col-sm-3 col-lg-2 control-label text-left">控制模式</label>
                  <div class="col-sm-9 col-lg-10">
                      <input
                          type="text"
                          ng-disabled="true"
                          class="form-control"
                          id="endpoint_managementinfoControlMode"
                          ng-model="endpoint.ManagementInfo['Control Mode']"
                          placeholder="加载中..."
                      />
                  </div>
              </div>
      
              <div class="form-group">
                  <label for="endpoint_managementinfoDNSSuffix" class="col-sm-3 col-lg-2 control-label text-left">DNS 后缀</label>
                  <div class="col-sm-9 col-lg-10">
                      <input
                          type="text"
                          ng-disabled="true"
                          class="form-control"
                          id="endpoint_managementinfoDNSSuffix"
                          ng-model="endpoint.ManagementInfo['DNS Suffix']"
                          placeholder="加载中..."
                      />
                  </div>
              </div>
          </div>
          <!-- !open-amt info -->
          <!-- gpus info -->
          <div class="mb-4" ng-if="isDockerStandaloneEnv">
              <gpus-insights></gpus-insights>
          </div>
          <!-- gpus info -->
          <div class="form-group">
              <div class="col-sm-12">
                  <button
                      type="button"
                      class="btn btn-primary btn-sm !ml-0"
                      ng-disabled="state.actionInProgress || !endpoint.Name || !endpoint.URL || !$ctrl.endpointForm.$valid"
                      ng-click="updateEndpoint()"
                      button-spinner="state.actionInProgress"
                  >
                      <span ng-hide="state.actionInProgress">更新环境</span>
                      <span ng-show="state.actionInProgress">更新环境中...</span>
                  </button>
                  <a type="button" class="btn btn-default btn-sm" ui-sref="portainer.endpoints">取消</a>
              </div>
          </div>
      </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
