<form class="form-horizontal" name="templateForm">
  <!-- title-input -->
  <div class="form-group" ng-class="{ 'has-error': templateForm.template_title.$invalid }">
    <label for="template_title" class="col-sm-3 col-lg-2 control-label text-left">标题</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="template_title" ng-model="$ctrl.model.Title" placeholder="例如 my-template" required auto-focus />
    </div>
  </div>
  <div class="form-group" ng-show="templateForm.template_title.$invalid">
    <div class="col-sm-12 small text-warning">
      <div ng-messages="templateForm.template_title.$error">
        <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
      </div>
    </div>
  </div>
  <!-- !title-input -->
  <!-- description-input -->
  <div class="form-group" ng-class="{ 'has-error': templateForm.template_description.$invalid }">
    <label for="template_description" class="col-sm-3 col-lg-2 control-label text-left">描述</label>
    <div class="col-sm-9 col-lg-10">
      <input type="text" class="form-control" name="template_description" ng-model="$ctrl.model.Description" placeholder="例如 template description..." required />
    </div>
  </div>
  <div class="form-group" ng-show="templateForm.template_description.$invalid">
    <div class="col-sm-12 small text-warning">
      <div ng-messages="templateForm.template_description.$error">
        <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
      </div>
    </div>
  </div>
  <!-- !description-input -->
  <div class="col-sm-12 form-section-title interactive" ng-click="$ctrl.state.collapseTemplate = !$ctrl.state.collapseTemplate">
    模板
    <span class="small space-left">
      <a ng-if="$ctrl.state.collapseTemplate"><i class="fa fa-plus" aria-hidden="true"></i> 展开</a>
      <a ng-if="!$ctrl.state.collapseTemplate"><i class="fa fa-minus" aria-hidden="true"></i> 折叠</a>
    </span>
  </div>
  <!-- template-details -->
  <div uib-collapse="$ctrl.state.collapseTemplate">
    <div ng-if="$ctrl.showTypeSelector">
      <div class="form-group"></div>
      <div class="form-group" style="margin-bottom: 0;">
        <div class="boxselector_wrapper">
          <div>
            <input type="radio" id="template_container" ng-model="$ctrl.model.Type" ng-value="1" />
            <label for="template_container">
              <div class="boxselector_header">
                <i class="fa fa-server" aria-hidden="true" style="margin-right: 2px;"></i>
                容器
              </div>
              <p>容器模板</p>
            </label>
          </div>
          <div>
            <input type="radio" id="template_swarm_stack" ng-model="$ctrl.model.Type" ng-value="2" />
            <label for="template_swarm_stack">
              <div class="boxselector_header">
                <i class="fa fa-th-list" aria-hidden="true" style="margin-right: 2px;"></i>
                群堆栈
              </div>
              <p>堆栈模板（Swarm）</p>
            </label>
          </div>
          <div>
            <input type="radio" id="template_compose_stack" ng-model="$ctrl.model.Type" ng-value="3" />
            <label for="template_compose_stack">
              <div class="boxselector_header">
                <i class="fa fa-th-list" aria-hidden="true" style="margin-right: 2px;"></i>
                组合堆栈
              </div>
              <p>堆栈模板（Compose）</p>
            </label>
          </div>
        </div>
      </div>
    </div>

    <!-- name -->
    <div class="form-group">
      <label for="template_name" class="col-sm-3 col-lg-2 control-label text-left">
        名称
        <portainer-tooltip position="bottom" message="将与模板关联的默认名称"></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <input type="text" class="form-control" name="template_name" ng-model="$ctrl.model.Name" placeholder="例如 myApp" />
      </div>
    </div>
    <!-- !name -->
    <!-- logo -->
    <div class="form-group">
      <label for="template_logo" class="col-sm-3 col-lg-2 control-label text-left">
        Logo URL
        <portainer-tooltip position="bottom" message="推荐尺寸： 60x60"></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <input type="text" class="form-control" name="template_logo" ng-model="$ctrl.model.Logo" placeholder="例如 https://portainer.io/images/logos/nginx.png" />
      </div>
    </div>
    <!-- !logo -->
    <!-- note -->
    <div class="form-group">
      <label for="template_note" class="col-sm-3 col-lg-2 control-label text-left">
        备注
        <portainer-tooltip position="bottom" message="关于模板的用法/额外信息。 支持 HTML。"></portainer-tooltip>
      </label>
      <div class="col-sm-9 col-lg-10">
        <textarea
          name="template_note"
          ng-model="$ctrl.model.Note"
          placeholder="您可以使用此字段来指定额外信息。 <br/>它支持<b>HTML</b>。"
        ></textarea>
      </div>
    </div>
    <!-- !note -->
    <!-- platform -->
    <div class="form-group">
      <label for="template_platform" class="col-sm-3 col-lg-2 control-label text-left">
        平台
      </label>
      <div class="col-sm-9 col-lg-10">
        <select class="form-control" name="template_platform" ng-model="$ctrl.model.Platform">
          <option value="">多平台</option>
          <option value="linux">Linux</option>
          <option value="windows">Windows</option>
        </select>
      </div>
    </div>
    <!-- !platform -->
    <!-- categories -->
    <div class="form-group">
      <label for="template_categories" class="col-sm-3 col-lg-2 control-label text-left">
        类别
      </label>
      <div class="col-sm-9 col-lg-10">
        <ui-select multiple tagging tagging-label="(new category)" ng-model="$ctrl.model.Categories" sortable="true" style="width: 300px;" title="Choose a category">
          <ui-select-match placeholder="选择类别...">{{ $item }}</ui-select-match>
          <ui-select-choices repeat="category in $ctrl.categories | filter:$select.search">
            {{ category }}
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
    <!-- !categories -->
    <!-- administrator-only -->
    <div class="form-group">
      <div class="col-sm-12">
        <label for="tls" class="control-label text-left">
          管理员模板
          <portainer-tooltip position="bottom" message="此模板仅对管理员用户可用。"></portainer-tooltip>
        </label>
        <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="$ctrl.model.AdministratorOnly" /><i></i> </label>
      </div>
    </div>
    <!-- administrator-only -->
  </div>
  <!-- !template-details -->
  <div ng-if="$ctrl.model.Type === 2 || $ctrl.model.Type === 3">
    <div class="col-sm-12 form-section-title interactive" ng-click="$ctrl.state.collapseStack = !$ctrl.state.collapseStack">
      堆栈
      <span class="small space-left">
        <a ng-if="$ctrl.state.collapseStack"><i class="fa fa-plus" aria-hidden="true"></i> 展开</a>
        <a ng-if="!$ctrl.state.collapseStack"><i class="fa fa-minus" aria-hidden="true"></i> 折叠</a>
      </span>
    </div>
    <!-- stack-details -->
    <div uib-collapse="$ctrl.state.collapseStack">
      <!-- repository-url -->
      <div class="form-group" ng-class="{ 'has-error': templateForm.template_repository_url.$invalid }">
        <label for="template_repository_url" class="col-sm-3 col-lg-2 control-label text-left">存储库 URL</label>
        <div class="col-sm-9 col-lg-10">
          <input
            type="text"
            class="form-control"
            name="template_repository_url"
            ng-model="$ctrl.model.Repository.url"
            placeholder="https://github.com/portainer/portainer-compose"
            required
          />
        </div>
      </div>
      <div class="form-group" ng-show="templateForm.template_repository_url.$invalid">
        <div class="col-sm-12 small text-warning">
          <div ng-messages="templateForm.template_repository_url.$error">
            <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 此字段是必需的。</p>
          </div>
        </div>
      </div>
      <!-- !repository-url -->
      <!-- composefile-path -->
      <div class="form-group">
        <label for="template_repository_path" class="col-sm-3 col-lg-2 control-label text-left">
          编写文件路径
        </label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" name="template_repository_path" ng-model="$ctrl.model.Repository.stackfile" placeholder="docker-compose.yml" />
        </div>
      </div>
      <!-- !composefile-path -->
    </div>
    <!-- !stack-details -->
  </div>
  <div ng-if="$ctrl.model.Type === 1">
    <div class="col-sm-12 form-section-title interactive" ng-click="$ctrl.state.collapseContainer = !$ctrl.state.collapseContainer">
      容器&nbsp; &nbsp; &nbsp; &nbsp; <span class="small space-left">
        <a ng-if="$ctrl.state.collapseContainer"><i class="fa fa-plus" aria-hidden="true"></i> 展开</a>
        <a ng-if="!$ctrl.state.collapseContainer"><i class="fa fa-minus" aria-hidden="true"></i> 折叠</a>
      </span>
    </div>
    <!-- container-details -->
    <div uib-collapse="$ctrl.state.collapseContainer">
      <por-image-registry model="$ctrl.model.RegistryModel" auto-complete="true" label-class="col-sm-1" input-class="col-sm-11"></por-image-registry>
      <!-- command -->
      <div class="form-group">
        <label for="template_command" class="col-sm-3 col-lg-2 control-label text-left">
          命令
          <portainer-tooltip
            position="bottom"
            message="在容器中运行的命令。 如果未指定，容器将使用其 Dockerfile 中指定的默认命令。"
          ></portainer-tooltip>
        </label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" name="template_command" ng-model="$ctrl.model.Command" placeholder='/bin/bash -c \"echo hello\" && exit 777' />
        </div>
      </div>
      <!-- !command -->
      <!-- hostname -->
      <div class="form-group">
        <label for="template_hostname" class="col-sm-3 col-lg-2 control-label text-left">
          主机名
          <portainer-tooltip position="bottom" message="设置容器的主机名。 如果未指定，将使用 Docker 默认值。"></portainer-tooltip>
        </label>
        <div class="col-sm-9 col-lg-10">
          <input type="text" class="form-control" name="template_hostname" ng-model="$ctrl.model.Hostname" placeholder="mycontainername" />
        </div>
      </div>
      <!-- !hostname -->
      <!-- network -->
      <div class="form-group">
        <label for="template_network" class="col-sm-3 col-lg-2 control-label text-left">
          网络
        </label>
        <div class="col-sm-10">
          <select class="form-control" ng-options="net.Name for net in $ctrl.networks" ng-model="$ctrl.model.Network">
            <option disabled hidden value="">选择网络</option>
          </select>
        </div>
      </div>
      <!-- !network -->
      <!-- port-mapping -->
      <div class="form-group">
        <div class="col-sm-12" style="margin-top: 5px;">
          <label class="control-label text-left">端口映射</label>
          <span class="label label-default interactive" style="margin-left: 10px;" ng-click="$ctrl.addPortBinding()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> 映射附加端口
          </span>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;" ng-if="$ctrl.model.Ports.length > 0">
          <span class="small text-muted">如果主机端口为空，Portainer 会自动分配一个端口。</span>
        </div>
        <!-- port-mapping-input-list -->
        <div class="col-sm-12">
          <div class="col-sm-12 form-inline" style="margin-top: 10px;">
            <div ng-repeat="portBinding in $ctrl.model.Ports" style="margin-top: 2px;">
              <!-- host-port -->
              <div class="input-group col-sm-4 input-group-sm">
                <span class="input-group-addon">主机</span>
                <input type="text" class="form-control" ng-model="portBinding.hostPort" placeholder="例如 80 or 1.2.3.4:80 (optional)" />
              </div>
              <!-- !host-port -->
              <span style="margin: 0 10px 0 10px;">
                <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
              </span>
              <!-- container-port -->
              <div class="input-group col-sm-4 input-group-sm">
                <span class="input-group-addon">容器</span>
                <input type="text" class="form-control" ng-model="portBinding.containerPort" placeholder="例如 80" />
              </div>
              <!-- !container-port -->
              <!-- protocol-actions -->
              <div class="input-group col-sm-3 input-group-sm">
                <div class="btn-group btn-group-sm">
                  <label class="btn btn-primary" ng-model="portBinding.protocol" uib-btn-radio="'tcp'">TCP</label>
                  <label class="btn btn-primary" ng-model="portBinding.protocol" uib-btn-radio="'udp'">UDP</label>
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="$ctrl.removePortBinding($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
              <!-- !protocol-actions -->
            </div>
          </div>
        </div>
        <!-- !port-mapping-input-list -->
      </div>
      <!-- !port-mapping -->
      <!-- volumes -->
      <div class="form-group">
        <div class="col-sm-12" style="margin-top: 5px;">
          <label class="control-label text-left">存储卷映射</label>
          <span class="label label-default interactive" style="margin-left: 10px;" ng-click="$ctrl.addVolume()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> 映射附加存储卷
          </span>
        </div>
        <div class="col-sm-12" style="margin-top: 10px;" ng-if="$ctrl.model.Volumes.length > 0">
          <span class="small text-muted">使用 <b>auto</b> 选项时，Portainer 将自动创建和映射本地卷。</span>
        </div>
        <div ng-repeat="volume in $ctrl.model.Volumes">
          <div class="col-sm-12" style="margin-top: 10px;">
            <!-- volume-line1 -->
            <div class="col-sm-12 form-inline">
              <!-- container-path -->
              <div class="input-group input-group-sm col-sm-6">
                <span class="input-group-addon">容器</span>
                <input type="text" class="form-control" ng-model="volume.container" placeholder="例如 /path/in/container" />
              </div>
              <!-- !container-path -->
              <!-- volume-type -->
              <div class="input-group col-sm-5" style="margin-left: 5px;">
                <div class="btn-group btn-group-sm">
                  <label class="btn btn-primary" ng-model="volume.type" uib-btn-radio="'auto'" ng-click="volume.bind = ''">自动</label>
                  <label class="btn btn-primary" ng-model="volume.type" uib-btn-radio="'bind'" ng-click="volume.bind = ''">绑定</label>
                </div>
                <button class="btn btn-sm btn-danger" type="button" ng-click="$ctrl.removeVolume($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
              <!-- !volume-type -->
            </div>
            <!-- !volume-line1 -->
            <!-- volume-line2 -->
            <div class="col-sm-12 form-inline" style="margin-top: 5px;" ng-if="volume.type !== 'auto'">
              <i class="fa fa-long-arrow-alt-right" aria-hidden="true"></i>
              <!-- bind -->
              <div class="input-group input-group-sm col-sm-6" ng-if="volume.type === 'bind'">
                <span class="input-group-addon">主机</span>
                <input type="text" class="form-control" ng-model="volume.bind" placeholder="例如 /path/on/host" />
              </div>
              <!-- !bind -->
              <!-- read-only -->
              <div class="input-group input-group-sm col-sm-5" style="margin-left: 5px;">
                <div class="btn-group btn-group-sm">
                  <label class="btn btn-primary" ng-model="volume.readonly" uib-btn-radio="false">读写</label>
                  <label class="btn btn-primary" ng-model="volume.readonly" uib-btn-radio="true">只读</label>
                </div>
              </div>
              <!-- !read-only -->
            </div>
            <!-- !volume-line2 -->
          </div>
        </div>
      </div>
      <!-- !volumes -->
      <!-- labels -->
      <div class="form-group">
        <div class="col-sm-12" style="margin-top: 5px;">
          <label class="control-label text-left">标签</label>
          <span class="label label-default interactive" style="margin-left: 10px;" ng-click="$ctrl.addLabel()">
            <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加标签
          </span>
        </div>
        <!-- labels-input-list -->
        <div class="col-sm-12">
          <div class="col-sm-12 form-inline" style="margin-top: 10px;">
            <div ng-repeat="label in $ctrl.model.Labels" style="margin-top: 2px;">
              <div class="input-group col-sm-5 input-group-sm">
                <span class="input-group-addon">名称</span>
                <input type="text" class="form-control" ng-model="label.name" placeholder="例如 com.example.foo" />
              </div>
              <div class="input-group col-sm-5 input-group-sm">
                <span class="input-group-addon">value</span>
                <input type="text" class="form-control" ng-model="label.value" placeholder="例如 bar" />
              </div>
              <button class="btn btn-sm btn-danger" type="button" ng-click="$ctrl.removeLabel($index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- !labels-input-list -->
      </div>
      <!-- !labels -->
      <!-- restart_policy -->
      <div class="form-group">
        <label for="template_restart_policy" class="col-sm-3 col-lg-2 control-label text-left">
          重启策略
        </label>
        <div class="col-sm-9 col-lg-10">
          <select class="form-control" name="template_platform" ng-model="$ctrl.model.RestartPolicy">
            <option value="always">总是</option>
            <option value="unless-stopped">排除崩溃，总是重启</option>
            <option value="on-failure">非正常退出时重启</option>
            <option value="no">无</option>
          </select>
        </div>
      </div>
      <!-- !restart_policy -->
      <!-- privileged-mode -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="tls" class="control-label text-left">
            特权模式
            <portainer-tooltip position="bottom" message="以特权模式启动容器。"></portainer-tooltip>
          </label>
          <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="$ctrl.model.Privileged" /><i></i> </label>
        </div>
      </div>
      <!-- !privileged-mode -->
      <!-- interactive-mode -->
      <div class="form-group">
        <div class="col-sm-12">
          <label for="tls" class="control-label text-left">
            交互模式
            <portainer-tooltip position="bottom" message="在前台启动容器（相当于 -i -t 标志）。"></portainer-tooltip>
          </label>
          <label class="switch" style="margin-left: 20px;"> <input type="checkbox" ng-model="$ctrl.model.Interactive" /><i></i> </label>
        </div>
      </div>
      <!-- !interactive-mode -->
    </div>
    <!-- !container-details -->
  </div>
  <div class="col-sm-12 form-section-title interactive" ng-click="$ctrl.state.collapseEnv = !$ctrl.state.collapseEnv">
    环境
    <span class="small space-left">
      <a ng-if="$ctrl.state.collapseEnv"><i class="fa fa-plus" aria-hidden="true"></i> 展开</a>
      <a ng-if="!$ctrl.state.collapseEnv"><i class="fa fa-minus" aria-hidden="true"></i> 折叠</a>
    </span>
  </div>
  <!-- environment-details -->
  <div uib-collapse="$ctrl.state.collapseEnv">
    <!-- env -->
    <div class="form-group">
      <div class="col-sm-12" style="margin-top: 5px;">
        <label class="control-label text-left">环境变量</label>
        <span class="label label-default interactive" style="margin-left: 10px;" ng-click="$ctrl.addEnvVar()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加变量
        </span>
      </div>
      <!-- env-var-list -->
      <div style="margin-top: 10px;">
        <div class="col-sm-12 template-envvar" ng-repeat="var in $ctrl.model.Env" style="margin-top: 10px;">
          <div class="form-group"></div>
          <div class="form-group" style="margin-bottom: 0;">
            <div class="boxselector_wrapper">
              <div>
                <input type="radio" id="preset_var_{{ $index }}" ng-model="var.type" ng-value="1" ng-change="$ctrl.changeEnvVarType(var)" />
                <label for="preset_var_{{ $index }}">
                  <div class="boxselector_header">
                    <i class="fa fa-user-slash" aria-hidden="true" style="margin-right: 2px;"></i>
                    预设
                  </div>
                  <p>预设变量</p>
                </label>
              </div>
              <div>
                <input type="radio" id="text_var_{{ $index }}" ng-model="var.type" ng-value="2" ng-change="$ctrl.changeEnvVarType(var)" />
                <label for="text_var_{{ $index }}">
                  <div class="boxselector_header">
                    <i class="fa fa-edit" aria-hidden="true" style="margin-right: 2px;"></i>
                    文本
                  </div>
                  <p>自由文本</p>
                </label>
              </div>
              <div>
                <input type="radio" id="select_var_{{ $index }}" ng-model="var.type" ng-value="3" />
                <label for="select_var_{{ $index }}">
                  <div class="boxselector_header">
                    <i class="fa fa-list-ol" aria-hidden="true" style="margin-right: 2px;"></i>
                    选择
                  </div>
                  <p>从列表中选择值</p>
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label text-left">
              名称
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" ng-model="var.name" placeholder="env_var" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-sm btn-danger space-left" type="button" ng-click="$ctrl.removeEnvVar($index)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div ng-if="var.type == 2 || var.type == 3">
            <div class="form-group">
              <label class="col-sm-2 control-label text-left">
                标签
              </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="var.label" placeholder="Choose a label" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label text-left" style="margin-top: 2px;">
                描述
              </label>
              <div class="col-sm-10" style="margin-top: 2px;">
                <input type="text" class="form-control" ng-model="var.description" placeholder="Tooltip" />
              </div>
            </div>
          </div>
          <div class="form-group" ng-if="var.type === 1 || var.type === 2">
            <label class="col-sm-2 control-label text-left">
              默认值
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="var.default" placeholder="default_value" />
            </div>
          </div>
          <div ng-if="var.type === 3" style="margin-bottom: 5px;" class="form-group">
            <div class="col-sm-12" style="margin-top: 5px;">
              <label class="control-label text-left">值</label>
              <span class="label label-default interactive" style="margin-left: 10px;" ng-click="$ctrl.addEnvVarValue(var)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> 添加允许值
              </span>
            </div>
            <!-- envvar-values-list -->
            <div class="col-sm-12">
              <div class="col-sm-12 form-inline" style="margin-top: 10px;">
                <div ng-repeat="val in var.select" style="margin-top: 2px;">
                  <div class="input-group col-sm-5 input-group-sm">
                    <span class="input-group-addon">名称</span>
                    <input type="text" class="form-control" ng-model="val.text" placeholder="Yes, I agree" />
                  </div>
                  <div class="input-group col-sm-5 input-group-sm">
                    <span class="input-group-addon">value</span>
                    <input type="text" class="form-control" ng-model="val.value" placeholder="Y" />
                  </div>
                  <div class="input-group col-sm-1 input-group-sm">
                    <button class="btn btn-sm btn-danger" type="button" ng-click="$ctrl.removeEnvVarValue(var, $index)">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                    <input style="margin-left: 5px;" type="checkbox" ng-model="val.default" id="val_default_{{ $index }}" /><label for="val_default_{{ $index }}" class="space-left"
                      >默认</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- envvar-values-list -->
          </div>
          <div class="col-sm-12" ng-show="$ctrl.model.Env.length > 1">
            <div class="line-separator"></div>
          </div>
        </div>
      </div>
      <!-- !env-var-list -->
    </div>
    <!-- !env -->
  </div>
  <!-- !environment-details -->
  <!-- actions -->
  <div class="col-sm-12 form-section-title">
    操作
  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        ng-click="$ctrl.formAction()"
        ng-disabled="$ctrl.actionInProgress || !templateForm.$valid"
        button-spinner="$ctrl.actionInProgress"
      >
        <span ng-hide="$ctrl.actionInProgress">{{ $ctrl.formActionLabel }}</span>
        <span ng-show="$ctrl.actionInProgress">进行中...</span>
      </button>
    </div>
  </div>
  <!-- !actions -->
</form>
