<div class="col-sm-12 small text-muted">
  你可以选择哪个环境应该是这个组的一部分，把它们移到相关的环境表中。只需点击任何环境条目，就可以把它从一个表
  移到另一个表中。
</div>
<div class="col-sm-12" style="margin-top: 20px">
  <div class="table-row-container">
    <!-- available-endpoints -->
    <div class="datatable table-in-row">
      <group-association-table
        loaded="$ctrl.loaded"
        page-type="$ctrl.pageType"
        table-type="available"
        retrieve-page="$ctrl.getAvailableEndpoints"
        dataset="$ctrl.endpoints.available"
        entry-click="$ctrl.associateEndpoint"
        pagination-state="$ctrl.state.available"
        empty-dataset-message="No environment available"
        tags="$ctrl.tags"
        show-tags="true"
        groups="$ctrl.groups"
        show-groups="true"
        has-backend-pagination="true"
        title="可用的环境"
        data-cy="edgeGroupCreate-availableEndpoints"
      ></group-association-table>
    </div>
    <!-- !available-endpoints -->
    <!-- associated-endpoints -->
    <div class="datatable table-in-row">
      <group-association-table
        loaded="$ctrl.loaded"
        page-type="$ctrl.pageType"
        table-type="associated"
        retrieve-page="$ctrl.getAssociatedEndpoints"
        dataset="$ctrl.endpoints.associated"
        entry-click="$ctrl.dissociateEndpoint"
        pagination-state="$ctrl.state.associated"
        empty-dataset-message="No associated environment"
        tags="$ctrl.tags"
        show-tags="true"
        groups="$ctrl.groups"
        show-groups="true"
        has-backend-pagination="true"
        title="相关的环境"
        data-cy="edgeGroupCreate-associatedEndpoints"
      ></group-association-table>
    </div>
    <!-- !associated-endpoints -->
  </div>
</div>
