<kubernetes-view-header title="Helm details" state="kubernetes.helm" view-ready="$ctrl.state.viewReady">
  <a ui-sref="kubernetes.applications">应用</a> &gt; {{ $ctrl.state.params.name }}
</kubernetes-view-header>

<kubernetes-view-loading view-ready="$ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="$ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12 form-section-title">
        信息
      </div>
      <p class="text-muted">
        <i class="fa fa-flask orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
        这是 Helm 图表的第一个版本，有关更多信息，请参阅此
        <a href="https://www.portainer.io/blog/portainer-now-with-helm-support" target="_blank">博客文章</a>。
      </p>
    </div>
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-header icon="fa-dharmachakra" title-text="Release"></rd-widget-header>
        <rd-widget-body classes="no-padding">
          <table class="table">
            <tbody class="release-table">
              <tr>
                <td>名称</td>
                <td>
                  {{ $ctrl.state.release.name }}
                </td>
              </tr>
              <tr>
                <td>图表</td>
                <td>
                  {{ $ctrl.state.release.chart }}
                </td>
              </tr>
              <tr>
                <td>App 版本</td>
                <td>
                  {{ $ctrl.state.release.app_version }}
                </td>
              </tr>
            </tbody>
          </table>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
