<rd-header>
  <rd-header-title title-text="导入镜像"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.images">镜像</a> &gt; 导入镜像 </rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- upload -->
          <div class="col-sm-12 form-section-title">
            上传
          </div>
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              您可以上传包含镜像的 tar 存档。
            </span>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button class="btn btn-sm btn-primary" ngf-select ngf-min-size="10" ngf-accept="'application/x-tar,application/x-gzip'" ng-model="formValues.UploadFile"
                >选择文件</button
              >
              <span style="margin-left: 5px;">
                {{ formValues.UploadFile.name }}
                <i class="fa fa-times red-icon" ng-if="!formValues.UploadFile" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <!-- !upload -->
          <div ng-if="applicationState.endpoint.mode.agentProxy && applicationState.endpoint.mode.provider === 'DOCKER_SWARM_MODE'">
            <div class="col-sm-12 form-section-title">
              部署
            </div>
            <!-- node-selection -->
            <node-selector model="formValues.NodeName"> </node-selector>
            <!-- !node-selection -->
          </div>
          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="state.actionInProgress || !formValues.UploadFile"
                ng-click="uploadImage()"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">上传</span>
                <span ng-show="state.actionInProgress">镜像上传中...</span>
              </button>
              <span class="text-danger" ng-if="state.formValidationError" style="margin-left: 5px;">{{ state.formValidationError }}</span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
