<div id="service-logging-driver">
  <rd-widget>
    <rd-widget-header icon="list" feather-icon="true" title-text="Logging driver"> </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <div class="form-inline" style="padding: 10px" authorization="DockerServiceUpdate">
        驱动:
        <select class="form-control" ng-model="service.LogDriverName" ng-change="updateLogDriverName(service)" ng-disabled="isUpdating">
          <option selected value="">默认的日志驱动</option>
          <option ng-repeat="driver in availableLoggingDrivers" ng-value="driver">{{ driver }}</option>
          <option value="none">none</option>
        </select>
        <a class="btn btn-default btn-sm" ng-click="!service.LogDriverName || service.LogDriverName === 'none' || addLogDriverOpt(service)">
          <pr-icon icon="'plus'" feather="true"></pr-icon> 增加日志驱动选项
        </a>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Option</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="option in service.LogDriverOpts">
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">名称</span>
                <input type="text" class="form-control" ng-model="option.key" ng-disabled="option.added || isUpdating" placeholder="例如 FOO" />
              </div>
            </td>
            <td>
              <div class="input-group input-group-sm">
                <span class="input-group-addon fit-text-size">value</span>
                <input
                  type="text"
                  class="form-control"
                  ng-model="option.value"
                  ng-change="updateLogDriverOpt(service, option)"
                  placeholder="例如 bar"
                  ng-disabled="isUpdating"
                  disable-authorization="DockerServiceUpdate"
                />
                <span class="input-group-btn" authorization="DockerServiceUpdate">
                  <button class="btn btn-dangerlight" type="button" ng-click="removeLogDriverOpt(service, $index)" ng-disabled="isUpdating">
                    <pr-icon icon="'trash-2'" feather="true" size="'md'"></pr-icon>
                  </button>
                </span>
              </div>
            </td>
          </tr>
          <tr ng-if="service.LogDriverOpts.length === 0">
            <td colspan="6" class="text-center text-muted">没有与此日志驱动相关的选项。</td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer authorization="DockerServiceUpdate">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!hasChanges(service, ['LogDriverName', 'LogDriverOpts'])" ng-click="updateService(service)"
            >应用更改</button
          >
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['LogDriverName', 'LogDriverOpts'])">重置变更</a></li>
            <li><a ng-click="cancelChanges(service)">重置所有更改</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
