<div ng-if="service.ServiceMounts" id="service-mounts">
  <rd-widget>
    <rd-widget-header icon="list" feather-icon="true" title-text="Mounts">
      <div class="nopadding" authorization="DockerServiceUpdate">
        <a class="btn btn-secondary btn-sm pull-right" ng-click="isUpdating ||addMount(service)" ng-disabled="isUpdating">
          <pr-icon icon="'plus'" feather="true"></pr-icon> mount
        </a>
      </div>
    </rd-widget-header>
    <rd-widget-body ng-if="service.ServiceMounts.length === 0">
      <p>此服务没有装载。</p>
    </rd-widget-body>
    <rd-widget-body ng-if="service.ServiceMounts.length > 0" classes="no-padding">
      <table class="table">
        <thead>
          <tr>
            <th ng-if="isAdmin || allowBindMounts">类别</th>
            <th>源</th>
            <th>目标</th>
            <th authorization="DockerServiceUpdate">只读</th>
            <th authorization="DockerServiceUpdate">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="mount in service.ServiceMounts">
            <td ng-if="isAdmin || allowBindMounts">
              <select
                name="mountType"
                class="form-control"
                ng-model="mount.Type"
                ng-change="onChangeMountType(service, mount)"
                ng-disabled="isUpdating"
                disable-authorization="DockerServiceUpdate"
              >
                <option value="volume">存储卷</option>
                <option value="bind">绑定</option>
              </select>
            </td>
            <td>
              <select
                class="form-control"
                ng-model="mount.Source"
                ng-change="updateMount(service, mount)"
                ng-options="vol.Id as ((vol.Id|truncate:30) + ' - ' + (vol.Driver|truncate:30))  for vol in availableVolumes"
                ng-if="mount.Type === 'volume'"
                disable-authorization="DockerServiceUpdate"
              >
                <option selected disabled hidden value="">选择存储卷</option>
              </select>
              <input
                type="text"
                class="form-control"
                name=""
                ng-model="mount.Source"
                placeholder="例如 /tmp/portainer/data"
                ng-change="updateMount(service, mount)"
                ng-disabled="isUpdating || (!isAdmin && !allowBindMounts && mount.Type === 'bind')"
                ng-if="mount.Type === 'bind'"
              />
              <div class="col-sm-12 small text-warning" ng-show="!mount.Source">
                <pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon> 源是必填项。
              </div>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                ng-model="mount.Target"
                placeholder="例如 /tmp/portainer/data"
                ng-change="updateMount(service, mount)"
                ng-disabled="isUpdating"
                disable-authorization="DockerServiceUpdate"
              />
              <div class="col-sm-12 small text-warning" ng-show="!mount.Target">
                <pr-icon icon="'alert-triangle'" mode="'warning'" feather="true"></pr-icon> 目标是必填的。
              </div>
            </td>
            <td authorization="DockerServiceUpdate">
              <input type="checkbox" class="form-control" ng-model="mount.ReadOnly" ng-change="updateMount(service, mount)" ng-disabled="isUpdating" />
            </td>
            <td authorization="DockerServiceUpdate">
              <span class="input-group-btn">
                <button class="btn btn-dangerlight" type="button" ng-click="removeMount(service, $index)" ng-disabled="isUpdating">
                  <pr-icon icon="'trash-2'" feather="true" size="'md'"></pr-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer authorization="DockerServiceUpdate">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary btn-sm" ng-disabled="!mountsAreValid() || !hasChanges(service, ['ServiceMounts'])" ng-click="updateService(service)">
            应用变更
          </button>
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['ServiceMounts'])">重置变更</a></li>
            <li><a ng-click="cancelChanges(service)">重置所有更改</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
