<div id="service-update-config">
  <rd-widget>
    <rd-widget-header icon="fa-list-alt" title-text="Update configuration"> </rd-widget-header>
    <rd-widget-body classes="no-padding">
      <table class="table">
        <tbody>
          <tr>
            <td>更新限制</td>
            <td>
              <input
                class="input-sm"
                type="number"
                ng-model="service.UpdateParallelism"
                ng-change="updateServiceAttribute(service, 'UpdateParallelism')"
                disable-authorization="DockerServiceUpdate"
              />
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                同时更新的最大任务数（0 表示一次更新）。
              </p>
            </td>
          </tr>
          <tr>
            <td>更新延迟</td>
            <td>
              <input
                class="input-sm"
                type="text"
                ng-model="service.UpdateDelay"
                ng-change="updateServiceAttribute(service, 'UpdateDelay')"
                ng-pattern="/^([0-9]+)(h|m|s|ms|us|ns)$/i"
                disable-authorization="DockerServiceUpdate"
              />
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                由数字后跟单位 (ns|us|ms|s|m|h) 表示的更新之间的时间量。 示例：1m。
              </p>
            </td>
          </tr>
          <tr>
            <td>更新失败操作</td>
            <td>
              <div class="form-group">
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="failure_action"
                    ng-model="service.UpdateFailureAction"
                    value="continue"
                    ng-change="updateServiceAttribute(service, 'UpdateFailureAction')"
                    disable-authorization="DockerServiceUpdate"
                  />
                  继续
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="failure_action"
                    ng-model="service.UpdateFailureAction"
                    value="pause"
                    ng-change="updateServiceAttribute(service, 'UpdateFailureAction')"
                    disable-authorization="DockerServiceUpdate"
                  />
                  暂停
                </label>
              </div>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                更新后无法启动时采取的措施。
              </p>
            </td>
          </tr>
          <tr ng-if="applicationState.endpoint.apiVersion >= 1.29">
            <td>顺序</td>
            <td>
              <div class="form-group">
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="updateconfig_order"
                    ng-model="service.UpdateOrder"
                    value="start-first"
                    ng-change="updateServiceAttribute(service, 'UpdateOrder')"
                    disable-authorization="DockerServiceUpdate"
                  />
                  先开始
                </label>
                <label class="radio-inline">
                  <input
                    type="radio"
                    name="updateconfig_order"
                    ng-model="service.UpdateOrder"
                    value="stop-first"
                    ng-change="updateServiceAttribute(service, 'UpdateOrder')"
                    disable-authorization="DockerServiceUpdate"
                  />
                  先停止
                </label>
              </div>
            </td>
            <td>
              <p class="small text-muted" style="margin-top: 10px;">
                失败时的操作命令。
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </rd-widget-body>
    <rd-widget-footer authorization="DockerServiceUpdate">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            ng-disabled="!hasChanges(service, ['UpdateFailureAction', 'UpdateDelay', 'UpdateParallelism', 'UpdateOrder'])"
            ng-click="updateService(service)"
            >应用更改</button
          >
          <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="cancelChanges(service, ['UpdateFailureAction', 'UpdateDelay', 'UpdateParallelism', 'UpdateOrder'])">重置更改</a></li>
            <li><a ng-click="cancelChanges(service)">重置所有更改</a></li>
          </ul>
        </div>
      </div>
    </rd-widget-footer>
  </rd-widget>
</div>
