<page-header title="'镜像仓库详情'" breadcrumbs="[{label:'镜像仓库', link:'portainer.registries'}, $ctrl.registry.Name]" reload="true"> </page-header>

<div class="row" ng-if="!$ctrl.state.loading">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="editRegistry">
          <!-- provider -->
          <div class="form-group">
            <label for="registry_name" class="col-sm-3 col-lg-2 control-label text-left">提供商</label>
            <div class="col-sm-9 col-lg-10">
              <input type="text" class="form-control" ng-model="$ctrl.provider" disabled data-cy="registries-provider-input" />
            </div>
          </div>

          <!-- name-input -->
          <div class="form-group">
            <label for="registry_name" class="col-sm-3 col-lg-2 control-label required text-left">名称</label>
            <div class="col-sm-9 col-lg-10">
              <input
                type="text"
                data-cy="registry-name-input"
                class="form-control"
                id="registry_name"
                name="registry_name"
                ng-model="$ctrl.registry.Name"
                placeholder="例如：my-registry"
                ng-change="$ctrl.onChangeName()"
                required
              />
            </div>
          </div>
          <div class="form-group" ng-show="$ctrl.state.nameAlreadyExists">
            <div class="col-sm-12 small text-warning">
              <div>
                <p class="vertical-center">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  已存在具有相同名称的镜像仓库。
                </p>
              </div>
            </div>
          </div>
          <div class="form-group" ng-show="editRegistry.registry_name.$invalid">
            <div class="col-sm-12 small text-warning">
              <div ng-messages="editRegistry.registry_name.$error">
                <p ng-message="required" class="vertical-center">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  此字段为必填项。
                </p>
              </div>
            </div>
          </div>

          <!-- registry-url-input -->
          <div class="form-group">
            <label for="registry_url" class="col-sm-3 col-lg-2 control-label text-left">
              <span class="required">镜像仓库 URL</span>
              <portainer-tooltip message="'Docker 镜像仓库的 URL 或 IP 地址。如存在协议或斜杠，将被移除。'"> </portainer-tooltip>
            </label>
            <div class="col-sm-9 col-lg-10">
              <input
                type="text"
                data-cy="registry-url-input"
                class="form-control"
                id="registry_url"
                name="registry_url"
                ng-model="$ctrl.registry.URL"
                placeholder="例如：10.0.0.10:5000 或 myregistry.domain.tld"
                ng-disabled="$ctrl.registry.Type === $ctrl.RegistryTypes.DOCKERHUB || $ctrl.registry.Type === $ctrl.RegistryTypes.QUAY || $ctrl.registry.Type === $ctrl.RegistryTypes.GITLAB"
                required
              />
            </div>
          </div>
          <div class="form-group" ng-show="editRegistry.registry_url.$invalid">
            <div class="col-sm-12 small text-warning">
              <div ng-messages="editRegistry.registry_url.$error">
                <p ng-message="required" class="vertical-center">
                  <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                  此字段为必填项。
                </p>
              </div>
            </div>
          </div>

          <!-- base-url-input -->
          <div ng-if="$ctrl.registry.Type === $ctrl.RegistryTypes.PROGET">
            <div class="form-group">
              <label for="registry_base_url" class="col-sm-3 col-lg-2 control-label text-left">
                <span class="required">基础 URL</span>
                <portainer-tooltip message="'ProGet 镜像仓库的基础 URL。'"> </portainer-tooltip>
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  data-cy="registry-base-url-input"
                  class="form-control"
                  id="registry_base_url"
                  name="registry_base_url"
                  ng-model="$ctrl.registry.BaseURL"
                  placeholder="例如：10.0.0.10:5000 或 myregistry.domain.tld"
                  required
                />
              </div>
            </div>
            <div class="form-group" ng-show="editRegistry.registry_base_url.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="editRegistry.registry_base_url.$error">
                  <p ng-message="required" class="vertical-center">
                    <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                    此字段为必填项。
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- authentication-checkbox -->
          <div
            class="form-group"
            ng-if="
              $ctrl.registry.Type !== $ctrl.RegistryTypes.DOCKERHUB &&
              $ctrl.registry.Type !== $ctrl.RegistryTypes.QUAY &&
              $ctrl.registry.Type !== $ctrl.RegistryTypes.PROGET &&
              $ctrl.registry.Type !== $ctrl.RegistryTypes.AZURE &&
              $ctrl.registry.Type !== $ctrl.RegistryTypes.GITLAB
            "
          >
            <label for="registry_auth" class="col-sm-3 col-lg-2 control-label text-left">
              启用身份验证
              <portainer-tooltip message="'如果连接此镜像仓库需要凭证，请启用此选项。'"> </portainer-tooltip>
            </label>
            <div class="col-sm-9 col-lg-10">
              <por-switch-field checked="$ctrl.registry.Authentication" on-change="($ctrl.toggleAuthentication)" switch-values="{on:'是',off:'否'}"></por-switch-field>
            </div>
          </div>

          <!-- authentication-credentials -->
          <div ng-if="$ctrl.registry.Authentication">
            <!-- credentials-user -->
            <div class="form-group">
              <label for="credentials_username" class="col-sm-3 col-lg-2 control-label required text-left">
                {{ $ctrl.registry.Type === $ctrl.RegistryTypes.ECR ? 'AWS 访问密钥' : '用户名' }}
              </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="text"
                  class="form-control"
                  id="credentials_username"
                  name="credentials_username"
                  ng-model="$ctrl.registry.Username"
                  required
                  data-cy="registries-username-credential-input"
                />
              </div>
            </div>
            <div class="form-group" ng-show="editRegistry.credentials_username.$invalid">
              <div class="col-sm-12 small text-warning">
                <div ng-messages="editRegistry.credentials_username.$error">
                  <p ng-message="required" class="vertical-center">
                    <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                    此字段为必填项。
                  </p>
                </div>
              </div>
            </div>

            <!-- credentials-password -->
            <div class="form-group">
              <label for="credentials_password" class="col-sm-3 col-lg-2 control-label text-left"> {{ $ctrl.passwordLabel() }} </label>
              <div class="col-sm-9 col-lg-10">
                <input
                  type="password"
                  class="form-control"
                  id="credentials_password"
                  name="credentials_password"
                  placeholder="*******"
                  ng-model="$ctrl.Password"
                  autocomplete="off"
                />
              </div>
            </div>

            <!-- region -->
            <div ng-if="$ctrl.registry.Type == $ctrl.RegistryTypes.ECR">
              <div class="form-group">
                <label for="registry_region" class="col-sm-3 col-lg-2 control-label required text-left">区域</label>
                <div class="col-sm-9 col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    id="registry_region"
                    name="registry_region"
                    ng-model="$ctrl.registry.Ecr.Region"
                    placeholder="us-west-1"
                    required
                    data-cy="registries-region-credential-input"
                  />
                </div>
              </div>
              <div class="form-group" ng-show="editRegistry.registry_region.$invalid">
                <div class="col-sm-12 small text-warning">
                  <div ng-messages="editRegistry.registry_region.$error">
                    <p ng-message="required" class="vertical-center">
                      <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                      此字段为必填项。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- quay organization -->
          <div ng-if="$ctrl.registry.Type == $ctrl.RegistryTypes.QUAY">
            <div class="form-group">
              <label class="col-sm-3 col-lg-2 control-label text-left"> 使用组织镜像仓库 </label>
              <div class="col-sm-9 col-lg-10">
                <por-switch-field
                  checked="$ctrl.registry.Quay.UseOrganisation"
                  on-change="($ctrl.toggleQuayUseOrganisation)"
                  switch-values="{on:'是',off:'否'}"
                ></por-switch-field>
              </div>
            </div>
            <div ng-if="$ctrl.registry.Quay.UseOrganisation">
              <div class="form-group">
                <label for="organisation_name" class="col-sm-3 col-lg-2 control-label required text-left">组织名称</label>
                <div class="col-sm-9 col-lg-10">
                  <input
                    type="text"
                    class="form-control"
                    id="organisation_name"
                    name="organisation_name"
                    ng-model="$ctrl.registry.Quay.OrganisationName"
                    required
                    data-cy="registries-organisation-credential-input"
                  />
                </div>
              </div>
              <div class="form-group" ng-show="editRegistry.organisation_name.$invalid">
                <div class="col-sm-12 small text-warning">
                  <div ng-messages="editRegistry.organisation_name.$error">
                    <p ng-message="required" class="vertical-center">
                      <pr-icon icon="'alert-triangle'" mode="'warning'"></pr-icon>
                      此字段为必填项。
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- buttons -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm !ml-0"
                ng-disabled="$ctrl.isUpdateButtonDisabled() || editRegistry.$invalid"
                ng-click="$ctrl.updateRegistry()"
                button-spinner="$ctrl.state.actionInProgress"
              >
                <span ng-hide="$ctrl.state.actionInProgress">更新镜像仓库</span>
                <span ng-show="$ctrl.state.actionInProgress">正在更新...</span>
              </button>
              <a type="button" class="btn btn-default btn-sm" ui-sref="portainer.registries">取消</a>
            </div>
          </div>
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
