<div class="col-sm-12 form-section-title">
  {{ $ctrl.title || 'LDAP安全' }}
</div>

<!-- starttls -->
<div class="form-group" ng-if="!$ctrl.settings.TLSConfig.TLS">
  <label for="tls" class="control-label col-sm-3 col-lg-2 text-left" style="padding-top: 0">
    使用 StartTLS
    <portainer-tooltip message="'如果要使用StartTLS来加密与服务器的连接，请启用此选项。如果选择了使用TLS，则忽略此选项。'"></portainer-tooltip>
  </label>
  <div class="col-sm-9 col-lg-10">
    <label class="switch">
      <input type="checkbox" ng-model="$ctrl.settings.StartTLS" limited-feature-dir="{{::$ctrl.limitedFeatureId}}" limited-feature-tabindex="-1" />
      <span class="slider round"></span>
    </label>
  </div>
</div>
<!-- !starttls -->

<!-- tls-checkbox -->
<div class="form-group" ng-if="!$ctrl.settings.StartTLS">
  <label for="tls" class="control-label col-sm-3 col-lg-2 text-left" style="padding-top: 0">
    使用 TLS
    <portainer-tooltip message="'如果需要指定TLS证书连接到LDAP服务器，请启用此选项。'"></portainer-tooltip>
  </label>
  <div class="col-sm-9 col-lg-10">
    <label class="switch">
      <input type="checkbox" ng-model="$ctrl.settings.TLSConfig.TLS" limited-feature-dir="{{::$ctrl.limitedFeatureId}}" limited-feature-tabindex="-1" />
      <span class="slider round"></span>
    </label>
  </div>
</div>
<!-- !tls-checkbox -->

<!-- tls-skip-verify -->
<div class="form-group">
  <label for="tls" class="control-label col-sm-3 col-lg-2 text-left" style="padding-top: 0">
    跳过服务器证书验证
    <portainer-tooltip message="'跳过服务器TLS证书的验证。在不安全的网络上不推荐使用。'"></portainer-tooltip>
  </label>
  <div class="col-sm-9 col-lg-10">
    <label class="switch">
      <input type="checkbox" ng-model="$ctrl.settings.TLSConfig.TLSSkipVerify" limited-feature-dir="{{::$ctrl.limitedFeatureId}}" limited-feature-tabindex="-1" />
      <span class="slider round"></span>
    </label>
  </div>
</div>
<!-- !tls-skip-verify -->

<!-- ca-input -->
<div class="form-group" ng-if="$ctrl.settings.TLSConfig.TLS || ($ctrl.settings.StartTLS && !$ctrl.settings.TLSConfig.TLSSkipVerify)">
  <label class="col-sm-3 col-lg-2 control-label text-left">TLS CA证书</label>
  <div class="col-sm-9 col-lg-10 vertical-center">
    <button
      type="button"
      class="btn btn-sm btn-primary"
      ngf-select="$ctrl.onTlscaCertChange($file)"
      ng-model="$ctrl.tlscaCert"
      limited-feature-dir="{{::$ctrl.limitedFeatureId}}"
      limited-feature-tabindex="-1"
    >
      选择文件
    </button>
    <span class="vertical-center">
      {{ $ctrl.tlscaCert.name }}
      <pr-icon icon="'check'" class="icon-success" ng-if="$ctrl.tlscaCert && $ctrl.tlscaCert === $ctrl.settings.TLSConfig.TLSCACert"></pr-icon>
      <pr-icon icon="'x'" class="icon-danger" ng-if="!$ctrl.tlscaCert"></pr-icon>
      <pr-icon icon="'loader-2'" class-name="'animate-spin-slow ml-0.5'" ng-if="$ctrl.uploadInProgress"></pr-icon>
    </span>
  </div>
</div>
<!-- !ca-input -->
