<div>
  <auto-user-provision-toggle ng-model="$ctrl.settings.AutoCreateUsers">
    <field-description>
      启用自动用户配置后，Portainer 将自动创建具有标准用户角色的用户，并将其分配给与 LDAP 组名称匹配的团队。
       如果禁用，则必须事先在 Portainer 中创建用户。
    </field-description>
  </auto-user-provision-toggle>

  <div class="col-sm-12 form-section-title">
    服务器类型
  </div>

  <box-selector
    style="margin-bottom: 0;"
    radio-name="ldap-server-type-selector"
    ng-model="$ctrl.settings.ServerType"
    options="$ctrl.boxSelectorOptions"
    on-change="($ctrl.onChangeServerType)"
  ></box-selector>

  <ldap-settings-custom
    ng-if="$ctrl.settings.ServerType === $ctrl.SERVER_TYPES.CUSTOM"
    settings="$ctrl.settings"
    tlsca-cert="$ctrl.tlscaCert"
    state="$ctrl.state"
    on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
    connectivity-check="$ctrl.connectivityCheck"
    on-search-users-click="($ctrl.searchUsers)"
    on-search-groups-click="($ctrl.searchGroups)"
  ></ldap-settings-custom>
  <ldap-settings-open-ldap
    ng-if="$ctrl.settings.ServerType === $ctrl.SERVER_TYPES.OPEN_LDAP"
    settings="$ctrl.settings"
    tlsca-cert="$ctrl.tlscaCert"
    state="$ctrl.state"
    on-tlsca-cert-change="($ctrl.onTlscaCertChange)"
    connectivity-check="$ctrl.connectivityCheck"
    on-search-users-click="($ctrl.searchUsers)"
    on-search-groups-click="($ctrl.searchGroups)"
  ></ldap-settings-open-ldap>
</div>
