<rd-header>
  <rd-header-title title-text="创建自定义模板"></rd-header-title>
  <rd-header-content> <a ui-sref="docker.templates.custom">自定义模板</a> &gt; 创建自定义模板 </rd-header-content>
</rd-header>

<div class="row" ng-if="!$ctrl.state.loading">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="customTemplateForm">
          <custom-template-common-fields form-values="$ctrl.formValues" show-platform-field="true" show-type-field="true"></custom-template-common-fields>

          <!-- build-method -->
          <div ng-if="!$ctrl.state.fromStack">
            <div class="col-sm-12 form-section-title">
              构建方法
            </div>
            <div class="form-group"></div>
            <div class="form-group" style="margin-bottom: 0;">
              <div class="boxselector_wrapper">
                <div>
                  <input type="radio" id="method_editor" ng-model="$ctrl.state.Method" value="editor" ng-change="$ctrl.onChangeMethod()" />
                  <label for="method_editor">
                    <div class="boxselector_header">
                      <i class="fa fa-edit" aria-hidden="true" style="margin-right: 2px;"></i>
                      网页编辑
                    </div>
                    <p>使用我们的网页编辑器</p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="method_upload" ng-model="$ctrl.state.Method" value="upload" ng-change="$ctrl.onChangeMethod()" />
                  <label for="method_upload">
                    <div class="boxselector_header">
                      <i class="fa fa-upload" aria-hidden="true" style="margin-right: 2px;"></i>
                      上传
                    </div>
                    <p>从您的计算机上传</p>
                  </label>
                </div>
                <div>
                  <input type="radio" id="method_repository" ng-model="$ctrl.state.Method" value="repository" ng-change="$ctrl.onChangeMethod()" />
                  <label for="method_repository">
                    <div class="boxselector_header">
                      <i class="fab fa-git" aria-hidden="true" style="margin-right: 2px;"></i>
                      仓库
                    </div>
                    <p>使用git仓库</p>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- !build-method -->
          <!-- web-editor -->
          <div ng-show="$ctrl.state.Method === 'editor'">
            <div class="col-sm-12 form-section-title">
              网页编辑
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                您可以在
                <a href="https://docs.docker.com/compose/compose-file/" target="_blank">
                  官方文档
                </a>
                中获得有关撰写文件格式的更多信息。
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <code-editor
                  identifier="custom-template-creation-editor"
                  placeholder="# 在此处定义或粘贴 docker-compose 文件的内容"
                  yml="true"
                  value="$ctrl.formValues.FileContent"
                  on-change="($ctrl.editorUpdate)"
                ></code-editor>
              </div>
            </div>
          </div>
          <!-- !web-editor -->
          <!-- upload -->
          <div ng-show="$ctrl.state.Method === 'upload'">
            <div class="col-sm-12 form-section-title">
              上传
            </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                您可以从计算机上传Compose文件。
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.File">
                  选择文件
                </button>
                <span style="margin-left: 5px;">
                  {{ $ctrl.formValues.File.name }}
                  <i class="fa fa-times red-icon" ng-if="!$ctrl.formValues.File" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <!-- !upload -->
          <!-- repository -->
          <git-form ng-if="$ctrl.state.Method === 'repository'" model="$ctrl.formValues" on-change="($ctrl.onChangeFormValues)"></git-form>
          <!-- !repository -->
          <por-access-control-form form-data="$ctrl.formValues.AccessControlData"></por-access-control-form>

          <!-- actions -->
          <div class="col-sm-12 form-section-title">
            操作
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-disabled="$ctrl.state.actionInProgress || customTemplateForm.$invalid
              || ($ctrl.state.Method === 'editor' && !$ctrl.formValues.FileContent)
              || ($ctrl.state.Method === 'upload' && !$ctrl.formValues.File)
              || ($ctrl.state.Method === 'repository' && ((!$ctrl.formValues.RepositoryURL || !$ctrl.formValues.ComposeFilePathInRepository) || ($ctrl.formValues.RepositoryAuthentication && (!$ctrl.formValues.RepositoryUsername || !$ctrl.formValues.RepositoryPassword))))
              || !$ctrl.formValues.Title"
                ng-click="$ctrl.createCustomTemplate()"
                button-spinner="$ctrl.state.actionInProgress"
              >
                <span ng-hide="$ctrl.state.actionInProgress">创建自定义模板</span>
                <span ng-show="$ctrl.state.actionInProgress">正在创建。。。</span>
              </button>
              <span class="text-danger" ng-if="$ctrl.state.formValidationError" style="margin-left: 5px;">
                {{ $ctrl.state.formValidationError }}
              </span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
