<page-header title="'创建自定义模板'" breadcrumbs="[{label:'Custom Templates', link:'docker.templates.custom'}, '创建自定义模板']"> </page-header>

<div class="row" ng-if="!$ctrl.state.loading">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-body>
        <form class="form-horizontal" name="customTemplateForm">
          <custom-template-common-fields
            form-values="$ctrl.formValues"
            show-platform-field="true"
            show-type-field="true"
            name-regex="$ctrl.state.templateNameRegex"
          ></custom-template-common-fields>

          <!-- build-method -->
          <div ng-if="!$ctrl.state.fromStack">
            <div class="col-sm-12 form-section-title"> 构建方法 </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="boxselector_wrapper">
                  <div>
                    <input type="radio" id="method_editor" ng-model="$ctrl.state.Method" value="editor" ng-change="$ctrl.onChangeMethod()" />
                    <label for="method_editor">
                      <div class="boxselector_header">
                        <pr-icon icon="'edit'" feather="true"></pr-icon>
                        Web editor
                      </div>
                      <p>使用我们的网页编辑器</p>
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="method_upload" ng-model="$ctrl.state.Method" value="upload" ng-change="$ctrl.onChangeMethod()" />
                    <label for="method_upload">
                      <div class="boxselector_header">
                        <pr-icon icon="'upload'" feather="true"></pr-icon> 上传 </div>
                      <p>从你的电脑上传</p>
                    </label>
                  </div>
                  <div>
                    <input type="radio" id="method_repository" ng-model="$ctrl.state.Method" value="repository" ng-change="$ctrl.onChangeMethod()" />
                    <label for="method_repository">
                      <div class="boxselector_header">
                        <pr-icon icon="'git-pull-request'" feather="true"></pr-icon>
                        Repository
                      </div>
                      <p>使用git仓库</p>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- !build-method -->
          <!-- web-editor -->
          <web-editor-form
            ng-if="$ctrl.state.Method === 'editor'"
            identifier="custom-template-creation-editor"
            value="$ctrl.formValues.FileContent"
            on-change="($ctrl.editorUpdate)"
            ng-required="true"
            yml="true"
            placeholder="# 在这里定义或粘贴你的docker compose文件的内容"
          >
            <editor-description>
              <span class="col-sm-12 text-muted">
                你可以在
                <a href="https://docs.docker.com/compose/compose-file/" target="_blank"> 官方文档</a>
                中获得更多有关 Compose 文件格式的信息。
              </span>
            </editor-description>
          </web-editor-form>
          <!-- !web-editor -->
          <!-- upload -->
          <div ng-show="$ctrl.state.Method === 'upload'">
            <div class="col-sm-12 form-section-title"> 上传 </div>
            <div class="form-group">
              <span class="col-sm-12 text-muted small"> 你可以从你的电脑上传一个 Compose 文件。 </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-sm btn-primary" ngf-select ng-model="$ctrl.formValues.File"> 选择文件 </button>
                <span class="space-left">
                  {{ $ctrl.formValues.File.name }}
                  <span ng-if="$ctrl.formValues.File">
                    <pr-icon icon="'x'" feather="true" mode="'danger'"></pr-icon>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <!-- !upload -->
          <!-- repository -->
          <git-form ng-if="$ctrl.state.Method === 'repository'" model="$ctrl.formValues" on-change="($ctrl.handleChange)"></git-form>

          <div class="form-group" ng-if="!$ctrl.state.isTemplateValid">
            <div class="col-sm-12">
              <div class="small text-warning">
                <pr-icon icon="'alert-triangle'" feather="true" class-name="space-right"></pr-icon>
                模板是无效的。
              </div>
            </div>
          </div>

          <custom-templates-variables-definition-field
            ng-if="$ctrl.isTemplateVariablesEnabled"
            value="$ctrl.formValues.Variables"
            on-change="($ctrl.onVariablesChange)"
            is-variables-names-from-parent="$ctrl.state.Method === 'editor'"
          ></custom-templates-variables-definition-field>

          <!-- !repository -->
          <por-access-control-form form-data="$ctrl.formValues.AccessControlData"></por-access-control-form>

          <!-- actions -->
          <div class="col-sm-12 form-section-title"> 操作 </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm !ml-0"
                ng-disabled="$ctrl.state.actionInProgress || customTemplateForm.$invalid
              || ($ctrl.state.Method === 'editor' && !$ctrl.formValues.FileContent)
              || ($ctrl.state.Method === 'upload' && !$ctrl.formValues.File)
              || ($ctrl.state.Method === 'repository' && ((!$ctrl.formValues.RepositoryURL || !$ctrl.formValues.ComposeFilePathInRepository) || ($ctrl.formValues.RepositoryAuthentication && (!$ctrl.formValues.RepositoryUsername || !$ctrl.formValues.RepositoryPassword))))
              || !$ctrl.formValues.Title
              || !$ctrl.state.isTemplateValid"
                ng-click="$ctrl.createCustomTemplate()"
                button-spinner="$ctrl.state.actionInProgress"
              >
                <span ng-hide="$ctrl.state.actionInProgress">创建自定义模板</span>
                <span ng-show="$ctrl.state.actionInProgress">正在创建中...</span>
              </button>
              <span class="text-danger space-left" ng-if="$ctrl.state.formValidationError">
                {{ $ctrl.state.formValidationError }}
              </span>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
