<kubernetes-view-header title="Kubernetes 功能配置" state="portainer.endpoints.endpoint.kubernetesConfig" view-ready="ctrl.state.viewReady">
  <a ui-sref="portainer.endpoints">环境</a> &gt; <a ui-sref="portainer.endpoints.endpoint({id: ctrl.endpoint.Id})">{{ ctrl.endpoint.Name }}</a> &gt; Kubernetes 配置
</kubernetes-view-header>

<kubernetes-view-loading view-ready="ctrl.state.viewReady"></kubernetes-view-loading>

<div ng-if="ctrl.state.viewReady">
  <div class="row">
    <div class="col-sm-12">
      <rd-widget>
        <rd-widget-body>
          <form class="form-horizontal" name="kubernetesClusterSetupForm">
            <div class="col-sm-12 form-section-title">
              联网
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                启用负载均衡器功能将允许用户公开他们通过云提供商分配的外部 IP 地址部署的应用程序。
                <p style="margin-top: 2px;">
                  <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  如果您想使用此功能，请确保您的云提供商允许您创建负载均衡器。 可能会产生费用。
                </p>
              </span>

              <div class="col-sm-12">
                <label class="control-label text-left">
                  允许用户使用外部负载均衡器
                </label>
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="ctrl.formValues.UseLoadBalancer" /><i data-cy="kubeSetup-loadBalancerToggle"></i>
                </label>
              </div>
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                配置入口控制器将允许用户公开他们通过 HTTP 路由部署的应用程序。<br />
                <p style="margin-top: 2px;">
                  <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  必须为要在集群中使用的每个控制器手动指定入口类。 确保每个控制器都在您的集群内运行。
                </p>
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label text-left">入口控制器</label>
                <span class="label label-default interactive" style="margin-left: 10px;" ng-click="ctrl.addIngressClass()" data-cy="kubeSetup-congifIngressButton">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i> 配置入口控制器
                </span>
              </div>

              <div class="col-sm-12 form-inline" style="margin-top: 10px;">
                <div ng-repeat-start="ingressClass in ctrl.formValues.IngressClasses" style="margin-top: 2px;">
                  <div class="col-sm-7 input-group input-group-sm" ng-class="{ striked: ingressClass.NeedsDeletion }">
                    <span class="input-group-addon">入口类</span>
                    <input
                      type="text"
                      class="form-control"
                      name="ingress_class_name_{{ $index }}"
                      ng-model="ingressClass.Name"
                      placeholder="nginx"
                      ng-pattern="/^[a-z]([-a-z0-9]*[a-z0-9])?$/"
                      ng-change="ctrl.onChangeIngressClassName($index)"
                      required
                      data-cy="kubeSetup-ingressClassName"
                    />
                  </div>
                  <div class="col-sm-3 input-group input-group-sm" ng-class="{ striked: ingressClass.NeedsDeletion }">
                    <span class="input-group-addon">类型</span>
                    <select
                      class="form-control"
                      name="ingress_class_type_{{ $index }}"
                      ng-model="ingressClass.Type"
                      ng-options="value as value for (key, value) in ctrl.IngressClassTypes"
                      required
                      data-cy="kubeSetup-ingressType"
                    >
                      <option selected disabled hidden value="">选择类型</option>
                    </select>
                  </div>
                  <div class="col-sm-1 input-group input-group-sm">
                    <button
                      ng-if="!ingressClass.NeedsDeletion"
                      class="btn btn-sm btn-danger"
                      type="button"
                      ng-click="ctrl.removeIngressClass($index)"
                      data-cy="kubeSetup-deleteIngress"
                    >
                      <i class="fa fa-trash-alt" aria-hidden="true"></i>
                    </button>
                    <button ng-if="ingressClass.NeedsDeletion" class="btn btn-sm btn-primary" type="button" ng-click="ctrl.restoreIngressClass($index)">
                      <i class="fa fa-trash-restore" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>

                <div
                  ng-repeat-end
                  ng-show="
                    kubernetesClusterSetupForm['ingress_class_name_' + $index].$invalid ||
                    kubernetesClusterSetupForm['ingress_class_type_' + $index].$invalid ||
                    ctrl.state.duplicates.ingressClasses.refs[$index] !== undefined
                  "
                >
                  <div class="col-sm-7 input-group">
                    <div
                      class="small text-warning"
                      style="margin-top: 5px;"
                      ng-if="kubernetesClusterSetupForm['ingress_class_name_' + $index].$invalid || ctrl.state.duplicates.ingressClasses.refs[$index] !== undefined"
                    >
                      <div ng-messages="kubernetesClusterSetupForm['ingress_class_name_'+$index].$error">
                        <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 入口类名称是必需的。</p>
                        <p ng-message="pattern"
                          ><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 该字段必须由小写字母数字字符或“-”组成，以字母字符开头，以字母数字字符结尾 (例如 'my-name', 或 'abc-123')。</p
                        >
                      </div>
                      <p ng-if="ctrl.state.duplicates.ingressClasses.refs[$index] !== undefined">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 这个入口类已经定义。
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-3 input-group">
                    <div class="small text-warning" style="margin-top: 5px;" ng-if="kubernetesClusterSetupForm['ingress_class_type_' + $index].$invalid">
                      <div ng-messages="kubernetesClusterSetupForm['ingress_class_type_'+$index].$error">
                        <p ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 入口类类型是必需的。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group" ng-if="ctrl.hasTraefikIngress()">
              <span class="col-sm-12 text-muted small">
                <p>
                  <i class="fa fa-flask blue-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  Traefik 支持是实验性的。
                </p>
              </span>
            </div>

            <div class="col-sm-12 form-section-title">
              安全
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                默认情况下，所有用户都可以访问默认namespace。 启用此选项可设置对默认namespace的访问。
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label text-left">
                  限制对默认namespace的访问
                </label>
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="ctrl.formValues.RestrictDefaultNamespace" /><i data-cy="kubeSetup-restrictDefaultNsToggle"></i>
                </label>
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              资源和指标
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                通过启用资源过度使用，您可以为命名空间分配比集群中物理可用的资源更多的资源。 如果没有足够的资源来满足需求，这可能会导致意外的部署失败。
                <p style="margin-top: 2px;">
                  <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  通过禁用资源过度使用（强烈推荐），您只能将资源分配给（总体上）少于集群总数减去任何系统资源预留的命名空间。
                </p>
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <por-switch-field
                  label="Allow resource over-commit"
                  name="resource-over-commit-switch"
                  feature="ctrl.limitedFeature"
                  ng-model="ctrl.formValues.EnableResourceOverCommit"
                  ng-change="ctrl.onChangeEnableResourceOverCommit()"
                  ng-data-cy="kubeSetup-resourceOverCommitToggle"
                ></por-switch-field>
              </div>
            </div>

            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                启用此功能将允许用户使用自动缩放等特定功能并查看容器和节点资源使用情况。
                <p style="margin-top: 2px;">
                  <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  确保 <a href="https://kubernetes.io/docs/tasks/debug-application-cluster/resource-metrics-pipeline/#metrics-server" target="_blank">指标服务器</a> 或
                  <a href="https://github.com/kubernetes-sigs/prometheus-adapter" target="_blank">prometheus</a> 在您的集群中运行。
                </p>
              </span>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label text-left">
                  使用指标 API 启用功能
                </label>
                <label class="switch" style="margin-left: 20px;">
                  <input type="checkbox" ng-model="ctrl.formValues.UseServerMetrics" ng-change="ctrl.enableMetricsServer()" /><i data-cy="kubeSetup-metricsToggle"></i>
                </label>
              </div>
              <div ng-if="ctrl.state.metrics.pending && ctrl.state.metrics.userClick" class="col-sm-12 small text-muted" style="margin-top: 5px;">
                检查指标 API... <i class="fa fa-spinner fa-spin" style="margin-left: 2px;"></i>
              </div>
              <div
                ng-if="!ctrl.state.metrics.pending && ctrl.state.metrics.isServerRunning && ctrl.state.metrics.userClick"
                class="col-sm-12 small text-muted"
                style="margin-top: 5px;"
              >
                <i class="fa fa-check green-icon" aria-hidden="true" style="margin-right: 2px;"></i> 成功达到指标 API
              </div>
              <div
                ng-if="!ctrl.state.metrics.pending && !ctrl.state.metrics.isServerRunning && ctrl.state.metrics.userClick"
                class="col-sm-12 small text-muted"
                style="margin-top: 5px;"
              >
                <i class="fa fa-times red-icon" aria-hidden="true" style="margin-right: 2px;"></i> 无法访问指标 API，请确保指标服务器已正确部署在该集群内。
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              可用的存储选项
            </div>

            <div class="form-group" ng-if="!ctrl.storageClassAvailable()">
              <div class="col-sm-12 small text-muted">
                <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                无法检测到任何可用于持久化数据的存储类。 用户将无法在此集群中保留应用程序数据。
              </div>
            </div>

            <div class="form-group" ng-if="ctrl.storageClassAvailable()">
              <span class="col-sm-12 text-muted small">
                <p>
                  选择部署应用程序时可以使用的存储选项。 查看您的存储驱动程序文档，以确定要配置的访问策略以及是否支持卷扩展功能。
                </p>
                <p>
                  您可以
                  <a href="https://kubernetes.io/docs/concepts/storage/persistent-volumes/#access-modes" target="_blank">在 Kubernetes 官方文档</a>中找到有关访问模式的更多信息。
                </p>
              </span>
            </div>

            <div class="form-group" ng-if="ctrl.storageClassAvailable()">
              <div style="margin-top: 10px;" class="col-sm-12">
                <table class="table" style="table-layout: fixed;">
                  <tbody>
                    <tr class="text-muted">
                      <td>存储</td>
                      <td>共享访问策略</td>
                      <td>存储卷扩展</td>
                    </tr>
                    <tr ng-repeat="class in ctrl.StorageClasses">
                      <td>
                        <div style="margin: 5px;">
                          <label class="switch" style="margin-right: 10px;">
                            <input type="checkbox" ng-model="class.selected" /><i data-cy="kubeSetup-storageToggle{{ class.Name }}"></i>
                          </label>
                          <span>{{ class.Name }}</span>
                        </div>
                      </td>
                      <td>
                        <span
                          isteven-multi-select
                          input-model="class.availableAccessModes"
                          output-model="class.AccessModes"
                          button-label="Name"
                          item-label="Description"
                          tick-property="selected"
                          directive-id="{{ class.Name }}"
                          helper-elements=""
                          translation="{nothingSelected: 'Not configured'}"
                          data-cy="kubeSetup-storageAccessSelect{{ class.Name }}"
                        >
                        </span>
                      </td>
                      <td>
                        <div style="margin: 5px;">
                          <label class="switch"
                            ><input type="checkbox" ng-model="class.AllowVolumeExpansion" /><i data-cy="kubeSetup-storageExpansionToggle{{ class.Name }}"></i>
                          </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-12">
                <span ng-if="!ctrl.hasValidStorageConfiguration()" style="margin-left: 5px;" class="text-muted small">
                  <i class="fa fa-exclamation-circle orange-icon" aria-hidden="true" style="margin-right: 2px;"></i>
                  需要共享访问策略配置
                </span>
              </div>
            </div>

            <div class="col-sm-12 form-section-title">
              操作
            </div>
            <!-- actions -->
            <div class="form-group">
              <div class="col-sm-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-sm"
                  ng-click="ctrl.configure()"
                  ng-disabled="ctrl.state.actionInProgress || !kubernetesClusterSetupForm.$valid || !ctrl.hasValidStorageConfiguration()"
                  button-spinner="ctrl.state.actionInProgress"
                  analytics-on
                  analytics-if="ctrl.restrictDefaultToggledOn()"
                  analytics-category="kubernetes"
                  analytics-event="kubernetes-configure"
                  analytics-properties="{ metadata: { restrictAccessToDefaultNamespace: ctrl.formValues.RestrictDefaultNamespace } }"
                  data-cy="kubeSetup-saveConfigurationButton"
                >
                  <span ng-hide="ctrl.state.actionInProgress">保存配置</span>
                  <span ng-show="ctrl.state.actionInProgress">保存配置中...</span>
                </button>
              </div>
            </div>
          </form>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
