<rd-header>
  <rd-header-title title-text="设置"></rd-header-title>
  <rd-header-content>设置</rd-header-content>
</rd-header>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-cogs" title-text="应用程序设置"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal">
          <!-- snapshot-interval -->
          <div class="form-group">
            <label for="snapshot_interval" class="col-sm-2 control-label text-left">快照间隔</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" ng-model="settings.SnapshotInterval" id="snapshot_interval" placeholder="例如 15m" />
            </div>
          </div>
          <!-- !snapshot-interval -->
          <!-- logo -->
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_logo" class="control-label text-left">
                使用自定义logo
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" name="toggle_logo" ng-model="formValues.customLogo" /><i></i> </label>
            </div>
          </div>
          <div ng-if="formValues.customLogo">
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
              您可以在此处指定logo的URL。为了达到最佳显示效果，徽标尺寸应为155像素* 55像素。
            </span>
            </div>
            <div class="form-group">
              <label for="logo_url" class="col-sm-1 control-label text-left">
                URL
              </label>
              <div class="col-sm-11">
                <input type="text" class="form-control" ng-model="settings.LogoURL" id="logo_url" placeholder="https://mycompany.com/logo.png" />
              </div>
            </div>
          </div>
          <!-- !logo -->
          <!-- templates -->
          <div class="col-sm-12 form-section-title">
            应用模板仓库
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_templates" class="control-label text-left">
                使用外部模板
                <portainer-tooltip position="bottom" message="使用外部模板时，应用内模板管理将被禁用。"></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" name="toggle_templates" ng-model="formValues.externalTemplates" /><i></i> </label>
            </div>
          </div>
          <div ng-if="formValues.externalTemplates">
            <div class="form-group">
              <span class="col-sm-12 text-muted small">
                您可以在此处指定您自己的模板定义文件的 URL。 看
                 <a href="https://portaier.readthedocs.io/en/stable/templates.html" target="_blank">Portainer 文档</a>了解更多详情。
              </span>
            </div>
            <div class="form-group">
              <label for="templates_url" class="col-sm-1 control-label text-left">
                URL
              </label>
              <div class="col-sm-11">
                <input type="text" class="form-control" ng-model="settings.TemplatesURL" id="templates_url" placeholder="https://myserver.mydomain/templates.json" />
              </div>
            </div>
          </div>
          <!-- !templates -->
          <!-- security -->
          <div class="col-sm-12 form-section-title">
            安全
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_allowbindmounts" class="control-label text-left">
                为非管理员禁用绑定挂载
                <portainer-tooltip position="bottom" message="启用后，普通用户在创建容器时将无法使用绑定安装。"></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" name="toggle_allowbindmounts" ng-model="formValues.restrictBindMounts" /><i></i> </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_allowbindmounts" class="control-label text-left">
                为非管理员禁用特权模式
                <portainer-tooltip position="bottom" message="启用后，普通用户在创建容器时将无法使用特权模式。"></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" name="toggle_allowbindmounts" ng-model="formValues.restrictPrivilegedMode" /><i></i> </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_allowvolumebrowser" class="control-label text-left">
                为非管理员启用存储卷管理
                <portainer-tooltip
                  position="bottom"
                  message="启用后，来自 RBAC 扩展的非管理员用户和具有帮助台、标准和只读角色的用户将能够使用 Portainer 卷管理功能。"
                ></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;"> <input type="checkbox" name="toggle_allowvolumebrowser" ng-model="formValues.enableVolumeBrowser" /><i></i> </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_enableHostManagementFeatures" class="control-label text-left">
                启用主机管理功能
                <portainer-tooltip
                  position="bottom"
                  message="启用主机管理功能：主机调度程序、主机浏览和命令执行。 在部署 Portainer 代理以使用其中一些功能时，您需要设置 CAP_HOST_MANAGEMENT 变量。"
                ></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_enableHostManagementFeatures" ng-model="formValues.enableHostManagementFeatures" /><i></i>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_disableStackManagementForRegularUsers" class="control-label text-left">
                禁止非管理员使用堆栈
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_disableStackManagementForRegularUsers" ng-model="formValues.disableStackManagementForRegularUsers" /><i></i>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_allowHostNamespaceForRegularUsers" class="control-label text-left">
                禁止非管理员使用主机 PID 1
                <portainer-tooltip position="bottom" message="防止用户通过主机 PID 命名空间访问主机文件系统。"></portainer-tooltip>
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_allowHostNamespaceForRegularUsers" ng-model="formValues.restrictHostNamespaceForRegularUsers" /><i></i>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_disableDeviceMappingForRegularUsers" class="control-label text-left">
                为非管理员禁用设备映射
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_disableDeviceMappingForRegularUsers" ng-model="formValues.disableDeviceMappingForRegularUsers" /><i></i>
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_disableContainerCapabilitiesForRegularUsers" class="control-label text-left">
                为非管理员禁用容器功能
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_disableContainerCapabilitiesForRegularUsers" ng-model="formValues.disableContainerCapabilitiesForRegularUsers" /><i></i>
              </label>
            </div>
          </div>

          <div class="form-group" ng-if="isContainerEditDisabled()">
            <span class="col-sm-12 text-muted small">
              注意：重新创建/复制/编辑功能当前被一项或多项安全设置禁用（对于非管理员用户）。
            </span>
          </div>
          <!-- !security -->
          <!-- edge -->
          <div class="col-sm-12 form-section-title">
            Edge Compute
          </div>
          <div class="form-group">
            <label for="edge_checkin" class="col-sm-2 control-label text-left">
              Edge 代理刷新频率
              <portainer-tooltip position="bottom" message="指定每个 Edge 代理使用 Portainer 实例签入的时间间隔"></portainer-tooltip>
            </label>
            <div class="col-sm-10">
              <select
                id="edge_checkin"
                class="form-control"
                ng-model="settings.EdgeAgentCheckinInterval"
                ng-options="+(opt.value) as opt.key for opt in state.availableEdgeAgentCheckinOptions"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <label for="toggle_enableEdgeComputeFeatures" class="control-label text-left">
                启用 edge 计算功能
              </label>
              <label class="switch" style="margin-left: 20px;">
                <input type="checkbox" name="toggle_enableEdgeComputeFeatures" ng-model="formValues.enableEdgeComputeFeatures" /><i></i>
              </label>
            </div>
          </div>
          <!-- !edge -->
          <!-- actions -->
          <div class="form-group">
            <div class="col-sm-12">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                ng-click="saveApplicationSettings()"
                ng-disabled="state.actionInProgress"
                button-spinner="state.actionInProgress"
              >
                <span ng-hide="state.actionInProgress">保存设置</span>
                <span ng-show="state.actionInProgress">保存中...</span>
              </button>
            </div>
          </div>
          <!-- !actions -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <rd-widget>
      <rd-widget-header icon="fa-tags" title-text="隐藏的容器"></rd-widget-header>
      <rd-widget-body>
        <form class="form-horizontal" ng-submit="addFilteredContainerLabel()" name="addTagForm">
          <div class="form-group">
            <span class="col-sm-12 text-muted small">
              您可以在 Portainer UI 中隐藏带有特定标签的容器。 您需要指定标签名称和值。
            </span>
          </div>
          <div class="form-group">
            <label for="header_name" class="col-sm-1 control-label text-left">名称</label>
            <div class="col-sm-11 col-md-4">
              <input type="text" required class="form-control" id="header_name" name="label_name" ng-model="formValues.labelName" placeholder="例如 com.example.foo" />
            </div>
            <label for="header_value" class="col-sm-1 margin-sm-top control-label text-left">Value</label>
            <div class="col-sm-11 col-md-4 margin-sm-top">
              <input type="text" class="form-control" id="header_value" ng-model="formValues.labelValue" placeholder="例如 bar" />
            </div>
            <div class="col-sm-12 col-md-2 margin-sm-top">
              <button type="submit" class="btn btn-primary btn-sm" ng-disabled="!formValues.labelName"><i class="fa fa-plus space-right" aria-hidden="true"></i>添加过滤</button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12 table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>名称</th>
                    <th>Value</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="label in settings.BlackListedLabels">
                    <td>{{ label.name }}</td>
                    <td>{{ label.value }}</td>
                    <td
                      ><button type="button" class="btn btn-danger btn-xs" ng-click="removeFilteredContainerLabel($index)"
                        ><i class="fa fa-trash-alt space-right" aria-hidden="true"></i>删除</button
                      ></td
                    >
                  </tr>
                  <tr ng-if="settings.BlackListedLabels.length === 0">
                    <td colspan="3" class="text-center text-muted">没有可用的过滤器。</td>
                  </tr>
                  <tr ng-if="!settings.BlackListedLabels">
                    <td colspan="3" class="text-center text-muted">加载中...</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- !filtered-labels -->
        </form>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
