<page-header title="'自定义模板'" breadcrumbs="['Custom Templates']" reload="true"> </page-header>

<div class="row">
  <stack-from-template-form
    ng-if="$ctrl.state.selectedTemplate"
    template="$ctrl.state.selectedTemplate"
    form-values="$ctrl.formValues"
    name-regex="$ctrl.state.templateNameRegex"
    state="$ctrl.state"
    create-template="$ctrl.createStack"
    unselect-template="$ctrl.unselectTemplate"
  >
    <advanced-form>
      <custom-templates-variables-field
        ng-if="$ctrl.isTemplateVariablesEnabled"
        definitions="$ctrl.state.selectedTemplate.Variables"
        value="$ctrl.formValues.variables"
        on-change="($ctrl.onChangeTemplateVariables)"
      ></custom-templates-variables-field>

      <div class="form-group">
        <div class="col-sm-12">
          <a class="small interactive vertical-center" ng-show="!$ctrl.state.showAdvancedOptions" ng-click="$ctrl.state.showAdvancedOptions = true;">
            <pr-icon icon="'plus'" class-name="space-right" feather="true"></pr-icon> 自定义堆栈
          </a>
          <a class="small interactive vertical-center" ng-show="$ctrl.state.showAdvancedOptions" ng-click="$ctrl.state.showAdvancedOptions = false;">
            <pr-icon icon="'minus'" class-name="space-right" feather="true"></pr-icon> 隐藏自定义堆栈
          </a>
        </div>
      </div>
      <!-- web-editor -->
      <web-editor-form
        ng-if="$ctrl.state.showAdvancedOptions"
        identifier="custom-template-creation-editor"
        value="$ctrl.formValues.fileContent"
        on-change="($ctrl.editorUpdate)"
        ng-required="true"
        yml="true"
        placeholder="# 在这里定义或粘贴你的docker compose文件的内容"
      >
        <editor-description>
          <span class="col-sm-12 text-muted">
            你可以在
            <a href="https://docs.docker.com/compose/compose-file/" target="_blank"> 官方文档 </a>
            中获得更多有关 Compose 文件格式的信息。
          </span>
        </editor-description>
      </web-editor-form>
      <!-- !web-editor -->
    </advanced-form>
  </stack-from-template-form>
</div>
<div class="row">
  <div class="col-sm-12">
    <custom-templates-list
      ng-if="$ctrl.templates"
      title-text="Templates"
      title-icon="edit"
      templates="$ctrl.templates"
      table-key="customTemplates"
      create-path="docker.templates.custom.new"
      edit-path="docker.templates.custom.edit"
      is-edit-allowed="$ctrl.isEditAllowed"
      on-select-click="($ctrl.selectTemplate)"
      on-delete-click="($ctrl.confirmDelete)"
    ></custom-templates-list>
  </div>
</div>
